<app-menu></app-menu>
<app-innear-header></app-innear-header>

<section class="profileSec">
  
  <div class="container py-5">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12">
        <h3>{{ 'WEBSITE.OURCOMMISSION' | translate}}</h3>
        <p>{{ 'WEBSITE.OURCOMMISSION-DESC' | translate}}</p>
      </div>
    </div>

    <div class="row row1">
      <div class="col-12 col-md-6 col-lg-6">
        <h3>{{ 'WEBSITE.MISSION' | translate}}</h3>
        <p>Poder otorgarle los recursos a la sociedad civil de Puerto Rico que es representada por cerca de seis mil trescientos setenta y ocho (6,378) OSFL, que proveen servicios esenciales a poblaciones con necesidades diversas, tales como: infantes, niños, jóvenes, mujeres, hombres, familias, LGBTT, personas de edad avanzada, y confinados; además de reconocer de esta forma la contribución indispensable que estas organizaciones realizan diariamente para mitigar la crisis social y fortalecer la cultura cívica de Puerto Rico.</p>
      </div>
      <div class="col-12 col-md-6 col-lg-6">
        <h3>{{ 'WEBSITE.VISSION' | translate}}</h3>
        <p>Ser un brazo gubernamental albergado en el poder legislativo del Gobierno de Puerto Rico donde se pueda colocar las herramientas para que las entidades no gubernamentales de servicios a nuestra sociedad encuentren una mano colaboradora que redunde en servicios directos a nuestro pueblo en que aquellas &aacute;reas que el brazo gubernamental por asuntos din&aacute;micos, no pueden otorgar de manera oportuna a la sociedad.&nbsp;</p>
      </div>
    </div>
  </div>

  <div *ngIf="language == 'en'" [innerHTML]="commissionData[0]?.description_en"></div>
  <div *ngIf="language == 'es'" [innerHTML]="commissionData[0]?.description_es"></div>

</section>
<section class="" style="z-index: 0; position: relative; background-attachment: scroll; background-size: cover;">
<!--  <div class="mbr-overlay" style="background-color: rgb(239, 239, 239);">-->
<!--  </div>-->
  <div class="container-fluid" style="padding-top: 0px; padding-bottom: 0px;">
    <div class="align-center">
      <div class="row media-container-row">
        <div class="card col-6 col-md-4 col-lg-3">
          <div class="card-img pb-3">
            <i class="fa fa-users" aria-hidden="true"></i>
          </div>
          <div class="card-box">
            <h4 class="card-title mbr-fonts-style mbr-bold display-5">
              {{ 'KEY.Organigrama' | translate }}</h4>
            <a class="btn btn-sm btn-primary btn-bgr" (click)="navigate('/pages/organigrama')">{{ 'GLOBAL.DOWNLOAD' | translate }}</a>
          </div>
        </div>
        <div class="card col-6 col-md-4 col-lg-3">
          <div class="card-img pb-3">
            <i class="fa fa-address-card" aria-hidden="true"></i>
          </div>
          <div class="card-box">
            <h4 class="card-title mbr-fonts-style mbr-bold display-5">
              {{ 'KEY.Directorio' | translate }}</h4>
            <a class="btn btn-sm btn-primary btn-bgr" href="assets/files/directorio_osfl_2015_2016.pdf">{{ 'GLOBAL.DOWNLOAD' | translate }}</a>
          </div>
        </div>
        <div class="card col-6 col-md-4 col-lg-3">
          <div class="card-img pb-3">
            <i class="fa fa-balance-scale" aria-hidden="true"></i>
          </div>
          <div class="card-box">
            <h4 class="card-title mbr-fonts-style mbr-bold display-5">
              {{ 'KEY.Resolución' | translate }}</h4>
            <a class="btn btn-sm btn-primary btn-bgr" href="assets/files/Resolución Conjunta-98-01-Ago-2019.pdf">{{ 'GLOBAL.DOWNLOAD' | translate }}</a>
          </div>
        </div>
        <div class="card col-6 col-md-4 col-lg-3">
          <div class="card-img pb-3">
            <i class="fa fa-file-o" aria-hidden="true"></i>
          </div>
          <div class="card-box">
            <h4 class="card-title mbr-fonts-style mbr-bold display-5">
              {{ 'KEY.OtherDocuments' | translate }}</h4>
            <a class="btn btn-sm btn-primary btn-bgr" (click)="navigate('/pages/other-documents')">{{ 'GLOBAL.VIEWMORE' | translate }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-contact></app-contact>
<app-footer-website></app-footer-website>
