.botMar{
    margin-bottom: 150px;
}
h3{
    color:#000;
}
.card {
    background-color: transparent;
    border: none;
}
 .mbr-iconfont {
    color: #4284df;
}
.card-box {
    text-align: center;
}
.card-box .btn{
    background: #eaaa2d;
    border: 0;
    border-radius: 40px;
    font-size: 12px;
    line-height: 33px;
    padding: 0 20px;
    color: #000;
    margin-top: 0;
    font-weight:normal
}

.mbr-overlay {
    background-color: #000;
    bottom: 0;
    left: 0;
    opacity: .8;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}

.media-container-row{
	.col,
    [class*="col-"]{
        margin-bottom: 50px;
    }
}

.media-container-row{
	.card-title {
		font-size:20px;
		color: #4e4e4e;
		font-weight: 500;
	}
	.fa{
		font-size: 40px;
		color: #800020;
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
	}
}


.card {
  background-color: transparent;
  border: none; }

.card-img {
  text-align: center;
  flex-shrink: 0; }

.media {
  max-width: 100%;
  margin: 0 auto; }

.mbr-figure {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center; }

.media-container > div {
  max-width: 100%; }

.mbr-figure img, .card-img img {
  width: 100%; 
}



@media (max-width: 991px) {
  .media-size-item {
    width: auto !important; }

  .media {
    width: auto; }

  .mbr-figure {
    width: 100% !important; } 
}

@media screen and (max-width:992px) and (min-width:768px) {
	.media-container-row{
		.card-title {
			font-size:18px;
		}
		.fa{
			font-size: 35px;
		}
	}
}

@media screen and (max-width:767px) and (min-width:300px) {
	.media-container-row{
		.card-title {
			font-size:16px;
		}
		.fa{
			font-size: 30px;
		}
	}
}