<app-menu></app-menu>
<app-innear-header></app-innear-header>

<div class="container py-4">
	<div class="row contentPanel">
		<div class="col-12">
			<h2 *ngIf="language == 'en'">{{ newsData[0]?.NewsTitle }}</h2>
			<h2 *ngIf="language == 'es'">{{ newsData[0]?.NewsTitleSpanish }}</h2>
		</div>
		<div class="col-12 col-lg-5 col-md-5">
			<img [src]="getImgUrl(newsData[0]?.news_documents[0]?.doc_path)" alt="Random first slide">
		</div>
		<div class="col-12 col-lg-7 col-md-7">
			<div *ngIf="language == 'en'">
				<span [innerHTML]="newsData[0]?.NewsBody"></span></div>
			<div *ngIf="language == 'es'">
				<span [innerHTML]="newsData[0]?.NewsBodySpanish"></span>
			</div>
		</div>
	</div>
</div>
<app-footer-website></app-footer-website>