<mat-toolbar color="primary">
  <span class="mat-title m-a-0 mat-subheading-2"> {{ 'ADMINUSER.VIEW_USER.TITLE' | translate }}</span>
  <span fxFlex></span>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-dialog-content class="p-y">

  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="userInfo.hasOwnProperty('admin_first_name') && userInfo.admin_first_name != '' || userInfo.admin_first_name != null ? userInfo.admin_first_name : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="First Name">
    </mat-form-field>
  </div>

  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="userInfo.hasOwnProperty('admin_last_name') && userInfo.admin_last_name != '' || userInfo.admin_last_name != null ? userInfo.admin_last_name : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="Last Name">
    </mat-form-field>
  </div>

  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="userInfo.hasOwnProperty('admin_phone') && userInfo.admin_phone != '' || userInfo.admin_phone != null ? userInfo.admin_phone : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="Phone Number">
    </mat-form-field>
  </div>

  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="userInfo.hasOwnProperty('roleId') && userInfo.role.roleName != '' ||  userInfo.role.roleName != null ? (userInfo.role.roleName) : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="Role Name">
    </mat-form-field>
  </div>

  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="userInfo.hasOwnProperty('admin_state') && userInfo.state != '' || userInfo.admin_state != null ? userInfo.state.state : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="State">
    </mat-form-field>
  </div>

  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="userInfo.hasOwnProperty('admin_city') && userInfo.state != '' || userInfo.admin_city != null ? userInfo.city.city : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="City">
    </mat-form-field>
  </div>

  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="userInfo.hasOwnProperty('admin_address') && userInfo.state != '' || userInfo.admin_address != null ? userInfo.admin_address : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="Address">
    </mat-form-field>
  </div>

  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="userInfo.hasOwnProperty('lga') && userInfo.lga != '' || userInfo.lga != null ? userInfo.lga : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="Lga">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <label class="mat-subheading-1">Status</label>
    <mat-radio-group disabled>
      <mat-radio-button class="m-x" *ngIf="userInfo.activeStatus==1">Active</mat-radio-button>
      <mat-radio-button class="m-x" *ngIf="userInfo.activeStatus==0">Deactive</mat-radio-button>
    </mat-radio-group>
  </div>


</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="end start">
  <button mat-button mat-dialog-close color="warn">{{ 'GLOBAL.CLOSE' | translate }}</button>
</mat-dialog-actions>
<mat-progress-bar *ngIf="showLoader" mode="indeterminate" color="accent" class="loader left bottom"></mat-progress-bar>
