h1 {
    font-size: 30px;
    font-weight: 600;
}

/*header*/
.logo {
    margin-bottom: 40px;
    width: 20%;
    position: absolute;
    top: 10px;
    left: 39px;
}

.headerdiv{
	// background:url(src/assets/images/header_rept_blueimg.jpg) repeat-x 0 0;
	height: 100%;
	padding-bottom: 40px;
}

@media (min-width: 360px) and (max-width: 768px) {
	.logo {
		width:30%;
		left:14px;
	}
}
/*header*/ 
.postadd{
    display: inline-block;
}
.custom-checkbox{
    display: inline-block;
    margin-left: 10px;  
}
.custom-control-label{
    font-weight: normal;
    line-height: 25px;
}
.registation input[type="text"], .registation input[type="email"], .registation input[type="number"]{
    box-shadow: none;
}
.newselect-style{
    box-shadow: none;
}
.select-style select{
    color: #94908b;
}
.statediv{
    margin-top:18px;
}
.prradio{
    text-align: center;
}

@media (min-width: 360px) and (max-width: 768px) {
.custom-checkbox{
    margin-bottom: 10px;
}
.citygroup{
  height: 100%;
    overflow:hidden;
}
.statediv{
    margin-top:0px;
}
.prradio{
    text-align: left;
}


}