<div class="container-fluid resourcesBg scrollSection" id="resources">
        <div class="row">
            <div class="titleWrap">
                <h2>Resources</h2>
            </div>
            <p>Strategic plan List of documents to download and Foundations Directory List of documents to download</p>
            <div class="btnContainer">
                <a href="#" class="btn btn1"><span class="icon-stategic"></span>Strategic Plan</a>
                <a href="#" class="btn btn2"><span class="icon-foundation"></span>Foundation Directory</a>
            </div>
        </div>
    </div>
