<div class="container-fluid pagewrapper">
	<div class="row">
		<div class="col-md-12  headerdiv">
			<div class="outer_heading">
				<div class="heading" *ngIf="router.url == '/post-auth/project'">
					<h1>PROJECT<span></span></h1>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="formbody bodywrapper">

	<form class="example-form" [formGroup]="addProjectform" (ngSubmit)="addProject(addProjectform.value)">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label>{{'Project.ProjectName(English)'|translate}} </label>
						<input type="hidden" name="UpdatedBy" value="1">
						<input type="text" class="form-control" formControlName="projectNameEn" id=""
							placeholder="{{'Project.EnterProjectName(English)'|translate}}">
						<small
							*ngIf="formSubmit && projectNameEn.errors || (projectNameEn.errors && (projectNameEn.dirty || projectNameEn.touched))"
							class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label>{{'Project.ProjectName(Spanish)'|translate}}</label>
						<input type="hidden" name="UpdatedBy" value="1">
						<input type="text" class="form-control" formControlName="projectNameEs" id=""
							placeholder="{{'Project.EnterProjectName(Spanish)'|translate}}">
						<small
							*ngIf="formSubmit && projectNameEs.errors || (projectNameEs.errors && (projectNameEs.dirty || projectNameEs.touched))"
							class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label>{{'Project.StartDate'|translate}}</label>
						<input [owlDateTimeTrigger]="dt" formControlName="startDate" class="form-control"
							[owlDateTime]="dt" (dateTimeChange)="checkDateTime($event)" readonly>
						<owl-date-time #dt [pickerType]="'calendar'"></owl-date-time>

						<small
							*ngIf="formSubmit && startDate.errors || (startDate.errors && (startDate.dirty || startDate.touched))"
							class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>

					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label>{{'Project.EndDate'|translate}}</label>
						<input [owlDateTimeTrigger]="dt1" [min]="selectedDate" formControlName="endDate"
							class="form-control" [owlDateTime]="dt1" readonly>
						<owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
						<small
							*ngIf="formSubmit && endDate.errors || (endDate.errors && (endDate.dirty || endDate.touched))"
							class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>

					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label>{{'Project.Period'|translate}}</label>
						<div class="select-style newselect-style">
							<select formControlName="period" class="city">
								<option value="">{{'Project.SelectPeriod'|translate}}</option>
								<option value="2018-19">2018-19</option>
								<option value="2019-20">2018-19</option>
								<option value="2020-21">2020-21</option>
								<option value="2021-22">2021-22</option>
							</select>
						</div>
						<small
							*ngIf="formSubmit && period.errors || (period.errors && (period.dirty || period.touched))"
							class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label>{{'Project.Status'|translate}}</label>
						<div class="custom-control custom-radio custom-control-inline statediv">
							<input type="radio" formControlName="status" class="custom-control-input" id="Active"
								value="1">
							<label class="custom-control-label" for="Active">{{'Project.Active'|translate}}</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline statediv">
							<input type="radio" class="custom-control-input" id="Inactive" formControlName="status"
								value="0">
							<label class="custom-control-label" for="Inactive">{{'Project.Inactive'|translate}}</label>
						</div>
						<br>
						<small
							*ngIf="formSubmit && status.errors || (status.errors && (status.dirty || status.touched))"
							class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>

					</div>
				</div>
			</div>
			<input *ngIf="projectId == 0" name="register" type="submit" value="{{'Project.AddProject'|translate}}"
				class="registerbutt newspub">
			<input *ngIf="projectId > 0" name="register" type="submit" value="{{'Project.EditProject'|translate}}"
				class="registerbutt newspub">
		</div>
	</form>
</div>
<ngx-ui-loader [fgsType]="spinnerType"></ngx-ui-loader>