<app-menu></app-menu>
<app-innear-header></app-innear-header>
<section class="features9" style="z-index: 0; position: relative; background-attachment: scroll; background-size: cover;">
  <div class="mbr-overlay" style="background-color: rgb(239, 239, 239);">
  </div>
  <div class="container-fluid" style="padding-top: 0px; padding-bottom: 0px;">
    <div class="align-center">
      <div class="row media-container-row">
        <div class="card col-6 col-md-4 col-lg-3">
          <div class="card-img pb-3">
            <i class="fa fa-users" aria-hidden="true"></i>
          </div>
          <div class="card-box">
            <h4 class="card-title mbr-fonts-style mbr-bold display-5">
              {{ 'KEY.Organigrama' | translate }}</h4>
            <a class="btn btn-sm btn-primary btn-bgr" (click)="navigate('/pages/organigrama')">{{ 'GLOBAL.DOWNLOAD' | translate }}</a>
          </div>
        </div>
        <div class="card col-6 col-md-4 col-lg-3">
          <div class="card-img pb-3">
            <i class="fa fa-desktop" aria-hidden="true"></i>
          </div>
          <div class="card-box">
            <h4 class="card-title mbr-fonts-style mbr-bold display-5">
              {{ 'KEY.Orientaciones' | translate }}</h4>
            <a class="btn btn-sm btn-primary btn-bgr" href="assets/files/Presentacion 20-21 2.pdf">{{ 'GLOBAL.DOWNLOAD' | translate }}</a>
          </div>
        </div>
        <div class="card col-6 col-md-4 col-lg-3">
          <div class="card-img pb-3">
            <i class="fa fa-question-circle-o" aria-hidden="true"></i>
          </div>
          <div class="card-box">
            <h4 class="card-title mbr-fonts-style mbr-bold display-5">
              {{ 'KEY.Preguntas' | translate }}</h4>
            <a class="btn btn-sm btn-primary btn-bgr" (click)="navigate('/faq-details')">{{ 'GLOBAL.VIEWMORE' | translate }}</a>
          </div>
        </div>
        <div class="card col-6 col-md-4 col-lg-3">
          <div class="card-img pb-3">
            <i class="fa fa-bell" aria-hidden="true"></i>
          </div>
          <div class="card-box">
            <h4 class="card-title mbr-fonts-style mbr-bold display-5">
              {{ 'KEY.Comunicaciones' | translate }}&nbsp;</h4>
            <a class="btn btn-sm btn-primary btn-bgr" href="assets/files/Carta entidades Erradicacion de Pobreza Infantil-3.pdf">{{ 'GLOBAL.DOWNLOAD' | translate }}</a>
          </div>
        </div>
        <div class="card col-6 col-md-4 col-lg-3">
          <div class="card-img pb-3">
            <i class="fa fa-file" aria-hidden="true"></i>
          </div>
          <div class="card-box">
            <h4 class="card-title mbr-fonts-style mbr-bold display-5">
              {{ 'KEY.Ley 20' | translate }}</h4>
            <a class="btn btn-sm btn-primary btn-bgr" href="assets/files/Ley 20 de 2015 (Rev. 15 septiembre 2017).pdf">{{ 'GLOBAL.DOWNLOAD' | translate }}</a>
          </div>
        </div>
        <div class="card col-6 col-md-4 col-lg-3">
          <div class="card-img pb-3">
            <i class="fa fa-address-card" aria-hidden="true"></i>
          </div>
          <div class="card-box">
            <h4 class="card-title mbr-fonts-style mbr-bold display-5">
              {{ 'KEY.Directorio' | translate }}</h4>
            <a class="btn btn-sm btn-primary btn-bgr" href="assets/files/directorio_osfl_2015_2016.pdf">{{ 'GLOBAL.DOWNLOAD' | translate }}</a>
          </div>
        </div>
        <div class="card col-6 col-md-4 col-lg-3">
          <div class="card-img pb-3">
            <i class="fa fa-file-o" aria-hidden="true"></i>
          </div>
          <div class="card-box">
            <h4 class="card-title mbr-fonts-style mbr-bold display-5">
              {{ 'KEY.Plantillas' | translate }}</h4>
            <a class="btn btn-sm btn-primary btn-bgr" (click)="navigate('/pages/plantillas')">{{ 'GLOBAL.DOWNLOAD' | translate }}</a>
          </div>
        </div>
        <div class="card col-6 col-md-4 col-lg-3">
          <div class="card-img pb-3">
            <i class="fa fa-exclamation" aria-hidden="true"></i>
          </div>
          <div class="card-box">
            <h4 class="card-title mbr-fonts-style mbr-bold display-5">
              {{ 'KEY.Reglamento' | translate }}</h4>
            <a class="btn btn-sm btn-primary btn-bgr" href="assets/files/REGLAMENTO ley 20.pdf">{{ 'GLOBAL.DOWNLOAD' | translate }}</a>
          </div>
        </div>
        <div class="card col-6 col-md-4 col-lg-3">
          <div class="card-img pb-3">
            <i class="fa fa-balance-scale" aria-hidden="true"></i>
          </div>
          <div class="card-box">
            <h4 class="card-title mbr-fonts-style mbr-bold display-5">
              {{ 'KEY.Resolución' | translate }}</h4>
            <a class="btn btn-sm btn-primary btn-bgr" href="assets/files/Resolución Conjunta-98-01-Ago-2019.pdf">{{ 'GLOBAL.DOWNLOAD' | translate }}</a>
          </div>
        </div>
        <div class="card col-6 col-md-4 col-lg-3">
          <div class="card-img pb-3">
            <i class="fa fa-user" aria-hidden="true"></i>
          </div>
          <div class="card-box">
            <h4 class="card-title mbr-fonts-style mbr-bold display-5">
              {{ 'KEY.UserGuides' | translate }}</h4>
            <a class="btn btn-sm btn-primary btn-bgr" href="assets/files/Guia de Usuario CECFL.pdf">{{ 'GLOBAL.DOWNLOAD' | translate }}</a>
          </div>
        </div>
        <div class="card col-6 col-md-4 col-lg-3">
          <div class="card-img pb-3">
            <i class="fa fa-pencil-square" aria-hidden="true"></i>
          </div>
          <div class="card-box">
            <h4 class="card-title mbr-fonts-style mbr-bold display-5">
              {{ 'KEY.StrategicPlan' | translate }}</h4>
            <a class="btn btn-sm btn-primary btn-bgr" (click)="navigate('/pages/strategic-plan')">{{ 'GLOBAL.VIEWMORE' | translate }}</a>
          </div>
        </div>
        <div class="card col-6 col-md-4 col-lg-3">
          <div class="card-img pb-3">
            <i class="fa fa-file-o" aria-hidden="true"></i>
          </div>
          <div class="card-box">
            <h4 class="card-title mbr-fonts-style mbr-bold display-5">
              {{ 'KEY.OtherDocuments' | translate }}</h4>
            <a class="btn btn-sm btn-primary btn-bgr" (click)="navigate('/pages/other-documents')">{{ 'GLOBAL.VIEWMORE' | translate }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="profileSec">
  <div *ngIf="language == 'en'" [innerHTML]="commissionData[0]?.description_en"></div>
  <div *ngIf="language == 'es'" [innerHTML]="commissionData[0]?.description_es"></div>
  <!-- <div class="container py-5">
		<div class="row row1">
			<div class="col-12 col-md-7 col-lg-7">
				<h3>Hon. Antonio "Tony" Soto Torres</h3>
				<p>Co-Chair Special Joint Commission of Legislative Funds for Community Impact</p>
				<p>Chairman of the Committee on Finance, Budget and PROMESA <br>
					House of Representatives
				</p>
				<a href="http://tucamarapr.org/dnncamara/web/ComposiciondelaCamara/biografia.aspx?rep=61" target="_blank"
					class="btn">View profile</a>
			</div>
			<div class="col-12 col-md-5 col-lg-5"><img src="assets/images/fotorepantoniosototorres.jpg" alt="" /></div>
		</div>
		<div class="row row2">
			<div class="col-12 col-md-5 col-lg-5 imgPan"><img src="assets/images/img-20180309-wa0005.jpg" alt="" />
			</div>
			<div class="col-12 col-md-7 col-lg-7 txtPan">
				<h3>Hon. Migdalia Padilla Alvelo</h3>
				<p>Co-Chair Special Joint Commission of Legislative Funds for Community Impact</p>
				<p>President of the Finance Commission Puerto Rico Senate</p>
				<a href="https://senado.pr.gov/Pages/Senators/HON--MIGDALIA-PADILLA-ALVELO.aspx"
					target="_blank" class="btn">View profile</a>
			</div>
		</div>
	</div> -->
</section>
<app-contact></app-contact>
<app-footer-website></app-footer-website>
