<mat-toolbar color="primary">
  <span class="mat-title m-a-0">{{ 'ADMINUSER.ADD_USER.TITLE' | translate }}</span>
  <span fxFlex></span>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<form class="example-form" [formGroup]="addAdminUserform" (ngSubmit)="addAdminUser(addAdminUserform.value)">

  <mat-dialog-content class="p-y">
    <div fxLayout.gt-xs="row" fxLayout.xs="column">
      <!-- Select role start -->
      <mat-form-field fxFlex color="accent" class="m-b">
        <mat-select placeholder="{{'ADMINUSER.ADD_USER.ROLE' | translate}}" formControlName="roleId"
          >
          <mat-option *ngFor="let role of RoleListing" [value]="role.id">
            {{role.roleName}}
          </mat-option>
        </mat-select>
        <mat-error>
          {{'ADMINUSER.ADD_USER.ROLE_ERROR' | translate}}
        </mat-error>
      </mat-form-field>
      <span fxFlex="5" fxHide.xs></span>
      <mat-form-field fxFlex color="accent" class="m-b">
        <input matInput placeholder=" {{'ADMINUSER.ADD_USER.EMAIL_ID' | translate}} *" formControlName="email">
        <mat-error>
          {{'ADMINUSER.ADD_USER.EMAIL_EROOR' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout.gt-xs="row" fxLayout.xs="column">

      <mat-form-field fxFlex color="accent" class="m-b">
        <input matInput placeholder="{{'ADMINUSER.ADD_USER.FIRST_NAME' | translate}}  *" formControlName="admin_first_name">
        <mat-error>
          {{'ADMINUSER.ADD_USER.FIRST_NAME_EROOR' | translate}}
        </mat-error>
      </mat-form-field>
      <span fxFlex="5" fxHide.xs></span>
      <mat-form-field fxFlex color="accent" class="m-b">
        <input matInput placeholder="{{'ADMINUSER.ADD_USER.SUR_NAME' | translate}} *" formControlName="admin_last_name">
        <mat-error>
          {{'ADMINUSER.ADD_USER.SUR_NAME_EROOR' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout.gt-xs="row" fxLayout.xs="column">
      <mat-form-field fxFlex color="accent" class="m-b">
        <mat-select placeholder="Select State *" formControlName="admin_state" (selectionChange)="StateChange($event)">
          <mat-option *ngFor="let item of StateList" [value]="item.id">
            {{item.state}}
          </mat-option>
        </mat-select>
        <mat-error>
          Please Select State
        </mat-error>
      </mat-form-field>
      <span fxFlex="5" fxHide.xs></span>
      <mat-form-field fxFlex color="accent" class="m-b">
        <mat-select placeholder="Select City" formControlName="admin_city">
          <mat-option *ngFor="let item of Citylisting" [value]="item.id">
            {{item.city}}
          </mat-option>
        </mat-select>
        <mat-error>
          Please Select City
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="column">
      <div fxLayout.gt-xs="row" fxLayout.xs="column">   
      <mat-form-field fxFlex color="accent" class="m-b">
          <textarea matInput matTextareaAutosize matAutosizeMinRows="3" matAutosizeMaxRows="4"
            placeholder="Address *" formControlName="admin_address" #pushBody></textarea>
          <mat-error>
            Please Enter Address
          </mat-error>
        </mat-form-field>       
      </div>     
    </div>
    <div fxLayout.gt-xs="row" fxLayout.xs="column">

      <mat-form-field fxFlex color="accent" class="m-b">
        <input matInput placeholder="{{'ADMINUSER.ADD_USER.PHONE_NUMBER' | translate}} *" formControlName="admin_phone">
        <mat-error>
          {{'ADMINUSER.ADD_USER.PHONE_NUMBER_EROOR' | translate}}
        </mat-error>
      </mat-form-field>
      <span fxFlex="5" fxHide.xs></span>
      <mat-form-field fxFlex color="accent" class="m-b">
        <input matInput type="password" placeholder="{{ 'ADMINUSER.ADD_USER.PASSWORD' | translate}} *"
          formControlName="password">
        <mat-error>
          {{'ADMINUSER.ADD_USER.PASSWORD_EROOR' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout.gt-xs="row" fxLayout.xs="column">
      <mat-form-field fxFlex color="accent" class="m-b">
        <input matInput type="password" placeholder=" {{'ADMINUSER.ADD_USER.CNF_PASSWORD' | translate}} *"
          formControlName="password_confirmation">
        <mat-error
          *ngIf="addAdminUserform.controls['password_confirmation'].errors && addAdminUserform.controls['password_confirmation'].errors.required">
          {{'ADMINUSER.ADD_USER.CNF_PASSWORD_EROOR' | translate}}
        </mat-error>
        <mat-error
          *ngIf="addAdminUserform.controls['password_confirmation'].errors && addAdminUserform.controls['password_confirmation'].errors.equalvalidator">
          {{'ADMINUSER.ADD_USER.CNF_PASSWORD_EROOR2' | translate}}
        </mat-error>

      </mat-form-field>
      <span fxFlex="5" fxHide.xs></span>
      <mat-radio-group fxFlex formControlName="activeStatus" class="m-b">
        <label class="d-block mat-body-2">{{ 'GLOBAL.TXT_FILTER_STATUS' | translate }} :</label>
        <mat-radio-button value="1">Active</mat-radio-button>
        <mat-radio-button value="0" class="m-l">Deactive</mat-radio-button>
      </mat-radio-group>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions fxLayoutAlign="end start">
    <button mat-button mat-dialog-close color="warn">{{ 'GLOBAL.CLOSE' | translate }}</button>
    <button mat-raised-button color="accent">{{ 'GLOBAL.SUBMIT' | translate }}</button>
  </mat-dialog-actions>
</form>
<mat-progress-bar *ngIf="showLoader" mode="indeterminate" color="accent" class="loader left bottom"></mat-progress-bar>
