.customSelect{
    border-bottom: none;
}
.srchcity{
    margin-top: 30px;
}

.topBtnPan a span{
    display: block;
    font-size: 12px;
    color: #fff;
    padding-top: 15px;
}

.langWrap ul li img{
    width: 25px;
    float: right;
    margin-left: 8px;
    vertical-align: top;
    margin-top: 3px;
}
.navbar-expand .navbar-nav .nav-link{
    padding-top: 0px;
}
.downloadLink{
	text-align: center;
	padding-top: 10px;
	a{
		color: #fff;
		font-size: 14px;
		.fa{
			margin-right: 5px;
		}
		&:hover{
			color: #ccc;
			text-decoration: none;
		}
	}
}

// Start 768px to 300px
@media screen and (max-width:767px) and (min-width:300px) {

.srchcity{
    margin-top: 0px;
}

}