<app-menu></app-menu>
<app-innear-header></app-innear-header>

<div class="container faqmaindiv" *ngIf="language == 'en'"><span [innerHTML]="faqData[0]?.description_en"></span></div>
<div class="container faqmaindiv" *ngIf="language == 'es'"><span [innerHTML]="faqData[0]?.description_es"></span></div>

<app-footer-website></app-footer-website>
