h1 {
    font-size: 30px;
    font-weight: 600;
}

/*header*/
.logo {
    margin-bottom: 40px;
    width: 20%;
    position: absolute;
    top: 10px;
    left: 39px;
}

.headerdiv{
	// background:url(src/assets/images/header_rept_blueimg.jpg) repeat-x 0 0;
	height: 100%;
	
}
.logo-loader{
    margin-bottom: 40px;
     width:inherit!important; 
    position: absolute;
    top: 50%;
    left: 50%;
}

ul{
    display: block;
    text-align: center;
}
ul li{
    display:inline-block;
    padding-right: 3px;
    
}
ul li a{
    background-color: #2c2c2c;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 44px;
    display: block;
    font-weight: 500;
    padding: 0 23px;
    border-radius: 4px;
}
.multibutt ul li a i{
    padding-right: 10px;
}
ul li a:hover{
    background: rgb(40,131,201);
    background: linear-gradient(90deg, rgba(40,131,201,1) 18%, rgba(31,72,172,1) 76%); 
}

.multibutt{
    border-bottom: solid 1px #e5e5e5;
    padding-bottom: 24px;
}
.entity-srchbox{
    padding:38px 0 55px;
    border-bottom: solid 1px #e5e5e5;
}


// input[type=text]:disabled, input[type=email]:disabled, input[type=number]:disabled,
//  textarea:disabled, input[type=radio]:disabled, select:disabled, input[readonly] {
//     background: #dddddd!important;
//     padding: 15px 0 15px 21px;
//     border: solid 1px #b4c8d2;
//     border-radius: 6px;
//   }
  select:disabled{
    padding: 0 0 0 21px; 
  }
// .entrysrch_table table tr{
//     border-bottom: solid 1px #e0e0e0;
   
// }
//   .entrysrch_table table tr th{
//     padding: 20px 0;
//     color: #013b85;
//     font-size: 16px;
// }
// .entrysrch_table table tr td{
//     padding: 20px 0;
//     vertical-align: top;
// }
// .entrysrch_table table tr td p{
//     font-size: 14px;
//     line-height: 22px;
//     margin-bottom: 0;
// }
// .entrysrch_table table tr td p i{
//     padding-right: 5px;
// }

@media (min-width: 360px) and (max-width: 768px) {
	.logo {
		width:30%;
		left:14px;
    }
    .multibutt ul li{
        margin-bottom: 4px;
    }
    .multibutt ul li a{
     padding:0 14px;
    }
}
/*header*/ 
.postadd{
    display: inline-block;
}
.custom-checkbox{
    display: inline-block;
    margin-left: 10px;  
}
.custom-control-label{
    font-weight: normal;
    line-height: 25px;
}
// .registation input[type="text"], .registation input[type="email"], .registation input[type="number"]{
//     box-shadow: none;
// }
.newselect-style{
    box-shadow: none;
}
.select-style select{
    color: #94908b;
}
.statediv{
    margin-top:18px;
    margin-left: 19PX;
}
.prradio{
    text-align: center;
}

.member_listtable{
    display: block;
    margin-top: 20px;
   
}
.member_listtable .heading{
    text-align: center;
    padding-top: 20px;
    text-transform:uppercase;
    border-bottom:dashed 2px #225fb7;
    padding-bottom: 15px;
    
}
.member_listtable .heading h2{
    font-size: 25px;
}

.toppopdown {
    left: 15px;
    padding-bottom: 20px;
}

.download_butt a img {
    position: absolute;
    left: -30px;
    top: 0px;
}


.download_butt {
    margin-bottom: 22px;
    position: relative;
}

@media (min-width: 360px) and (max-width: 768px) {
.custom-checkbox{
    margin-bottom: 10px;
}
.citygroup{
  height: 100%;
    overflow:hidden;
}
.statediv{
    margin-top:0px;
}
.prradio{
    text-align: left;
}


}