<div class="container-fluid pagewrapper">
	<div class="row">
		<div class="col-md-12  headerdiv">
			<!-- <div class="logo">
                <a href="/" title="CECFL">
                    <img src="assets/images/logo.png" alt="" />
                </a>
            </div> -->
			<div class="outer_heading">
				<div class="heading">
					<h1 *ngIf="pageEdit">{{ 'EditProfile.TITLE' | translate}}
						<!-- <span>{{ entityNameTitle }}</span> -->
					</h1>
					<h1 *ngIf="pageView">{{ 'EditProfile.VIEWTITLE' | translate}}
						<!-- <span>{{ entityNameTitle }}</span> -->
					</h1>
				</div>
			</div>
			<div class="col-md-12 col-xl-12">
				<div class="download_butt toppopdown">
					<a href="{{ apiBaseUrl }}/api/getEntityPdf/{{userId}}/{{language}}" target="_blank"><img
							src="assets/images/download.png"><span>{{ 'EditProfile.Print' | translate }}</span></a>
				</div>
			</div>
			<!-- <button printSectionId="print-section" ngxPrint>print</button>  
			<button (click)="printComponent('print-section')" *ngIf="loggedUserRole==='analysts' || loggedUserRole==='analyst-2'">Print</button>

			<button (click)="print()">print now</button>
			<button (click)="toggleRightSidenav()">CXLOSE now</button> -->

		</div>
	</div>
</div>

<div class="formbody bodywrapper" id="print-section">
	<div class="container-fluid">
		<form class="example-form" [formGroup]="addRegisterform" (ngSubmit)="addRegister(addRegisterform.value)">
			<!--section1-->
			<div class="section">
				<div class="registation">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>{{ 'REGISTRATION.CATEGORY' | translate }}</label>
								<div class="select-style newselect-style">
									<select formControlName="category" *ngIf="pageEdit">
										<option value="">{{ 'GLOBAL.SELECT' | translate }}</option>
										<option value="Education">
											{{ 'REGISTRATION.CATEGORY_OPT.Education' | translate }}</option>
										<option value="Sports">{{ 'REGISTRATION.CATEGORY_OPT.Sports' | translate }}
										</option>
										<option value="Health">{{ 'REGISTRATION.CATEGORY_OPT.Health' | translate }}
										</option>
										<option value="Economic">
											{{ 'REGISTRATION.CATEGORY_OPT.Economic' | translate }}</option>
										<option value="Social">{{ 'REGISTRATION.CATEGORY_OPT.Social' | translate }}
										</option>
										<option value="Art">{{ 'REGISTRATION.CATEGORY_OPT.Art' | translate }}
										</option>
									</select>
									<select formControlName="category" *ngIf="pageView" disabled>
										<option value="">{{ 'GLOBAL.SELECT' | translate }}</option>
										<option value="Education">
											{{ 'REGISTRATION.CATEGORY_OPT.Education' | translate }}</option>
										<option value="Sports">{{ 'REGISTRATION.CATEGORY_OPT.Sports' | translate }}
										</option>
									</select>
								</div>
								<p
									*ngIf="f1submitted && category.errors || ( category.errors &&(category.dirty || category.touched))">
									<small class="text-danger"
										*ngIf="category.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
								</p>
							</div>
							<div class="form-group">
								<label>{{ 'REGISTRATION.NAMEOFDIRECTOR' | translate}}</label>
								<input *ngIf="pageEdit" type="text" id="" formControlName="name_of_director"
									placeholder="{{ 'REGISTRATION.NAMEOFDIRECTOR_LVL' | translate}}">
								<input *ngIf="pageView" type="text" id="" formControlName="name_of_director"
									placeholder="{{ 'REGISTRATION.NAMEOFDIRECTOR_LVL' | translate}}" disabled>
								<!-- <small *ngIf="(f1.name_of_director.errors && f1.name_of_director.touched) || (f1submitted && addRegisterform.name_of_director.errors)"
							class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small> -->
								<p
									*ngIf="f1submitted && name_of_director.errors || ( name_of_director.errors &&(name_of_director.dirty || name_of_director.touched))">
									<small class="text-danger"
										*ngIf="name_of_director.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
									<small class="text-danger"
										*ngIf="name_of_director.errors.pattern">{{ 'PROPOSAL.EXTRASPACE' | translate }}</small>
								</p>
							</div>
							<div class="form-group">
								<label>{{ 'REGISTRATION.NAMEOFENTITY' | translate}}</label>
								<input type="text" *ngIf="pageEdit" id="" formControlName="entity_name"
									placeholder="{{ 'REGISTRATION.NAMEOFENTITY_LVL' | translate}}">
								<input type="text" *ngIf="pageView" id="" formControlName="entity_name"
									placeholder="{{ 'REGISTRATION.NAMEOFENTITY_LVL' | translate}}" disabled>
								<p
									*ngIf="f1submitted && entity_name.errors || ( entity_name.errors &&(entity_name.dirty || entity_name.touched))">
									<small class="text-danger"
										*ngIf="entity_name.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
									<small class="text-danger"
										*ngIf="entity_name.errors.pattern">{{ 'PROPOSAL.EXTRASPACE' | translate }}</small>
								</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>{{ 'REGISTRATION.DATEOFINCORPORATION' | translate}}</label>
								<div class="form-control dateBox">
									<mat-form-field>
										<input matInput [matDatepicker]="myDatepicker"
											formControlName="dateofincorporation" *ngIf="pageEdit">
										<input matInput [matDatepicker]="myDatepicker"
											formControlName="dateofincorporation" *ngIf="pageView" readonly>
										<mat-datepicker-toggle matSuffix [for]="myDatepicker" *ngIf="pageEdit">
										</mat-datepicker-toggle>
										<mat-datepicker #myDatepicker></mat-datepicker>
									</mat-form-field>
								</div>
								<p
									*ngIf="f1submitted && dateofincorporation.errors || ( dateofincorporation.errors &&(dateofincorporation.dirty || dateofincorporation.touched))">
									<small class="text-danger"
										*ngIf="dateofincorporation.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
								</p>
								<div class="spacer"></div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>{{ 'REGISTRATION.DATEOFREGISTRATION' | translate}}</label>
								<div class="form-control dateBox">
									<mat-form-field>
										<input matInput [matDatepicker]="myDatepicker2" formControlName="dateofregis"
											*ngIf="pageEdit">
										<input matInput [matDatepicker]="myDatepicker2" formControlName="dateofregis"
											*ngIf="pageView" readonly>
										<mat-datepicker-toggle matSuffix [for]="myDatepicker2" *ngIf="pageEdit">
										</mat-datepicker-toggle>
										<mat-datepicker #myDatepicker2></mat-datepicker>
									</mat-form-field>
								</div>
								<p
									*ngIf="f1submitted && dateofregis.errors || ( dateofregis.errors &&(dateofregis.dirty || dateofregis.touched))">
									<small class="text-danger"
										*ngIf="dateofregis.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
								</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>{{ 'REGISTRATION.REGISTRATIONNUMBER' | translate}}</label>
								<input type="text" *ngIf="pageEdit" id="" formControlName="registrationnumber"
									placeholder="{{ 'REGISTRATION.REGISTRATIONNUMBER_LVL' | translate}}">
								<input type="text" *ngIf="pageView" id="" formControlName="registrationnumber"
									placeholder="{{ 'REGISTRATION.REGISTRATIONNUMBER_LVL' | translate}}" disabled>
								<p
									*ngIf="f1submitted && registrationnumber.errors || ( registrationnumber.errors &&(registrationnumber.dirty || registrationnumber.touched))">
									<small class="text-danger"
										*ngIf="registrationnumber.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
									<small class="text-danger"
										*ngIf="registrationnumber.errors.pattern">{{ 'PROPOSAL.EXTRASPACE' | translate }}</small>
								</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group radio-botmargin">
								<label>{{ 'REGISTRATION.TAXEXEMTION' | translate}}</label>
								<div class="custom-control custom-radio custom-control-inline">
									<input type="radio" *ngIf="pageEdit" class="custom-control-input"
										(change)="handleChangetax($event.target.value)" value="1" name="taxexmpt"
										id="yesCheck" formControlName="taxexmpt">
									<input type="radio" *ngIf="pageView" class="custom-control-input"
										(change)="handleChangetax($event.target.value)" value="1" name="taxexmpt"
										id="yesCheck" formControlName="taxexmpt" disabled>
									<label class="custom-control-label"
										for="yesCheck">{{ 'REGISTRATION.YES' | translate}}</label>
								</div>
								<div class="custom-control custom-radio custom-control-inline">
									<input type="radio" *ngIf="pageEdit" class="custom-control-input"
										(change)="handleChangetax($event.target.value)" value="0" name="taxexmpt"
										id="noCheck" formControlName="taxexmpt">
									<input type="radio" *ngIf="pageView" class="custom-control-input"
										(change)="handleChangetax($event.target.value)" value="0" name="taxexmpt"
										id="noCheck" formControlName="taxexmpt" disabled>
									<label class="custom-control-label"
										for="noCheck">{{ 'REGISTRATION.NO' | translate}}</label>
								</div>
								<p
									*ngIf="f1submitted && taxexmpt.errors || ( taxexmpt.errors &&(taxexmpt.dirty || taxexmpt.touched))">
									<small class="text-danger"
										*ngIf="taxexmpt.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
								</p>
							</div>
						</div>
					</div>
					<div *ngIf="show" class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>{{ 'REGISTRATION.TAXEXEMTION_CONFNUMBER' | translate}}</label>
								<input type="text" formControlName="taxexmptconfno" *ngIf="pageEdit" id=""
									placeholder="{{ 'REGISTRATION.TAXEXEMTION_LVL' | translate}}">
								<input type="text" formControlName="taxexmptconfno" *ngIf="pageView" id=""
									placeholder="{{ 'REGISTRATION.TAXEXEMTION_LVL' | translate}}" disabled>
								<p
									*ngIf="f1submitted && taxexmptconfno.errors || ( taxexmptconfno.errors &&(taxexmptconfno.dirty || taxexmptconfno.touched))">
									<small class="text-danger"
										*ngIf="taxexmptconfno.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
									<small class="text-danger"
										*ngIf="taxexmptconfno.errors.pattern">{{ 'PROPOSAL.EXTRASPACE' | translate }}</small>
								</p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>{{ 'REGISTRATION.DATEOFISSUE_TAXEXEMTION' | translate}}</label>
								<div class="form-control dateBox">
									<mat-form-field class="datepicker" *ngIf="pageEdit">
										<input matInput [matDatepicker]="myDatepicker1" formControlName="dateofissue">
										<mat-datepicker-toggle matSuffix [for]="myDatepicker1">
										</mat-datepicker-toggle>
										<mat-datepicker #myDatepicker1></mat-datepicker>
									</mat-form-field>
									<mat-form-field class="datepicker" *ngIf="pageView">
										<input matInput [matDatepicker]="myDatepicker1" formControlName="dateofissue">
										<mat-datepicker-toggle matSuffix [for]="myDatepicker1">
										</mat-datepicker-toggle>
										<mat-datepicker #myDatepicker1></mat-datepicker>
									</mat-form-field>
								</div>
								<p
									*ngIf="f1submitted && dateofissue.errors || ( dateofissue.errors &&(dateofissue.dirty || dateofissue.touched))">
									<small class="text-danger"
										*ngIf="dateofissue.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
								</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>{{ 'REGISTRATION.MAILADDRESS' | translate}}</label>
								<input type="email" *ngIf="pageEdit" formControlName="email"
									placeholder="Enter e-mail address">
								<input type="email" *ngIf="pageView" formControlName="email"
									placeholder="Enter e-mail address" disabled>
								<p
									*ngIf="f1submitted && email.errors || ( email.errors &&(email.dirty || email.touched))">
									<small class="text-danger"
										*ngIf="email.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
								</p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>{{ 'REGISTRATION.TELEPHONENUMBER' | translate}}</label>
								<input type="number" *ngIf="pageEdit" formControlName="phone" id=""
									placeholder="Enter telephone number">
								<input type="number" *ngIf="pageView" formControlName="phone" id=""
									placeholder="Enter telephone number" disabled>
								<p
									*ngIf="f1submitted && phone.errors || ( phone.errors &&(phone.dirty || phone.touched))">
									<small class="text-danger"
										*ngIf="phone.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
									<small class="text-danger"
										*ngIf="phone.errors.pattern">{{ 'PROPOSAL.PHONEPATTERN' | translate }}</small>
								</p>
							</div>
						</div>
						<hr>
					</div>
					<hr>
				</div>
			</div>
			<!--section1-->
			<!--section2-->
			<div class="section">
				<div class="registation">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>{{ 'REGISTRATION.PHYSICALADDRESS' | translate}}</label>
								<textarea name="" *ngIf="pageEdit" cols="" rows="" formControlName="physicaladdr1"
									placeholder="Address"></textarea>
								<textarea name="" *ngIf="pageView" cols="" rows="" formControlName="physicaladdr1"
									placeholder="Address" disabled></textarea>
								<p
									*ngIf="f1submitted && physicaladdr1.errors || ( physicaladdr1.errors &&(physicaladdr1.dirty || physicaladdr1.touched))">
									<small class="text-danger"
										*ngIf="physicaladdr1.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
									<small class="text-danger"
										*ngIf="physicaladdr1.errors.pattern">{{ 'PROPOSAL.EXTRASPACE' | translate }}</small>
								</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-5 col-xl-5">
							<div class="form-group citygroup">
								<label>{{ 'REGISTRATION.CITY' | translate}}</label>
								<div class="select-style newselect-style">
									<select formControlName="city" *ngIf="pageEdit">
										<option value="">{{ 'REGISTRATION.SELECTCITY' | translate}}</option>
										<option *ngFor="let item of Citylisting" [value]="item.id">{{item.city}}
										</option>
									</select>
									<select formControlName="city" *ngIf="pageView" disabled>
										<option value="MM">{{ 'REGISTRATION.SELECTCITY' | translate}}</option>
										<option *ngFor="let item of Citylisting" [value]="item.id">{{item.city}}
										</option>
									</select>
								</div>
								<p *ngIf="f1submitted && city.errors || ( city.errors &&(city.dirty || city.touched))">
									<small class="text-danger"
										*ngIf="city.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
								</p>
							</div>
						</div>
						<div class="col-md-2 col-xl-2">
							<div class="form-group prradio">
								<label>{{ 'REGISTRATION.STATE' | translate}}</label>
								<div class="custom-control custom-radio custom-control-inline statediv">
									<input type="radio" *ngIf="pageEdit" class="custom-control-input" id="pr" value="PR"
										formControlName="state1">
									<input type="radio" *ngIf="pageView" class="custom-control-input" id="pr" value="PR"
										formControlName="state1" disabled>
									<label class="custom-control-label" for="pr">PR</label>
								</div>
								<p
									*ngIf="f1submitted && state1.errors || ( state1.errors &&(state1.dirty || state1.touched))">
									<small class="text-danger"
										*ngIf="state1.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
								</p>
							</div>
						</div>
						<div class="col-md-5 col-xl-5">
							<div class="form-group">
								<label>{{ 'REGISTRATION.ZIPCODE' | translate}}</label>
								<input type="number" *ngIf="pageEdit" id=""
									placeholder="{{ 'REGISTRATION.ENTER_ZIP' | translate}}" formControlName="zip">
								<input type="number" *ngIf="pageView" id=""
									placeholder="{{ 'REGISTRATION.ENTER_ZIP' | translate}}" formControlName="zip"
									disabled>
								<p *ngIf="f1submitted && zip.errors || ( zip.errors &&(zip.dirty || zip.touched))">
									<small class="text-danger"
										*ngIf="zip.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--section2-->
			<!--section3-->
			<div class="section">
				<div class="registation">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="postadd">{{ 'REGISTRATION.POSTALADDRESS' | translate}}</label>
								<div class="custom-control custom-checkbox" *ngIf="pageEdit">
									<input type="checkbox" class="custom-control-input" id="defaultChecked2" #test
										(change)="samefieldcopy($event.target.checked)"
										formControlName="checkPostalAddress" [(ngModel)]="postalAddress">
									<label class="custom-control-label"
										for="defaultChecked2">{{ 'REGISTRATION.CLICKHERE_SAME_PHYSICALADDRESS' | translate}}</label>
								</div>
								<div class="custom-control custom-checkbox" *ngIf="pageView">
									<input type="checkbox" class="custom-control-input" id="defaultChecked2" #test
										(change)="samefieldcopy($event.target.checked)"
										formControlName="checkPostalAddress" [(ngModel)]="postalAddress" disabled>
									<label class="custom-control-label"
										for="defaultChecked2">{{ 'REGISTRATION.CLICKHERE_SAME_PHYSICALADDRESS' | translate}}</label>
								</div>
								<textarea name="" cols="" *ngIf="pageEdit" rows="" placeholder="Address"
									formControlName="postal_addr2"></textarea>
								<textarea name="" cols="" rows="" placeholder="Address" *ngIf="pageView"
									formControlName="postal_addr2" disabled></textarea>
								<p
									*ngIf="f1submitted && postal_addr2.errors || ( postal_addr2.errors &&(postal_addr2.dirty || postal_addr2.touched))">
									<small class="text-danger"
										*ngIf="postal_addr2.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
									<small class="text-danger"
										*ngIf="postal_addr2.errors.pattern">{{ 'PROPOSAL.EXTRASPACE' | translate }}</small>
								</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-5 col-xl-5">
							<div class="form-group citygroup">
								<label>{{ 'REGISTRATION.CITY' | translate}}</label>
								<div class="select-style newselect-style">
									<select formControlName="postal_city" *ngIf="pageEdit">
										<option value="MM">{{ 'REGISTRATION.SELECTCITY' | translate}}</option>
										<option *ngFor="let item of Citylisting" [value]="item.id">{{item.city}}
										</option>
									</select>
									<select formControlName="postal_city" *ngIf="pageView" disabled>
										<option value="MM">{{ 'REGISTRATION.SELECTCITY' | translate}}</option>
										<option *ngFor="let item of Citylisting" [value]="item.id">{{item.city}}
										</option>
									</select>
								</div>
								<p
									*ngIf="f1submitted && postal_city.errors || ( postal_city.errors &&(postal_city.dirty || postal_city.touched))">
									<small class="text-danger"
										*ngIf="postal_city.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
								</p>
							</div>
						</div>
						<div class="col-md-2 col-xl-2">
							<div class="form-group prradio">
								<label>{{ 'REGISTRATION.STATE' | translate}}</label>
								<div class="custom-control custom-radio custom-control-inline statediv">
									<input type="radio" *ngIf="pageEdit" class="custom-control-input" id="pr1"
										value="PR" formControlName="postal_state">
									<input type="radio" *ngIf="pageView" class="custom-control-input" id="pr1"
										value="PR" formControlName="postal_state" disabled>
									<label class="custom-control-label" for="pr1">PR</label>
								</div>
								<p
									*ngIf="f1submitted && postal_state.errors || ( postal_state.errors &&(postal_state.dirty || postal_state.touched))">
									<small class="text-danger"
										*ngIf="postal_state.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
								</p>
							</div>
						</div>
						<div class="col-md-5 col-xl-5">
							<div class="form-group">
								<label>{{ 'REGISTRATION.ZIPCODE' | translate}}</label>
								<input type="number" id="" *ngIf="pageEdit"
									placeholder="{{ 'REGISTRATION.ENTER_ZIP' | translate}}"
									formControlName="postal_zip">
								<input type="number" id="" *ngIf="pageView"
									placeholder="{{ 'REGISTRATION.ENTER_ZIP' | translate}}" formControlName="postal_zip"
									disabled>
								<p
									*ngIf="f1submitted && postal_zip.errors || ( postal_zip.errors &&(postal_zip.dirty || postal_zip.touched))">
									<small class="text-danger"
										*ngIf="postal_zip.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
								</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group radio-botmargin">
								<label>{{ 'REGISTRATION.STATUS' | translate}}</label>
								<div class="custom-control custom-radio custom-control-inline">
									<input type="radio" class="custom-control-input" value="1" id="activeCheck"
										formControlName="activeStatus" *ngIf="pageEdit || (loggedUserRole==='analysts' || loggedUserRole==='analyst-2')">
									<input type="radio" class="custom-control-input" value="1" id="activeCheck"
										formControlName="activeStatus" *ngIf="pageView" disabled>
									<label class="custom-control-label"
										for="activeCheck">{{ 'REGISTRATION.ACTIVE' | translate}}</label>
								</div>
								<div class="custom-control custom-radio custom-control-inline">
									<input type="radio" class="custom-control-input" value="0" id="inactiveCheck"
										formControlName="activeStatus" *ngIf="pageEdit || (loggedUserRole==='analysts' || loggedUserRole==='analyst-2')">
									<input type="radio" class="custom-control-input" value="0" id="inactiveCheck"
										formControlName="activeStatus" *ngIf="pageView" disabled>
									<label class="custom-control-label"
										for="inactiveCheck">{{ 'REGISTRATION.INACTIVE' | translate}}</label>
								</div>
								<p
									*ngIf="f1submitted && activeStatus.errors || ( activeStatus.errors &&(activeStatus.dirty || activeStatus.touched))">
									<small class="text-danger"
										*ngIf="activeStatus.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--section3-->
			<input name="register" *ngIf="pageEdit" type="submit" value="{{ 'EditProfile.Register' | translate}}"
				class="registerbutt" (click)="onActivate($event)">

			<input name="register" *ngIf="loggedUserRole==='analysts' || loggedUserRole==='analyst-2'" type="submit" value="{{ 'EditProfile.Register' | translate}}"
				class="registerbutt" (click)="onActivate($event)">
		</form>
		<!-- member table -->
		<div class="row" class="member_listtable">
			<div class="heading">
				<h2>{{'Member.Memberlist'|translate}}</h2>
			</div>
			<div class="col-md-12">
				<div class="row entrysrch_table">
					<div class="col-md-12 p-0 restable" style="overflow-x:auto;">

						<div class="table-container">
							<div class="tableScroll">
								<table width="100%" border="0" cellspacing="0" cellpadding="0">
									<tr>
										<th>{{'Member.Membername'|translate}}</th>
										<th>{{'Member.Designation'|translate}}</th>
										<th>{{'Member.Telephone'|translate}}</th>
										<th>{{ 'ADDMEMBER.EMAIL' | translate }}</th>
										<th>{{'Member.Address'|translate}}</th>
										<th>{{'Member.City'|translate}}</th>
										<th>{{'Member.State'|translate}}</th>
										<th>{{'Member.Zipcode'|translate}}</th>
									</tr>
									<tr *ngFor="let list of entityData">
										<td>
											<p>{{list.member_name}}</p>
										</td>
										<td>
											<p>{{list.designation}}</p>
										</td>
										<td>
											<p>{{list.telephone}}</p>
										</td>
										<td>
											<p>{{list.email}}</p>
										</td>
										<td>
											<p>{{list.address}}</p>
										</td>
										<td>
											<p>{{list.cityinfo.city}}</p>
										</td>
										<td>
											<p>{{list.state}}</p>
										</td>
										<td>
											<p>{{list.zip}}</p>
										</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- member table -->
	</div>
</div>
<ngx-ui-loader [fgsType]="spinnerType"></ngx-ui-loader>