h1 {
    font-size: 30px;
    font-weight: 600;
}

/*header*/
.logo {
    margin-bottom: 40px;
    width: 20%;
    position: absolute;
    top: 10px;
    left: 39px;
}

.headerdiv{
	// background:url(src/assets/images/header_rept_blueimg.jpg) repeat-x 0 0;
	height: 100%;
    overflow:hidden;
}

.newselect-style{
    margin-bottom: 30px;
}

.newselect-style select{
    padding-left: 21px;
}
.selectbottom{
   margin-bottom: 20px;   
}

.botchkbox{
    margin-bottom: 20px;
}
// .exp-table {
//     margin-bottom: 40px;
// }
// .exp-table h4{
//     font-size: 16px;
//     font-weight: 600;
// }
// .exp-table table{
//     border:solid 1px #b4c8d2;
// }
// .exp-table table td{
//     border-right:solid 1px #b4c8d2;
//     border-bottom:solid 1px #b4c8d2;
   
//     padding: 10px;
// }
input.registerbutt{
    padding: 9px 15px;
    margin-bottom: 34px;
    margin-top:25px;
}
.exp-table {
        margin-bottom: 40px;
    }
    .exp-table h4{
        font-size: 16px;
        font-weight: 600;
    }
    .downpad_top{
      margin-top: 37px;
    }

// table in responsive
table {
   border: 1px solid #b4c8d2;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    display:inline-table;
  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
    // background-color: #f8f8f8;
    border-bottom: 1px solid #b4c8d2;
    border-right:solid 1px #b4c8d2;
     border-bottom:solid 1px #b4c8d2;
       
    padding: .35em;
  }
  table th{
       color: #013b85;
  }
  
  table th,
  table td {
    text-align: center;
  }
  
  table th {
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 14px;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      border-top: 1px solid #b4c8d2;
      border-left: 1px solid #b4c8d2;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      text-align: left;
    }
    
    table td::before {
     content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }

    .budgetuploadwrap{
        width: 100%;
        margin-bottom: 30px;
    }
    .download_butt span{
        padding-left: 39px!important;
    }
    .download_butt img{
        left:0!important;
        top:0!important;
    }
    .browserupload{
        padding-left: 40px;
    }
  }

  // table in responsive
@media (min-width: 360px) and (max-width: 768px) {
	.logo {
		width:30%;
		left:14px;
	}
}

a.btn-link{
    cursor: pointer;
    color: #013b85;
}
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .btn {
     background: url(src/assets/images/upload.png) no-repeat 4px 2px;
     height: 25px;
    display: block;
    font-size: 14px;
    // width: 235px;
    line-height: 25px;
    color: #000;
    padding-left:49px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    }
.browserupload{
    //  background: url(src/assets/images/uploadbg.png) no-repeat 0 0;
    background: url(src/assets/images/upload.png) no-repeat 4px 2px;
    width: 100%;
    padding-left: 63px;
    border-top-right-radius: 6px;
    
  }
  
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  .download_butt{
    margin-bottom: 22px;
    position: relative;
    padding-top:7px;
    margin-left:15px;
  
}
.download_butt a{
font-family: 'Poppins', sans-serif;
  height: 25px;
  display: block;
  font-size: 16px;
  line-height: 21px;
  color: #000;
  padding-left: 0;
  text-transform: uppercase;
  font-weight: 500;
 
}
.download_butt a span{
    padding-left:20px;
    display: inline-block;
}
.download_butt a  img{
  position: absolute;
  left: -15px;
  top: 7px;
}
.addnewbutt{
    display: inline-block;
    background: url('src/assets/images/addnew_bg.jpg') no-repeat 0 0;
    width:110px;
    height: 47px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    vertical-align: top;
    border-radius:3px;
    border: none;
    margin-left: 20px;
    font-weight: 500;
    font-size: 16px;
    margin-top: 2px;
}
.uploaddoc{
    width: 236px;
    border-top-right-radius:6px;
    border-bottom-right-radius:6px;
    display:inline-block;
  }
  .wrap-temp{
    display:block;
    color:#4160b7!important;
	font-size:10px;
	font-weight:300;
	border-radius:0;
	padding: 15px  18px 15px 21px;
	margin:0 13px 0 0;
	border:none;
	border:solid 1px #b4c8d2;
	border-radius: 6px;
	text-align:left;
	-webkit-box-shadow: -1px 2px 7px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 2px 7px -4px rgba(0,0,0,0.75);
    box-shadow: -1px 2px 7px -4px rgba(0,0,0,0.75);
    width: 53%;
    margin-left: 20px;
    vertical-align: top;
    margin-top: 15px;
  }
  .wrap-temp a{
    background-color: #a3000d;
    color: #fff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display:inline-block;
    text-align: center;
    vertical-align: middle;
    float: right;
}

.evidence_table{
    margin-top: 30px;
}

a.view, a.edit{
  width:28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  display: inline-block;
  color: #fff;
  border-radius: 2px;
  margin: 0 1px;
}
a.view{
  background-color: #2c2c2c;
}
a.view:hover{
  background-color: #413f3f;  
}
a.edit{
  background-color: #1f4aae;
}
a.edit:hover{
  background-color: #2259da;  
}

.red {
  color:red!important
}
.green {
  color:green!important
}