<div class="container-fluid pagewrapper">
	<div class="row">
		<div class="col-md-12  headerdiv">
			<div class="outer_heading">
				<div class="heading">
					<h1>{{ 'QUATERLY_REPORT.TITLE' | translate}}
						<span></span>
					</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="formbody bodywrapper">
	<div class="col-md-12 col-xl-6">
		<div class="download_butt toppopdown">
			<a href="{{ apiBaseUrl }}/api/getQuaterlyPdf/{{proposalid}}/{{quater}}/{{language}}" target="_blank"><img
					src="assets/images/download.png"><span>{{ 'REPORT.DOWNLOAD_LINK' | translate }}</span></a>
		</div>
	</div>
	<form class="example-form" [formGroup]="quaterlyReportform" (ngSubmit)="addReport(quaterlyReportform.value)">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>{{ 'REPORT.ENTITY_NAME' | translate}}</label>
						<input type="text" class="form-control" formControlName="entity_name" placeholder="" readonly>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>{{ 'REPORT.ENTITY_CODE' | translate}}</label>
						<input type="text" class="form-control" formControlName="entity_code" placeholder="" readonly>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>{{ 'REPORT.APPLICATION_DATE' | translate}}</label>
						<input type="text" class="form-control" formControlName="created_at" placeholder="" readonly>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>{{ 'REPORT.PROPOSAL_ID' | translate}}</label>
						<input type="text" class="form-control" formControlName="proposal_unique_id" placeholder=""
							readonly>
					</div>
				</div>
			</div>
			<!-- <div class="row">
                                    <div class="col-md-12">
                                            <div class="form-group">
                                                    <label>User name*</label>
                                                    <input type="text" class="form-control" formControlName="entity_name" placeholder="Enter Necessity Statement.">
                                                    <p *ngIf="f1submitted && f1.entity_name.errors || ( f1.entity_name.errors &&(f1.entity_name.dirty))">
                                                            <small *ngIf="(f1.entity_name.errors && f1.entity_name.touched) || (f1submitted && f1.entity_name.errors)" class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                                                    </p>
                                            </div>
                                    </div>
                            </div> -->
			<div class="row exp-table">
				<div class="col-md-12" style="overflow-x:auto;">
					<h4>{{ 'REPORT.EXPENSE_SUMMARY' | translate}}</h4>
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<thead>
							<tr>
								<th>&nbsp;</th>
								<th align="center">
									<strong>{{ 'REPORT.BUDGET' | translate}}</strong>
								</th>
								<th align="center">
									<a href="javascript:void(0)" (click)="goToReport(1)" title="{{ 'QUATERLY_REPORT.TITLE1' | translate}}">
										<strong>{{ 'REPORT.Q1' | translate}} </strong>
									</a>
								</th>
								<th align="center">
									<a href="javascript:void(0)" (click)="goToReport(2)" title="{{ 'QUATERLY_REPORT.TITLE2' | translate}}">
										<strong>{{ 'REPORT.Q2' | translate}} </strong>
									</a>
								</th>
								<th align="center">
									<a href="javascript:void(0)" (click)="goToReport(3)" title="{{ 'QUATERLY_REPORT.TITLE3' | translate}}">
										<strong>{{ 'REPORT.Q3' | translate}} </strong>
									</a>
								</th>
								<!-- <th align="center">
                    <strong>{{ 'REPORT.Q4' | translate}}</strong>
                    </th> -->
								<th align="center">
									<strong>{{ 'REPORT.TOTALS' | translate}}</strong>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td valign="top">{{ 'REPORT.ADMINISTRATIVE' | translate}}</td>
								<td valign="top">
									<!-- <input *ngIf="loggedUserType===1" type="number" class="form-control"
										formControlName="administrative_budget" [(ngModel)]="administrative_budget"
										keyboardType="number" (keyup)="calculate($event)" readonly >
									<input *ngIf="loggedUserType===0" type="number" class="form-control"
										formControlName="administrative_budget" [(ngModel)]="administrative_budget"
										keyboardType="number" readonly> -->

									<input formControlName="administrative_budget" type="text" currencyMask [options]="{ prefix: '$ ', thousands: ',', decimal: '.' }" readonly>
									
								</td>
								<td valign="top">
									<!-- <input *ngIf="loggedUserType===1" type="number" class="form-control"
										formControlName="ab_c1" hint="Number 1" [(ngModel)]="ab_c1"
										keyboardType="number" (keyup)="calculate($event)" readonly>
									<input *ngIf="loggedUserType===0" type="number" class="form-control"
										formControlName="ab_c1" hint="Number 1" [(ngModel)]="ab_c1"
										keyboardType="number" readonly> -->

									<input formControlName="ab_c1" type="text" currencyMask [options]="{ prefix: '$ ', thousands: ',', decimal: '.' }" readonly>
								</td>
								<td valign="top">
									<!-- <input *ngIf="loggedUserType===1" type="number" class="form-control"
										formControlName="ab_c2" hint="Number 2" [(ngModel)]="ab_c2"
										keyboardType="number" (keyup)="calculate($event)" readonly>
									<input *ngIf="loggedUserType===0" type="number" class="form-control"
										formControlName="ab_c2" hint="Number 2" [(ngModel)]="ab_c2"
										keyboardType="number" readonly> -->

									<input formControlName="ab_c2" type="text" currencyMask [options]="{ prefix: '$ ', thousands: ',', decimal: '.' }" readonly>
								</td>
								<td valign="top">
									<!-- <input *ngIf="loggedUserType===1" type="number" class="form-control"
										formControlName="ab_c3" hint="Number 3" [(ngModel)]="ab_c3"
										keyboardType="number" (keyup)="calculate($event)" readonly>
									<input *ngIf="loggedUserType===0" type="number" class="form-control"
										formControlName="ab_c3" hint="Number 3" [(ngModel)]="ab_c3"
										keyboardType="number" readonly> -->
									<input formControlName="ab_c3" type="text" currencyMask [options]="{ prefix: '$ ', thousands: ',', decimal: '.' }" readonly>
								</td>
								<!-- <td valign="top">
                    <input *ngIf="loggedUserType===1" type="number" class="form-control" formControlName="ab_c4"
                        hint="Number 4" [(ngModel)]="ab_c4" keyboardType="number" (keyup)="calculate($event)">

                    <input *ngIf="loggedUserType===0" type="number" class="form-control" formControlName="ab_c4"
                        hint="Number 4" [(ngModel)]="ab_c4" keyboardType="number" readonly>

                    </td> -->
								<td valign="top">
									<!-- <input type="number" class="form-control" formControlName="ab_total" hint="Number 4"
										[(ngModel)]="ab_total" keyboardType="number" (keyup)="calculate($event)"
										readonly> -->
									<input formControlName="ab_total" type="text" currencyMask [options]="{ prefix: '$ ', thousands: ',', decimal: '.' }" readonly>
								</td>
							</tr>
							<tr>
								<td valign="top">{{ 'REPORT.DIRECT' | translate}}</td>
								<td valign="top">
									<!-- <input *ngIf="loggedUserType===1" type="number" class="form-control"
										formControlName="direct_budget" [(ngModel)]="direct_budget"
										keyboardType="number" (keyup)="calculate($event)" readonly>
									<input *ngIf="loggedUserType===0" type="number" class="form-control"
										formControlName="direct_budget" [(ngModel)]="direct_budget"
										keyboardType="number" readonly> -->
									<input formControlName="direct_budget" type="text" currencyMask [options]="{ prefix: '$ ', thousands: ',', decimal: '.' }" readonly>
								</td>
								<td valign="top">
									<!-- <input *ngIf="loggedUserType===1" type="number" class="form-control"
										formControlName="db_c1" [(ngModel)]="db_c1" keyboardType="number"
										(keyup)="calculate($event)" readonly>
									<input *ngIf="loggedUserType===0" type="number" class="form-control"
										formControlName="db_c1" [(ngModel)]="db_c1" keyboardType="number" readonly> -->
									<input formControlName="db_c1" type="text" currencyMask [options]="{ prefix: '$ ', thousands: ',', decimal: '.' }" readonly>
								</td>
								<td valign="top">
									<!-- <input *ngIf="loggedUserType===1" type="number" class="form-control"
										formControlName="db_c2" [(ngModel)]="db_c2" keyboardType="number"
										(keyup)="calculate($event)" readonly>
									<input *ngIf="loggedUserType===0" type="number" class="form-control"
										formControlName="db_c2" [(ngModel)]="db_c2" keyboardType="number" readonly> -->
									<input formControlName="db_c2" type="text" currencyMask [options]="{ prefix: '$ ', thousands: ',', decimal: '.' }" readonly>
								</td>
								<td valign="top">
									<!-- <input *ngIf="loggedUserType===1" type="number" class="form-control"
										formControlName="db_c3" [(ngModel)]="db_c3" keyboardType="number"
										(keyup)="calculate($event)" readonly>
									<input *ngIf="loggedUserType===0" type="number" class="form-control"
										formControlName="db_c3" [(ngModel)]="db_c3" keyboardType="number" readonly> -->
									<input formControlName="db_c3" type="text" currencyMask [options]="{ prefix: '$ ', thousands: ',', decimal: '.' }" readonly>
								</td>
								<!-- <td valign="top">
                    <input *ngIf="loggedUserType===1" type="number" class="form-control" formControlName="db_c4"
                        [(ngModel)]="db_c4" keyboardType="number" (keyup)="calculate($event)">

                    <input *ngIf="loggedUserType===0" type="number" class="form-control" formControlName="db_c4"
                        [(ngModel)]="db_c4" keyboardType="number" readonly>

                    </td> -->
								<td valign="top">
									<!-- <input type="number" class="form-control" formControlName="db_total"
										[(ngModel)]="db_total" keyboardType="number" (keyup)="calculate($event)"
										readonly> -->
									<input formControlName="db_total" type="text" currencyMask [options]="{ prefix: '$ ', thousands: ',', decimal: '.' }" readonly>
								</td>
							</tr>
							<tr>
								<td valign="top">{{ 'REPORT.TOTALS' | translate}}</td>
								<td valign="top">
									<!-- <input type="number" class="form-control" formControlName="gross"
										[(ngModel)]="gross" keyboardType="number" readonly> -->
									<input formControlName="gross" type="text" currencyMask [options]="{ prefix: '$ ', thousands: ',', decimal: '.' }" readonly>
								</td>
								<td valign="top">
									<!-- <input type="number" class="form-control" formControlName="q1total"
										[(ngModel)]="q1total" keyboardType="number" readonly> -->
									<input formControlName="q1total" type="text" currencyMask [options]="{ prefix: '$ ', thousands: ',', decimal: '.' }" readonly>
								</td>
								<td valign="top">
									<!-- <input type="number" class="form-control" formControlName="q2total"
										[(ngModel)]="q2total" keyboardType="number" readonly> -->
									<input formControlName="q2total" type="text" currencyMask [options]="{ prefix: '$ ', thousands: ',', decimal: '.' }" readonly>
								</td>
								<td valign="top">
									<!-- <input type="number" class="form-control" formControlName="q3total"
										[(ngModel)]="q3total" keyboardType="number" readonly> -->
									<input formControlName="q3total" type="text" currencyMask [options]="{ prefix: '$ ', thousands: ',', decimal: '.' }" readonly>
								</td>
								<!-- <td valign="top">
                    <input type="number" class="form-control" formControlName="q4total" [(ngModel)]="q4total"
                        keyboardType="number" readonly>
                    </td> -->
								<td valign="top">
									<!-- <input type="number" class="form-control" formControlName="alltotal"
										[(ngModel)]="alltotal" keyboardType="number" readonly> -->
									<input formControlName="alltotal" type="text" currencyMask [options]="{ prefix: '$ ', thousands: ',', decimal: '.' }" readonly>
								</td>
							</tr>
							<tr>
								<td valign="top">{{ 'REPORT.INFORMED' | translate}}</td>
								<td valign="top">
									<!-- <input type="number" class="form-control" formControlName="alltotal"
										[(ngModel)]="alltotal" keyboardType="number" readonly> -->
									<input formControlName="alltotal" type="text" currencyMask [options]="{ prefix: '$ ', thousands: ',', decimal: '.' }" readonly>
								</td>
								<td valign="top">&nbsp;</td>
								<td valign="top">&nbsp;</td>
								<td valign="top">&nbsp;</td>
								<!-- <td valign="top">&nbsp;</td> -->
								<td valign="top">&nbsp;</td>
							</tr>
							<tr>
								<td valign="top">{{ 'REPORT.NET' | translate}}</td>
								<td valign="top">
									<!-- <input type="number" class="form-control" formControlName="net" [(ngModel)]="net"
										keyboardType="number" readonly> -->
									<input formControlName="net" type="text" currencyMask [options]="{ prefix: '$ ', thousands: ',', decimal: '.' }" readonly>
								</td>
								<td valign="top">&nbsp;</td>
								<td valign="top">&nbsp;</td>
								<td valign="top">&nbsp;</td>
								<!-- <td valign="top">&nbsp;</td> -->
								<td valign="top">&nbsp;</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row" *ngIf="loggedUserRole==='companies' || loggedUserRole==='analysts' || loggedUserRole==='analyst-2' || loggedUserRole==='system-admin' || loggedUserRole==='sub-admin'">
				<div class="col-md-6">
					<div class="form-group">
						<label title=" {{reportEdit}}">{{ 'QUATERLY_REPORT.ReportStatus' | translate}}</label>
						<div class="select-style newselect-style">
						<select class="city" formControlName="reportstatus">
							<!-- <option value="">{{ 'GLOBAL.SELECT' | translate }}</option> -->
								<option [value]=0 [disabled]="loggedUserRole==='companies'">{{ 'QUATERLY_REPORT.NotFiled'| translate}} </option>
								<option [value]=1 [disabled]="loggedUserRole==='companies' && !reportEdit">{{ 'QUATERLY_REPORT.Submitted'| translate}} </option>
								<option [value]=2 [disabled]="loggedUserRole==='companies'">{{ 'QUATERLY_REPORT.MoreInformation'| translate}} </option>
								<option [value]=3 [disabled]="loggedUserRole==='companies'">{{ 'QUATERLY_REPORT.Approved'| translate}} </option>
						</select>
					</div>
						<p *ngIf="f1submitted && f1.reportstatus.errors || ( f1.reportstatus.errors &&(f1.reportstatus.dirty))">
							<small *ngIf="(f1.reportstatus.errors && f1.reportstatus.touched) || (f1submitted && f1.reportstatus.errors)"
								class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
						</p>
					</div>
				</div>
				
			</div>
			<!-- <div class="row" *ngIf="loggedUserType===1">
				<div class="col-md-6">
					<div class="form-group">
						<label>{{ 'REPORT.NAME' | translate}} </label>
						<input type="text" class="form-control" formControlName="name" placeholder="Enter Name.">
						<p *ngIf="f1submitted && f1.name.errors || ( f1.name.errors &&(f1.name.dirty))">
							<small *ngIf="(f1.name.errors && f1.name.touched) || (f1submitted && f1.name.errors)"
								class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
						</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>{{ 'REPORT.DATE' | translate}} </label>
						<mat-form-field>
							<input matInput [matDatepicker]="myDatepicker1" formControlName="currentdate"
								placeholder="MM/DD/YYYY">
							<mat-datepicker-toggle matSuffix [for]="myDatepicker1"></mat-datepicker-toggle>
							<mat-datepicker #myDatepicker1></mat-datepicker>
						</mat-form-field>
						<p
							*ngIf="f1submitted && f1.currentdate.errors || ( f1.currentdate.errors &&(f1.currentdate.dirty))">
							<small class="text-danger"
								*ngIf="f1.currentdate.errors.required">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
						</p>
					</div>
				</div>
			</div> -->
			<input *ngIf="loggedUserRole==='companies' || loggedUserRole==='analysts' || loggedUserRole==='analyst-2' || loggedUserRole==='system-admin' || loggedUserRole==='sub-admin'" name="register" type="submit" value="{{ 'REPORT.SAVE' | translate}} "
				class="registerbutt" (click)="onActivate($event)">
		</div>
	</form>
	<div class="container-fluid">
		<!-- accordian -->
		<div id="accordion">
			<div class="card">
				<div class="card-header" id="headingAdmSum">
					<h5 class="mb-0">
						<a class=" btn-link" data-toggle="collapse" data-target="#collapse1" aria-expanded="true"
							aria-controls="collapse1">{{ 'REPORT.AdministrativeBudgetSum' | translate}}</a>
					</h5>
				</div>
				<div id="collapse1" class="collapse show" aria-labelledby="headingAdmSum" data-parent="#accordion">
					<div class="card-body">
						<div class="row">
							<div class="col-12">
								<div *ngIf="total_adm_remain_amt != 0" style="float: right;"><b>{{ 'REPORT.RemainAmount' | translate}}: <span class="{{ adm_remain_color}}">({{total_adm_remain_amt | currency:'USD':'symbol'}}) </span></b></div>
									<table class="table-responsive" width="100%">
										<thead>
											<tr>
												<th>{{ 'REPORT.Expenditure' | translate}}</th>
												<th>{{ 'REPORT.BUDGET' | translate}}</th>
												<th>{{ 'REPORT.RemainAmount' | translate}}</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let data of admSummaryData">
												<td>{{data.description}}</td>
												<td>${{data.tight_budget}}</td>
												<td>${{data.remain_amount}}</td>
												<td><i class="fa {{ data.note}}" title="{{ ('REPORT.' + data.label ) | translate }}" aria-hidden="true"></i>
												</td>
											</tr>
										</tbody>
									</table>
								
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header" id="headingOne">
					<h5 class="mb-0">
						<a class=" btn-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="true"
							aria-controls="collapse2">{{ 'REPORT.AdministrativeBudget' | translate}}</a>
					</h5>
				</div>
				<div id="collapse2" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
					<div class="card-body">
						<div *ngIf="(loggedUserType===1 && reportEdit ) || ( loggedUserType===0 && loggedUserRole==='system-admin' || loggedUserRole==='sub-admin')">
							<form [formGroup]="administativeExpenditureForm"
								(ngSubmit)="onSubmit(administativeExpenditureForm.value)">
								<div class="row">
									<div class="col-6">
										<div class="form-group">
											<label>{{ 'REPORT.Quarter' | translate}}</label>
											<div class="select-style newselect-style">
												<select class="city" formControlName="quarter" disabled>
													<option value="Q1">Q1</option>
													<option value="Q2">Q2</option>
													<option value="Q3">Q3</option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-6">
										<div class="form-group">
											<label>{{ 'REPORT.Expenditure' | translate}}</label>
											<div class="select-style newselect-style">
												<select class="city" formControlName="expenditure">
													<option *ngFor="let data of expenditureData" [value]="data.id">
														{{data.description}} <strong>Remaining: ${{data.remain_amount}}</strong></option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-6">
										<div class="form-group">
											<label>{{ 'REPORT.Date' | translate}}</label>
											<mat-form-field>
												<input matInput [matDatepicker]="myDatepicker" placeholder="MM/DD/YYYY"
													formControlName="dateofincorporationAdmintrator">
												<mat-datepicker-toggle matSuffix [for]="myDatepicker">
												</mat-datepicker-toggle>
												<mat-datepicker #myDatepicker></mat-datepicker>
											</mat-form-field>
											<div class="spacer"></div>
										</div>
									</div>
									<div class="col-6">
										<div class="form-group">
											<label>{{ 'REPORT.ChequeNo' | translate}}</label>
											<input type="text" formControlName="chequeNo" class="form-control">
										</div>
									</div>
									<div class="col-6">
										<div class="form-group">
											<label>{{ 'REPORT.Infavorof' | translate}}</label>
											<input type="text" formControlName="inFavourOf" class="form-control">
										</div>
									</div>
									<div class="col-6">
										<div class="form-group">
											<label>{{ 'REPORT.Amount' | translate}}</label>
											<input type="text" formControlName="amount" class="form-control" currencyMask [options]="{ prefix: '$ ', thousands: ',', decimal: '.' }">
										</div>
									</div>
									<input class="registerbutt" type="submit" value="{{ 'GLOBAL.ADD'|translate}}"
										(click)="onActivate($event)">
								</div>
							</form>
						</div>
						
						<div class="row">
							<div class="col-12">
								<div *ngIf="total_adm_remain_amt != 0" style="float: right;"><b>{{ 'REPORT.RemainAmount' | translate}}: <span class="{{ adm_remain_color}}">({{total_adm_remain_amt | currency:'USD':'symbol'}}) </span></b></div>
									<table class="table-responsive" width="100%">
										<thead>
											<tr>
												<th>ID</th>
												<th style="display: none;">{{ 'REPORT.Quarter' | translate}}</th>
												<th>{{ 'REPORT.Expenditure' | translate}}</th>
												<th>{{ 'REPORT.Date' | translate}}</th>
												<th>{{ 'REPORT.Check' | translate}}</th>
												<th>{{ 'REPORT.Infavorof' | translate}}</th>
												<th>{{ 'REPORT.Amount' | translate}}</th>
												<!-- <th style="display: none;">{{ 'REPORT.RemainAmount' | translate}}</th>
												<th style="display: none;">Budget Amount</th>
												<th style="display: none;"></th> -->
												<th>{{ 'REPORT.Action' | translate}}</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let data of admExpenceData">
												<td>{{data.id}}</td>
												<td style="display: none;">{{data.quarter}}</td>
												<td>{{data.description}}</td>
												<td>{{data.date}}</td>
												<td>{{data.no_check}}</td>
												<td>{{data.infavourof}}</td>
												<td>${{data.expense_amount}}</td>
												<!-- <td style="display: none;">${{data.remain_amount}}</td>
												<td style="display: none;">${{data.budget_amount}}</td>
												<td style="display: none;"><i class="fa {{ data.note}}" title="{{ ('REPORT.' + data.label ) | translate }}" aria-hidden="true"></i>
												</td> -->
												<td><a href="javascript:void(0)" class="edit" *ngIf="reportEdit">
													<i class="fa fa-edit"
															(click)="onClickEditAdminExpance(data)"
															aria-hidden="true"></i></a>

													<a href="javascript:void(0)" class="view" *ngIf="reportEdit">
														<i class="fa fa-trash-o"
															(click)="onClickDeleteAdminExpance(data.id)"
															aria-hidden="true"></i></a></td>
											</tr>
										</tbody>
									</table>
								
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header" id="headingDirectSum">
					<h5 class="mb-0">
						<a class=" btn-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="true"
							aria-controls="collapse3">{{ 'REPORT.DirectBudgetSum' | translate}}</a>
					</h5>
				</div>
				<div id="collapse3" class="collapse" aria-labelledby="headingDirectSum" data-parent="#accordion">
					<div class="card-body">
						<div class="row">
							<div class="col-12">
								<div *ngIf="total_direct_remain_amt != 0" style="float: right;"><b>{{ 'REPORT.RemainAmount' | translate}} : <span class="{{ direct_remain_color}}">({{total_direct_remain_amt | currency:'USD':'symbol'}}) </span> </b></div>
									<table class="table-responsive" width="100%">
										<thead>
											<tr>
												<th>{{ 'REPORT.Expenditure' | translate}}</th>
												<th>{{ 'REPORT.BUDGET' | translate}}</th>
												<th>{{ 'REPORT.RemainAmount' | translate}}</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let data of directSummaryData">
												<td>{{data.description}}</td>
												<td>${{data.tight_budget}}</td>
												<td>${{data.remain_amount}}</td>
												<td><i class="fa {{ data.note}}" title="{{ ('REPORT.' + data.label ) | translate }}" aria-hidden="true"></i>
												</td>
											</tr>
										</tbody>
										
									</table>
								
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header" id="headingTwo">
					<h5 class="mb-0">
						<a class=" btn-link collapsed" data-toggle="collapse" data-target="#collapse4"
							aria-expanded="false" aria-controls="collapse4">{{ 'REPORT.DirectBudget' | translate}}</a>
					</h5>
				</div>
				<div id="collapse4" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
					<div class="card-body">
						<div *ngIf="(loggedUserType===1 && reportEdit )|| ( loggedUserType===0 && loggedUserRole==='system-admin' || loggedUserRole==='sub-admin')">
							<form [formGroup]="directExpenditureForm"
								(ngSubmit)="onSubmitDirect(directExpenditureForm.value)">
								<div class="row">
									<div class="col-6">
										<div class="form-group">
											<label>{{ 'REPORT.Quarter' | translate}}</label>
											<div class="select-style newselect-style">
												<select class="city" formControlName="quarter" disabled>
													<option value="Q1">Q1</option>
													<option value="Q2">Q2</option>
													<option value="Q3">Q3</option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-6">
										<div class="form-group">
											<label>{{ 'REPORT.Expenditure' | translate}}</label>
											<div class="select-style newselect-style">
												<select class="city" formControlName="expenditure">
													<option *ngFor="let data of directExpenditureData" [value]="data.id">
														{{data.description}} <strong>Remaining: ${{data.remain_amount}}</strong></option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-6">
										<div class="form-group">
											<label>{{ 'REPORT.Date' | translate}}</label>
											<mat-form-field>
												<input matInput [matDatepicker]="myDatepicker1" placeholder="MM/DD/YYYY"
													formControlName="dateofincorporationDirect">
												<mat-datepicker-toggle matSuffix [for]="myDatepicker1">
												</mat-datepicker-toggle>
												<mat-datepicker #myDatepicker1></mat-datepicker>
											</mat-form-field>
											<div class="spacer"></div>
										</div>
									</div>
									<div class="col-6">
										<div class="form-group">
											<label>{{ 'REPORT.ChequeNo' | translate}}</label>
											<input type="hidden" name="UpdatedBy" value="1">
											<input type="text" formControlName="chequeNo" class="form-control">
										</div>
									</div>
									<div class="col-6">
										<div class="form-group">
											<label>{{ 'REPORT.Infavorof' | translate}}</label>
											<input type="hidden" name="UpdatedBy" value="1">
											<input type="text" formControlName="inFavourOf" class="form-control">
										</div>
									</div>
									<div class="col-6">
										<div class="form-group">
											<label>{{ 'REPORT.Amount' | translate}}</label>
											<input type="text" formControlName="amount" class="form-control" currencyMask [options]="{ prefix: '$ ', thousands: ',', decimal: '.' }">
										</div>
									</div>
									<input class="registerbutt" type="submit" value="{{ 'GLOBAL.ADD'|translate}}"
										(click)="onActivate($event)">
								</div>
							</form>
						</div>
						<div class="row">
							<div class="col-12">
								<div *ngIf="total_direct_remain_amt != 0" style="float: right;"><b>{{ 'REPORT.RemainAmount' | translate}} : <span class="{{ direct_remain_color}}">({{total_direct_remain_amt | currency:'USD':'symbol'}}) </span> </b></div>
	
								<table width="100%" border="0" cellspacing="0" cellpadding="0">
									<thead>
										<tr>
											<th>ID</th>
											<th style="display: none;">{{ 'REPORT.Quarter' | translate}}</th>
											<th>{{ 'REPORT.Expenditure' | translate}}</th>
											<th>{{ 'REPORT.Date' | translate}}</th>
											<th>{{ 'REPORT.Check' | translate}}</th>
											<th>{{ 'REPORT.Infavorof' | translate}}</th>
											<th>{{ 'REPORT.Amount' | translate}}</th>
											<!-- <th style="display: none;">{{ 'REPORT.RemainAmount' | translate}}</th>
											<th style="display: none;">Budget Amount</th>
											<th style="display: none;"></th> -->
											<th>{{ 'REPORT.Action' | translate}}</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let data of directExpenceData">
											<td>{{data.id}}</td>
											<td style="display: none;">{{data.quarter}}</td>
											<td>{{data.description}}</td>
											<td>{{data.date}}</td>
											<td>{{data.no_check}}</td>
											<td>{{data.infavourof}}</td>
											<td>${{data.expense_amount}}</td>
											<!-- <td style="display: none;">${{data.remain_amount}}</td>
											<td style="display: none;">${{data.budget_amount}}</td>
											<td style="display: none;"><i class="fa {{ data.note}}" title="{{ ('REPORT.' + data.label ) | translate }}" aria-hidden="true"></i></td> -->
											<td>
												<a href="javascript:void(0)" class="edit" *ngIf="reportEdit">
													<i class="fa fa-edit" (click)="onClickEditAdminExpance(data)" aria-hidden="true"></i></a>
												<a href="javascript:void(0)" class="view" *ngIf="reportEdit">
													<i class="fa fa-trash-o" (click)="onClickDeleteDirectExpance(data.id)" aria-hidden="true"></i></a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header" id="headingThree">
					<h5 class="mb-0">
						<a class=" btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
							aria-expanded="false" aria-controls="collapseThree">
							{{ 'REPORT.Evidence' | translate}}
						</a>
					</h5>
				</div>
				<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
					<div class="card-body">

						<div *ngIf="loggedUserType===1 || ( loggedUserType===0 && loggedUserRole==='system-admin' || loggedUserRole==='sub-admin')">
							<form [formGroup]="evidenceForm" (ngSubmit)="onSubmitEvidence(evidenceForm.value)">
								<div class="row">
									<div class="col-6">
										<div class="form-group">
											<label>{{ 'REPORT.Quarter' | translate}}</label>
											<div class="select-style newselect-style">
												<select class="city" formControlName="quarter" disabled>
													<option value="Q1">Q1</option>
													<option value="Q2">Q2</option>
													<option value="Q3">Q3</option>
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-8">
										<div class="form-group">
											<label>{{ 'REPORT.Classification' | translate}}</label>
											<div class="select-style newselect-style">


												<!-- <select class="city" formControlName="classification"
													(change)="onChangeClassification($event.target.value)">
													<option value="">{{ 'PROPOSAL.SELECT_EVIDENCE' | translate }}</option>
													<option *ngFor="let data of classificationData" [value]="data.id">
														{{ 'QUATERLY_REPORT.' + data.evidence | translate}}</option>
												</select> -->

												<select class="city" formControlName="classification" (change)="onChangeClassification($event.target.value)">
													<option value="">{{ 'PROPOSAL.SELECT_EVIDENCE' | translate }}</option>
													<optgroup *ngFor="let data of classificationData" label="{{ 'QUATERLY_REPORT_REQ.' + data.type | translate}}">
														<option *ngFor="let each of data.list" [value]="each.id">
														{{ 'QUATERLY_REPORT.' + each.evidence | translate}} </option>
													</optgroup>
												</select>
											</div>
										</div>
									</div>
									<!-- <div class="col-md-4">
										<div class="download_butt downpad_top">
											<a href="#">
												<img src="assets/images/download.png">
												<span>Click here to download template </span>
											</a>
										</div>
									</div> -->
								</div>
								<div class="row">
									<div class="col-md-12">
										<h5 class="necetxt">{{ 'GLOBAL.UPLOAD_DOCUMENTS' | translate }}</h5>
										<div class="uploadwrap">
											<div class="upload-btn-wrapper">
												<button
													class="btn browserupload">{{ 'PROPOSAL.BROWSEUPLOADDOCUMENT'|translate }}</button>
												<input name="" type="file" multiple class="form-control"
													(change)="fileChangeEvent($event)" />
											</div>
											<button type="submit" class="addnewbutt"
												[disabled]="loadingFile">{{ 'GLOBAL.UPLOAD' | translate }}<i
													class="fa fa-refresh fa-spin" style="margin-left: 5px"
													*ngIf="loadingFile"></i></button>
											<div class="wrap-temp" *ngFor="let eachfile of upFiles">
												{{eachfile.name}}<a href="javascript:" (click)="removeFile(eachfile)">X</a>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
						<div class="row evidence_table">
							<div class="col-12">
								<table width="100%" border="0" cellspacing="0" cellpadding="0">
									<thead>
										<tr>
											<th>ID</th>
											<th>{{ 'REPORT.Evidence' | translate}}</th>
											<th>R/O</th>
											<th>{{ 'REPORT.Document' | translate}}</th>
											<th>{{ 'REPORT.Action' | translate}}</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let data of evidenceData">
											<td>{{data.id}}</td>
											<td>{{ 'QUATERLY_REPORT.' + data.evidence | translate}}</td>
											<td>{{data.RO}}</td>
											<td><a href="{{fileUrl}}/{{data.file_path}}">{{data.org_file_name}}</a></td>
											<td><a href="javascript:void(0)" (click)="onClickDeleteEvidence(data.id)"
													class="view"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- accordian -->
	</div>
</div>
<div *ngIf="showLoader" class="not-found top placeholder" fxLayout="column" fxLayoutAlign="center center">
	<img class="logo-loader" src="assets/images/icon/loader.gif" height="32px" width="32px">
</div>
<ngx-ui-loader [fgsType]="spinnerType"></ngx-ui-loader>