<mat-toolbar color="primary">
    <span class="mat-title m-a-0">
        {{ 'PROPOSAL.APPHISTORY' | translate }}
    </span>
    <span fxflex="">
    </span>
    <button mat-dialog-close="" mat-icon-button="">
        <mat-icon>
            close
        </mat-icon>
    </button>
</mat-toolbar>
<mat-dialog-content>
    <!-- Tabs -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        <a aria-controls="nav-profile" aria-selected="true" class="nav-item nav-link active" data-toggle="tab" href="#nav-profile" id="nav-profile-tab" role="tab">
                        </a>
                    </div>
                </nav>
                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                    <div *ngIf="showData.status == 'notView' || showData.status == 'view'" aria-labelledby="nav-profile-tab" class="tab-pane fade show active" id="nav-profile" role="tabpanel">
                        <table border="0" cellpadding="0" cellspacing="0" class="uploadtable" width="100%">
                            <tr style="border-top:none;">
                                <th>
                                    <p>
                                        <span>
                                            {{ 'GLOBAL.DATE'  | translate }}
                                        </span>
                                    </p>
                                </th>
                                <th>
                                    <p>
                                        <span>
                                            {{ 'GLOBAL.USER'  | translate }}
                                        </span>
                                    </p>
                                </th>
                                <th>
                                    <p>
                                        <span>
                                            {{ 'GLOBAL.DESC'  | translate }}
                                        </span>
                                    </p>
                                </th>
                            </tr>
                            <tr *ngFor="let data of moreinfolisting">
                                <td>
                                    <p>
                                        {{data.created_at | date: 'short' : 'GMT-4' }}
                                    </p>
                                    <!-- <p>{{data.created_at | date: 'short' : '+0530' }}</p> -->
                                    <!-- <p>{{data.created_at | date: 'short'}}</p> -->
                                </td>
                                <td>
                                    <p>
                                        {{ data.log_user.user_type == 0 ?  ( data.log_user.admin_first_name + ' ' +data.log_user.admin_last_name ) : data.log_user.entity_name }}
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        {{ ('LOG.' + data.desc ) | translate }}
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ./Tabs -->
</mat-dialog-content>
