<div class="headerBanner scrollSection" id="header">
	<div class="d-flex flex-row px-4 topHeader">
		<div class="mr-auto logo">
			<a href="javascript:void(0)" (click)="navigateHome()">
				<img src="assets/images/logo_org.png" alt="logo" />
			</a>
		</div>
		<div class="topTxt" *ngIf="projectData.length > 0">
			<ngb-carousel>
				<ng-template ngbSlide *ngFor="let latestProject of projectData | slice:0:3">
					<h2 *ngIf="language == 'en'">
						<span [innerHTML]="latestProject.projectNameEn"></span>
						<span>Submit your proposal for funding</span>
						<span class="sub_txt"><em>Submission Dates:</em>
							{{latestProject.startDate | toDateObj | date:'MMMM d'}}{{(latestProject.startDate |
							toDateObj | date: "d") | dateSuffix}}
							-
							{{latestProject.endDate | toDateObj | date:'MMMM dd'}}{{(latestProject.endDate | toDateObj |
							date: "d") | dateSuffix}}{{latestProject.endDate | toDateObj | date:', yyyy'}}
						</span>
					</h2>
					<h2 *ngIf="language == 'es'">
						<span [innerHTML]="latestProject.projectNameEs"></span>
						<span>Envía tu propuesta para obtener fondos</span>
						<span class="sub_txt"><em>Fechas de envío :</em>
							{{latestProject.startDate | toDateObj | date:'d'}} de
							{{latestProject.startDate | toDateObj | date:'MMMM':'-0400':'es' }} -
							{{latestProject.endDate | toDateObj | date:'dd'}} de
							{{latestProject.endDate | toDateObj | date:'MMMM':'-0400':'es'}} de
							{{latestProject.endDate | toDateObj | date:'yyyy'}}
						</span>
						<!-- Date time in Spanish {{todayDate | date:'full':'+0200':'es'}} -->
					</h2>
				</ng-template>
			</ngb-carousel>
		</div>
		<div class="topTxt" *ngIf="projectData.length == 0">
			<h2 *ngIf="language == 'en'">
				<span>SPECIAL JOINT COMMISSION OF LEGISLATIVE FUNDS FOR COMMUNITY IMPACT</span>
			</h2>
			<h2 *ngIf="language == 'es'">
				<span>COMISIÓN ESPECIAL CONJUNTA DE FONDOS LEGISLATIVOS PARA IMPACTO COMUNITARIO</span>
			</h2>
			<div class="topBtnPan">
				<a class="btn btn-primary" href="javascript:void(0)" (click)="navigate('/news-list')">{{ 'GLOBAL.NEWS' |
					translate }}</a>
			</div>
		</div>
		<div class="ml-auto topHeaderRight">
			<div class="headerRightNav">
				<div id="panel1" *ngIf="showTopNav">
					<div class="langWrap">
						<ul>
							<li>
								<a href="javascript:void(0)" class="nav-link active" [class.active]="language ==='en'"
									(click)="changeLang('en')">EN
									<img src="assets/images/USA.svg" alt="USA" /> </a>
							</li>
							<li>
								<a href="javascript:void(0)" class="nav-link" [class.active]="language ==='es'"
									(click)="changeLang('es')">ES
									<img src="assets/images/PRI.svg" alt="PRI" />
								</a>
							</li>
						</ul>
					</div>
					<nav class="navbar navbar-expand p-0">
						<a href="javascript:void(0)" class="navbar-toggler fa fa-bars" (click)="menuToggle()"></a>
						<div class="navbarWrap" id="menu">
							<ul class="navbar-nav">
								<li *ngIf="!userInfo" class="nav-item">
									<a class="nav-link" href="javascript:void(0)" (click)="navigateRegister()">{{
										'LOGIN.REGISTER_TXT' | translate }}</a>
								</li>
								<li *ngIf="!userInfo" class="nav-item">
									<a class="nav-link" href="javascript:void(0)" (click)="navigateLogin()">{{
										'LOGIN.LOGIN_TXT' | translate }}</a>
								</li>
								<li *ngIf="userInfo" class="nav-item">
									<a href="{{ projectUrl }}post-auth/dashboard"
										*ngIf="userInfo.user.user_type===0">{{userInfo.user.admin_first_name |
										titlecase}}
										{{userInfo.user.admin_last_name | titlecase}}</a>
									<a href="{{ projectUrl }}post-auth/dashboard"
										*ngIf="userInfo.user.user_type===1">{{userInfo.user.entity_name |
										titlecase}}</a>
								</li>
								<!-- <li *ngIf="userInfo" class="nav-item">
                                    <a class="nav-link" href="javascript:void(0)" (click)="logOut()">{{'HEADER.LOGOUT' | translate}}</a>
                                </li>
								<li class="nav-item">
									<a class="nav-link" href="#">{{ 'WEBSITE.HELP' | translate }}</a>
								</li>  -->
							</ul>
						</div>
					</nav>
					<!-- <div class="searchIcon">
            <a class="nav-link" href="javascript:void(0)" (click)="toggleSearch()" id="searchClick">
              <i class="fa fa-search"></i>
            </a>
          </div> -->
				</div>
				<div class="searchWrap" id="fullSearchPan" *ngIf="showSearch">
					<div class="searchInner">
						<input type="text" placeholder="Search" />
						<button type="submit">
							<i class="fa fa-search"></i>
						</button>
					</div>
					<a href="javascript:void(0)" class="cancel fa fa-times" (click)="toggleSearch()"></a>
				</div>
			</div>
			<div class="headerRightCounter">
				<div class="row headerCountPan" *ngIf="projectData.length  > 0">
					<div class="col" style="text-align: center;">
						{{remainDays}}
						<span>{{ 'WEBSITE.DAYS' | translate }}</span>
					</div>
					<div class="col" style="text-align: center;">
						{{remainHrs}}
						<span>{{ 'WEBSITE.HRS' | translate }}</span>
					</div>
					<div class="col" style="text-align: center;">
						{{remainMin}}
						<span>{{ 'WEBSITE.MIN' | translate }}</span>
					</div>
					<div class="col" style="text-align: center;">
						{{remainSec}}
						<span>{{ 'WEBSITE.SEC' | translate }}</span>
					</div>
				</div>
				<div class="topBtnPan">
					<a class="btn btn-primary" href="javascript:void(0)" (click)="navigateLogin()">{{ 'WEBSITE.APPLYNOW'
						| translate }}</a>
					<a href="javascript:void(0)" (click)="elegibletoapplyLink()"><span>{{ 'WEBSITE.WHOELEGIBLE' |
							translate }}</span></a>
				</div>
			</div>
		</div>
	</div>
	<!--	<div class="headerSlider" *ngIf="language == 'en'">-->
	<!--		<ngb-carousel>-->
	<!--			<ng-template ngbSlide>-->
	<!--				<img src="assets/images/slider/boost-financial-stability-and-economic-development-en.jpg" alt="Random first slide">-->
	<!--			</ng-template>-->
	<!--			<ng-template ngbSlide>-->
	<!--				<img src="assets/images/slider/promotion-of-positive-and-healthy-behavior-en.jpg" alt="Random second slide">-->
	<!--			</ng-template>-->
	<!--			<ng-template ngbSlide>-->
	<!--				<img src="assets/images/slider/strenghtening-of-our-culture-en.jpg" alt="Random third slide">-->
	<!--			</ng-template>-->
	<!--		</ngb-carousel>-->
	<!--	</div>-->

	<div class="listTxtPan container-fluid">
		<ul class="nav nav-pills nav-fill">
			<li class="nav-item" *ngFor="let data of barData; let i = index">
				<div class="nav-link">{{ ('REGISTRATION.CATEGORY_OPT.' + data.category ) | translate }} <span>{{data.tot}}</span></div>
			</li>
			
		</ul>
	</div>


	<div class="headerSlider">
		<ngb-carousel>
			<ng-template ngbSlide>
				<div class="picsum-img-wrapper">
					<img class="half-black"
						src="assets/images/slider/boost-financial-stability-and-economic-development-es.jpg"
						alt="Random first slide">
				</div>
				<div class="carousel-caption">
					<h2>{{ 'WEBSITE.SLIDE01-TITLE' | translate }}</h2>
					<p class="text-width">{{ 'WEBSITE.SLIDE01-DESC' | translate }}</p>
					<a href="{{ 'WEBSITE.SLIDE01-LINK' | translate }}" class="btn btn-primary">{{ 'WEBSITE.DIRECTORY' |
						translate }}</a>
				</div>
			</ng-template>
			<ng-template ngbSlide>
				<div class="picsum-img-wrapper">
					<img class="half-black" src="assets/images/slider/promotion-of-positive-and-healthy-behavior-es.jpg"
						alt="Random second slide">
				</div>
				<div class="carousel-caption">
					<h2>{{ 'WEBSITE.SLIDE02-TITLE' | translate }}</h2>
					<p class="text-width">{{ 'WEBSITE.SLIDE02-DESC' | translate }}</p>
					<a href="{{ 'WEBSITE.SLIDE02-LINK' | translate }}" class="btn btn-primary">{{ 'WEBSITE.DIRECTORY' |
						translate }}</a>
				</div>
			</ng-template>
			<ng-template ngbSlide>
				<div class="picsum-img-wrapper">
					<img class="half-black" src="assets/images/slider/strenghtening-of-our-culture-es.jpg"
						alt="Random third slide">
				</div>
				<div class="carousel-caption">
					<h2>{{ 'WEBSITE.SLIDE03-TITLE' | translate }}</h2>
					<p class="text-width">{{ 'WEBSITE.SLIDE03-DESC' | translate }}</p>
					<a href="{{ 'WEBSITE.SLIDE03-LINK' | translate }}" class="btn btn-primary">{{ 'WEBSITE.DIRECTORY' |
						translate }}</a>
				</div>
			</ng-template>

			<ng-template ngbSlide>
				<div class="picsum-img-wrapper">
					<img class="half-black" src="assets/images/slider/child_poverty_eradication.jpg"
						alt="Random third slide">
				</div>
				<div class="carousel-caption">
					<h2>{{ 'WEBSITE.SLIDE04-TITLE' | translate }}</h2>
					<p class="text-width">{{ 'WEBSITE.SLIDE04-DESC' | translate }}</p>
					<a href="{{ 'WEBSITE.SLIDE04-LINK' | translate }}" class="btn btn-primary">{{ 'WEBSITE.VIEWLIST' |
						translate }}</a>
				</div>
			</ng-template>
		</ngb-carousel>
	</div>
</div>