.topBtnPan a span{
    display: block;
    font-size: 12px;
    color: #fff;
    padding-top: 15px;
}

.langWrap ul li img{
    width: 25px;
    float: right;
    margin-left: 8px;
    vertical-align: top;
    margin-top: 3px;
}
.navbar-expand .navbar-nav .nav-link{
    padding-top: 0px;
}

.picsum-img-wrapper {
    img {
        width: 100vw;
        height: 85vh;
        max-width: 100%;
        display: block;
        margin: 0;
    }
}



.half-black{
    filter: brightness(50%);
}

.h2{
 font-size: 3vw;
}



@media screen and (min-width: 765px) {
    .carousel-caption {
        padding-bottom: 150px;
        //margin: auto;

    }

    .text-width {
        text-align: left;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        font-size: 1.5vw;
    }
}
@media screen and (max-width: 765px) {
    .h2{
        font-size: 2vw;
    }
    .text-width
    {
        text-align: left;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:100%;
        font-size: 2vw;


    }
}

