.newsmaindiv{
    padding: 40px 0;
}
.newsmaindiv h2{
    padding-bottom: 25px;
}
.qadiv p{
    font-size: 16px;
    font-weight:bold;
   
}

.qadiv div{
    font-size: 16px;
    padding-bottom: 20px;
}

.newsWrap{
	background-color: #f1f3f4;
	border: solid 1px #cfd3d8;
	padding: 20px;
	margin-bottom: 30px;
	.newsDate{
		color: #000;
		margin-bottom: 5px;
		display: inline-block;
	}
	.btn {
		font-size: 13px;
		line-height: 40px;
		padding: 0px 20px;
		font-weight: 500;
		margin: 0 auto;
	}
}


@media screen and (max-width:992px) and (min-width:300px) {
.newsWrap{
	.newsSlider{
		margin-bottom: 20px;
	}
}
}