<app-menu></app-menu>
<app-innear-header></app-innear-header>

<div class="container py-4">

	<div class="newsWrap" *ngFor="let news of searchList">
		<div class="row">
			<div class="col-12 col-xl-5 col-lg-5 newsSlider">
				<img [src]="getImgUrl(news.news_documents[0]?.doc_path)" alt="Random first slide">
			</div>
			<div class="col-12 col-xl-7 col-lg-7">
				<div class="newsPan">
					<span class="newsDate">{{news.updated_at | toDateObj | date:'dd-MMMM-yyyy'}}</span>
					<div class="newsTxt">
						<h4 *ngIf="language == 'en'">{{news.NewsTitle}}</h4>
						<h4 *ngIf="language == 'es'">{{news.NewsTitleSpanish}}</h4>
						<p *ngIf="language == 'en'" [innerHTML]="news.NewsBody.substring(0, 500)+'...' "></p>
						<p *ngIf="language == 'es'" [innerHTML]="news.NewsBodySpanish.substring(0, 500)+'...'"></p>
						<a class="btn btn-primary" href="javascript:void(0)"
							(click)="newsDetailsLink(news.slug)">{{ 'WEBSITE.READMORE' | translate }}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<mat-paginator [length]="totalItem" #paginator [pageSize]="itemsPerPage" (page)="getNext($event)"
		[showFirstLastButtons]="true">
	</mat-paginator>
</div>
<ngx-ui-loader [fgsType]="spinnerType"></ngx-ui-loader>
<app-footer-website></app-footer-website>