.resourcesBg{
	background: url(../../../../assets/images/faq-bg.jpg) 50% 50%/cover no-repeat;
	min-height: 100vh;
    .row{
		width: 100%;
		margin-top: auto;
		margin-bottom: auto;
    }

    .titleWrap{
        position: relative;
        display: inline-block;
        margin: 0 auto 30px;
        &:after{
            left: -2%;
            right: 0;
            width: 104%;
        }
    }

    .faqPan{
        width: 70%;
        //margin-bottom: 60px;
        
        
        .faqLeft{
            text-align: right;
            padding-top: 40px;
           
            
            p{
                font-size: 15px;
                line-height: 20px;
                font-weight: 300;
                color: #fff;
                padding: 0 20px 15px 0;
                margin-bottom: 20px;
                border-bottom:solid 1px #fff;
                &.selected{
                    border-bottom: solid 1px #1855a1;
                    color: #fff;
                }
            }
        }
        .faqRight{
            background: #800020;
            vertical-align: middle;
            display: flex;
            align-items: center;
            text-align: left;
            font-size: 18px;
            list-style: 23px;
            color: #fff;
            padding: 25px 75px;
        }
    }

}

.btnContainer{
    margin-top: 60px;
}
.resourcesBg p a{
   color: #fff;
   text-decoration:none;
   
}

// Start 768px to 300px
@media screen and (max-width:768px) and (min-width:300px) {


    .resourcesBg{
        .faqPan{
            width: 100%;
            margin-bottom: 30px;
            .faqLeft{
                text-align: left;
                padding-top: 20px;
                h4{
                    padding-right: 0;
                }
                p{
                    padding-bottom: 10px;
                }
            }
            .faqRight{
                font-size: 18px;
                list-style: 20px;
                padding: 30px 20px;
            }
        }

    }
    
}
// End 768px to 300px