<!-- <div class="floatingMenu">
	<ul>
		<li>
			<a (click)="navigateHome('header')" class="icon-home"></a>
			<div class="menuTips">{{ 'GLOBAL.HOME' | translate }}</div>
		</li>
		<li>
			<a (click)="navigateHome('commission')" class="icon-comission"></a>
			<div class="menuTips">{{ 'GLOBAL.COMMISSION' | translate }}</div>
		</li>
		<li>
			<a (click)="navigateHome('latest')" class="icon-events"></a>
			<div class="menuTips">{{ 'GLOBAL.NEWS' | translate }}</div>
		</li>
		<li>
			<a (click)="navigateHome('service')"class="icon-service--providers"></a>
			<div class="menuTips">{{ 'GLOBAL.SERVICES' | translate }}</div>
		</li>
		<li>
			<a (click)="navigateHome('faq')" class="icon-faq"></a>
			<div class="menuTips">{{ 'GLOBAL.FAQ' | translate }}</div>
		</li>
		<li>
			<a (click)="navigateHome('contact')" class="icon-contact" title="Contact"></a>
			<div class="menuTips">{{ 'GLOBAL.CONTACT' | translate }}</div>
		</li>
	</ul>
</div> -->


<div class="floatingMenu">
	<ul>
		<li>
			<a href="/home#header" class="icon-home"></a>
			<div class="menuTips">{{ 'GLOBAL.HOME' | translate }}</div>
		</li>
		<li>
			<a href="/home#commission" class="icon-comission"></a>
			<div class="menuTips">{{ 'GLOBAL.COMMISSION' | translate }}</div>
		</li>
		<li>
			<a href="/home#latest" class="icon-events"></a>
			<div class="menuTips">{{ 'GLOBAL.NEWS' | translate }}</div>
		</li>
		<li>
			<a href="/home#service" class="icon-service--providers"></a>
			<div class="menuTips">{{ 'GLOBAL.SERVICES' | translate }}</div>
		</li>
		<li>
			<a href="/home#faq" class="icon-faq"></a>
			<div class="menuTips">{{ 'GLOBAL.FAQ' | translate }}</div>
		</li>
		<li>
			<a href="/home#contact" class="icon-contact" title="Contact"></a>
			<div class="menuTips">{{ 'GLOBAL.CONTACT' | translate }}</div>
		</li>
	</ul>
</div>