<mat-toolbar class="header mat-elevation-z6" color="primary" fxLayout="row">
	<!-- menu button -->
	<button color="grey" mat-button (click)="navBtnClicked()" class="menu-toggle p-a-0">
		<mat-icon>menu</mat-icon>
	</button>
	<!-- logo -->
	<a href="/post-auth/dashboard" title="CECFL" class="logo" fxFlex="initial"><img src="assets/images/logo.png">
	</a>
	<span fxFlex></span>
	<!-- <button mat-mini-fab class="mat-elevation-z0" (click)="logOut()" matTooltip="Sign Out" matTooltipPosition="left">
    <mat-icon>power_settings_new</mat-icon>
  </button> -->
	<div class="langWrap">
		<ul>
			<li>
				<a href="javascript:void(0)" class="nav-link active" [class.active]="language ==='en'"
					(click)="changeLang('en')">EN
					<img src="assets/images/USA.svg" alt="USA" /> </a>
			</li>
			<li>
				<a href="javascript:void(0)" class="nav-link" [class.active]="language ==='es'"
					(click)="changeLang('es')">ES
					<img src="assets/images/PRI.svg" alt="PRI" />
				</a>
			</li>
		</ul>
	</div>
	<!-- <a mat-menu-item href="javascript:void(0)" class="headerMenu langM" [class.active]="language ==='en'" (click)="changeLang('en')">
    <mat-icon>settings</mat-icon>
    <span>EN</span>
  </a>
  <a mat-menu-item href="javascript:void(0)" class="headerMenu langM" [class.active]="language ==='es'" (click)="changeLang('es')">
    <mat-icon>settings</mat-icon>
    <span>ES</span>
  </a> -->

	<mat-menu #headerMenu="matMenu" class="headerMenu" xPosition="before">
		<button mat-menu-item (click)="changePassword()">{{'HEADER.CHANGE_PASS' | translate}}</button>
		<button *ngIf="userInfo.user.user_type===1" mat-menu-item (click)="editProfile()">{{'HEADER.EDIT_PROFILE' |
			translate}}</button>
		<button mat-menu-item (click)="logOut()">{{'HEADER.LOGOUT' | translate}}</button>
	</mat-menu>
	<button mat-button [matMenuTriggerFor]="headerMenu">
		<span *ngIf="userInfo.user.user_type===0"><strong class="welcome">{{'HEADER.WELCOME' | translate}},</strong>
			{{userInfo.user.admin_first_name | titlecase}} {{userInfo.user.admin_last_name | titlecase}}</span>
		<span *ngIf="userInfo.user.user_type===1">{{'HEADER.WELCOME' | translate}}, {{userInfo.user.entity_name |
			titlecase}}</span>
		<mat-icon className="material-icons">keyboard_arrow_down</mat-icon>
	</button>
</mat-toolbar>
<!-- <div class="container pagewrapper">
  <div class="row">
    <div class="col-xl-12">
      <div class="logo"><a href="#" title="CECFL"><img src="assets/images/logo.jpg" alt="" /></a></div>
    </div>
  </div>
</div> -->