@import "../../../scss/theme";
// header
.header{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	height: $mat-toolbar-height-desktop;
	.menu-toggle{
		width: $mat-toolbar-height-desktop;
		height: $mat-toolbar-height-desktop;
		margin-left: -16px;
		min-width: $mat-toolbar-height-desktop;
	}
	.logo{
		position: absolute;
		left: 75px;
		top:19px;
		img{
			// height: 45px;
			border-radius: 50%;
			width:80px;
			height:80px;
		}
	}
	button{
		margin-left: 10px;
	}


	
}
.premium-calculation ul{
	text-align:center;
	display:table;
	table-layout:fixed;
    width:100%;
    font-family: 'Montserrat', sans-serif;
    padding-top: 40px;
}
.premium-calculation ul li{
	display:table-cell;
	width:33%;
	text-align:center;
	position:relative;
}
.premium-calculation ul li span{
	display:block;
	padding-top:15px;
	color:#aeaeae;
	font-weight:400;
    font-size:12px;
    text-transform:capitalize;
    font-weight:600;
}
.premium-calculation ul li.active span, .premium-calculation ul li.alreadyactive span{
	color:#000;
	
}

.premium-calculation ul li .number{
	width:25px;
	height:25px;
	border-radius:28px;
	border:solid 1px #a6a6a6;
	color:#a9a9a9;
	font-size:12px;
	line-height:22px;
	text-align:center;
	display:inline-block;
	background-color:#fff;
	position:relative;
	z-index:9;
}
.premium-calculation ul li .reactive{
    color:#000;
    border:solid 1px #000;
	/* background-color:#298fd7; */
}
.premium-calculation ul li:after{
	content:"";
 	width:50%;
	height:1px;
	background-color:#e5e5e5;
	position:absolute;
	right:0;
	top:23%;
}
.premium-calculation ul li:nth-child(2):after{
	width:100%;
}
.premium-calculation ul li:nth-child(3):after{
	width:100%;
}
.premium-calculation ul li:nth-child(4):after{
	width:100%;
}
.premium-calculation ul li:nth-child(5):after{
	width:100%;
}
.premium-calculation ul li:nth-child(6):after{
	width:100%;
}
.premium-calculation ul li:nth-child(7):after{
	width:100%;
}
.premium-calculation ul li:nth-child(8):after{
	width:100%;
}
.premium-calculation ul li:nth-child(9):after{
	width:100%;
}
.premium-calculation ul li:nth-child(10):after{
	width:100%;
}
.premium-calculation ul li:last-child:after{
	right:auto;
	left:0;
}

.premium-calculation ul li.active:before, .premium-calculation ul li.alreadyactive:before{
	content: "";
	/* width: 23%; */
	 /* height: 4px;
	background-color: #298fd7;  */
	position: absolute;
	left:55%;
	top: 26%;
	z-index: 99;
}


.premium-calculation ul li.alreadyactive:before{
	width: 90%;
	color:#222222;
	
}
.premium-calculation ul li:last-child:before{
	display:none;
}

.headerdiv{
	background:url(src/assets/images/header_rept_blueimg.jpg) repeat-x 0 0;
	height: 100%;
	overflow:hidden;
}
@media (min-width: 1025px) and (max-width: 1400px) {
	.header .logo{
		left:50px;
		top:19px;
	}
}



@media (min-width: 300px) and (max-width: 1024px) {

	.header .logo{
		left: 50px;
		top:3px;
	}

	.header .logo img{
		width:45px;
		height:45px;
	 }

	 .header{
		button.mat-menu-trigger{
			font-size: 12px;
			line-height: 15px;
			position: relative;
			top: -3px;
		}
	 }

}

@media (min-width: 300px) and (max-width: 676px){

	strong.welcome{
		font-weight: normal;
		display: block;
		line-height: 0;
	   padding-top: 17px;
	}
	
	.mat-button-base{
		padding:0 8px;
	}

	.langWrap{
		margin-left: 46px;
	}
	
}

.header, .langM{
	color: #fff!important;
}


.langWrap ul {
    list-style-type: none;
    margin-bottom: 0;
}
.langWrap ul li {
    padding-left: 8px;
    padding-right: 8px;
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    position: relative;
}
.langWrap ul li a {
    padding-left: 0;
    padding-right: 0;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.langWrap ul li img{
    width: 25px;
    float: right;
    margin-left: 8px;
    vertical-align: top;
    margin-top: 8px;
}
