<mat-toolbar color="primary">
    <span class="mat-title m-a-0">
        {{ 'ENTITY_SEARCH.INFO' | translate }}
    </span>
    <span fxflex="">
    </span>
    <button mat-dialog-close="" mat-icon-button="">
        <mat-icon>
            close
        </mat-icon>
    </button>
</mat-toolbar>
<mat-dialog-content>
    <!-- Tabs -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table border="0" cellpadding="0" cellspacing="0" class="uploadtable" width="100%">
                    <tr style="border-top:none;">
                        <th>
                            <p>
                                <span>
                                    {{ 'ENTITY_SEARCH.ID' | translate}}
                                </span>
                            </p>
                        </th>
                        <th>
                            <p>
                                <span>
                                    {{ 'ENTITY_SEARCH.ENTITY_NAME' | translate}}
                                </span>
                            </p>
                        </th>
                        <th>
                            <p>
                                <span>
                                    {{ 'ENTITY_SEARCH.PHONE' | translate}}
                                </span>
                            </p>
                        </th>
                        <th>
                            <p>
                                <span>
                                    {{ 'ENTITY_SEARCH.EMAIL' | translate}}
                                </span>
                            </p>
                        </th>
                        <th>
                            <p>
                                <span>
                                    {{ 'ENTITY_SEARCH.CITY' | translate}}
                                </span>
                            </p>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                {{ showData.info.id }}
                            </p>
                        </td>
                        <td>
                            <p>
                                {{ showData.info.entity_name }}
                            </p>
                        </td>
                        <td>
                            <p>
                                {{ showData.info.phone }}
                            </p>
                        </td>
                        <td>
                            <p>
                                {{ showData.info.email }}
                            </p>
                        </td>
                        <td>
                            <p>
                                {{ showData.info.city.city }}
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</mat-dialog-content>
