<div fxFill fxLayout="column" fxLayoutAlign="center center" class="loginPage">
  <div class="loginFormOuter m-a" fxLayout="column">
    <!-- forgot form start -->
    <div class="loginForm">
      <!-- Forgot form heading start -->
      <div class="loginBoxLogo">
        <div class="logoWrap">
          <a href="/">
            <img src="assets/images/logo.png" alt="">
          </a>
        </div>
      </div>
      <div>
        <!-- Forgot form heading end -->
        <h2>{{ 'COMP_FORGOT_PASSWORD.FORGOT_PASSWORD_FORM.TXT_CAPTION' | translate }}</h2>
        <p class="m-b">
          <small>{{ 'COMP_FORGOT_PASSWORD.FORGOT_PASSWORD_FORM.TXT_TITLE' | translate }}</small>
        </p>
        <!-- <form> -->
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPasswordSubmit(forgotPasswordForm.value)" novalidate>
          <!-- Input email -->
          <mat-form-field class="fullWidth" color="accent">
            <input matInput placeholder="{{ 'COMP_FORGOT_PASSWORD.FORGOT_PASSWORD_FORM.TXT_PLACEHOLDER_EMAIL' | translate }}" type="email" formControlName="email">
            <mat-error *ngIf="forgotPasswordForm.controls['email'].errors && forgotPasswordForm.controls['email'].errors.required">
              {{ 'COMP_FORGOT_PASSWORD.FORGOT_PASSWORD_FORM.ERROR_EMAIL_REQUIRED' | translate }}
            </mat-error>
            <mat-error *ngIf="forgotPasswordForm.controls['email'].errors && forgotPasswordForm.controls['email'].errors.pattern">
              {{ 'COMP_FORGOT_PASSWORD.FORGOT_PASSWORD_FORM.ERROR_EMAIL_INVALID' | translate }}
            </mat-error>
            <mat-icon matPrefix>person</mat-icon>
          </mat-form-field>
          <div class="m-t text-center">
            <!-- Button for submit the forgot form -->
            <button type="submit" [disabled]="!forgotPasswordForm.valid" class="btn">{{ 'COMP_FORGOT_PASSWORD.FORGOT_PASSWORD_FORM.BTN_SUBMIT' | translate }}</button>
            <a mat-button color="warn" class="fullWidth m-t" routerLink="/pre-auth/login">{{
              'COMP_FORGOT_PASSWORD.FORGOT_PASSWORD_FORM.BTN_BACK' | translate }}</a>
          </div>
        </form>
        <!-- </form> -->
      </div>
      <!-- Forgot form end -->
    </div>
  </div>
</div>
<ngx-ui-loader [fgsType]="spinnerType"></ngx-ui-loader>
