<div class="not-found placeholder" fxLayout="column" fxLayoutAlign="center center">
  <mat-icon color="accent" class="mb-10">error</mat-icon>
  <span class="mat-title">You have no access to this page</span>
</div>
