<div class="container-fluid pagewrapper">
	<div class="row">
		<div class="col-md-12  headerdiv">
			<div class="outer_heading">
				<div class="heading">
					<h1>{{ 'REFUND.TITLE' | translate}}
						<span></span>
					</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="formbody bodywrapper">
	<form class="example-form" [formGroup]="quaterlyReportform">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>{{ 'REPORT.ENTITY_NAME' | translate}}</label>
						<input type="text" class="form-control" formControlName="entity_name" placeholder="" readonly>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>{{ 'REPORT.ENTITY_CODE' | translate}}</label>
						<input type="text" class="form-control" formControlName="entity_code" placeholder="" readonly>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>{{ 'REPORT.APPLICATION_DATE' | translate}}</label>
						<input type="text" class="form-control" formControlName="created_at" placeholder="" readonly>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>{{ 'REPORT.PROPOSAL_ID' | translate}}</label>
						<input type="text" class="form-control" formControlName="proposal_unique_id" placeholder=""
							readonly>
					</div>
				</div>
			</div>

		</div>
	</form>
	<div class="container-fluid">
		<!-- accordian -->
		<div id="accordion">
			<div class="card">
				<div class="card-header" id="headingOne">
					<h5 class="mb-0">
						<a class=" btn-link" data-toggle="collapse" data-target="" aria-expanded="true"
							aria-controls="">{{ 'REFUND.DETAILS' | translate}}</a>
					</h5>
				</div>
				<div id="" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
					<div class="card-body">
						<form [formGroup]="refundForm" (ngSubmit)="onSubmit(refundForm.value)">
							<div class="row">
								
								<div class="col-6">
									<div class="form-group">
										<label>{{ 'REPORT.Expenditure' | translate}}</label>
										<div class="select-style newselect-style">
											<textarea class="form-control" formControlName="expenditure_desc"
										placeholder=""
										[readonly]="loggedUserType===0"></textarea>
										<small *ngIf="(f1.expenditure_desc.errors && f1.expenditure_desc.touched) || (f1submitted && f1.expenditure_desc.errors)" class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
										</div>
									</div>
								</div>
								<div class="col-6">
									<div class="form-group">
										<label>{{ 'REPORT.Date' | translate}}</label>
										<mat-form-field>
											<input matInput [matDatepicker]="myDatepicker" placeholder="MM/DD/YYYY"
												formControlName="expense_date"[readonly]="loggedUserType===0"[disabled]="loggedUserType===0">
											<mat-datepicker-toggle matSuffix [for]="myDatepicker">
											</mat-datepicker-toggle>
											<mat-datepicker #myDatepicker></mat-datepicker>
											<mat-error>
												{{ 'PROPOSAL.DATE_ERR' | translate }}
											</mat-error>
										</mat-form-field>
										<div class="spacer"></div>
									</div>
								</div>
								<div class="col-6">
									<div class="form-group">
										<label>{{ 'REPORT.ChequeNo' | translate}}</label>
										<input type="text" formControlName="check_no" class="form-control" [readonly]="loggedUserType===0">
										<small *ngIf="(f1.check_no.errors && f1.check_no.touched) || (f1submitted && f1.check_no.errors)" class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
									</div>
								</div>
								<div class="col-6">
									<div class="form-group">
										<label>{{ 'REPORT.Infavorof' | translate}}</label>
										<input type="text" formControlName="infavourof" class="form-control" [readonly]="loggedUserType===0">
										<small *ngIf="(f1.infavourof.errors && f1.infavourof.touched) || (f1submitted && f1.infavourof.errors)" class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
									</div>
								</div>
								<div class="col-6">
									<div class="form-group">
										<label>{{ 'REPORT.Amount' | translate}} $</label>
										<input type="number" formControlName="expense_amount" class="form-control" [readonly]="loggedUserType===0" >
										<small *ngIf="(f1.expense_amount.errors && f1.expense_amount.touched) || (f1submitted && f1.expense_amount.errors)" class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
									</div>
								</div>
								<div class="col-6" *ngIf="loggedUserType===0">
									<div class="form-group">
										<label>{{ 'REFUND.RefundAmount' | translate}} $</label>
										<input type="number" formControlName="refund_amount" class="form-control">
										<small *ngIf="(f1.refund_amount.errors && f1.refund_amount.touched) || (f1submitted && f1.refund_amount.errors)" class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
									</div>
								</div>
								<div class="col-6" *ngIf="loggedUserType===0">
									<div class="form-group">
										<label>{{ 'REFUND.Status' | translate}}</label>
										<div class="select-style newselect-style">
											<select formControlName="refund_status" class="city">
												<option value="">{{ 'GLOBAL.SELECT' | translate }}</option>
												<option value=1>{{ 'REFUND.APPROVE' | translate}}</option>
												<option value=0>{{ 'REFUND.REJECT' | translate}}</option>
											</select>
											<small *ngIf="(f1.refund_status.errors && f1.refund_status.touched) || (f1submitted && f1.refund_status.errors)" class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
										</div>
									</div>
								</div>
								<input class="registerbutt" type="submit" value="{{ 'GLOBAL.SUBMIT'|translate}}"
									(click)="onActivate($event)">
							</div>
						</form>
						<div class="row">
							<div class="col-12">
								<table width="100%" border="0" cellspacing="0" cellpadding="0">
									<thead>
										<tr>
											<th>{{ 'REPORT.Expenditure' | translate}}</th>
											<th>{{ 'REPORT.Date' | translate}}</th>
											<th>{{ 'REPORT.Check' | translate}}</th>
											<th>{{ 'REPORT.Infavorof' | translate}}</th>
											<th>{{ 'REPORT.Amount' | translate}}</th>
											<th>{{ 'REFUND.RefundAmount' | translate}}</th>
											<th>{{ 'REFUND.Status' | translate}}</th>
											<th>{{ 'REPORT.Action' | translate}}</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let data of RefundList">
											<td>{{data.expenditure_desc}}</td>
											<td>{{ datePipe.transform(data.expense_date,"MM/dd/yyyy") }}</td>
											<td>{{data.check_no}}</td>
											<td>{{data.infavourof}}</td>
											<td>{{data.expense_amount | currency:'USD':'symbol'}}</td>
											<td>{{data.refund_amount | currency:'USD':'symbol'}}</td>
											<td>
												<p *ngIf="language =='en'">{{data.refund_status == 1 ? "Approved" : "Not Approved"}}</p>
												<p *ngIf="language =='es'">{{data.refund_status == 1 ? "Aprobado" : "No aprovado"}}</p>
											</td>
											<td><a href="javascript:void(0)" class="view"><i class="fa fa-trash-o" (click)="onClickDeleteRefund(data.id)" aria-hidden="true"></i></a>

											<a href="javascript:void(0)" class="edit" (click)="goToLink(data.id)" *ngIf="loggedUserType===0">
												<i class="fa fa-pencil" aria-hidden="true"></i>
											</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- accordian -->
	</div>
</div>
<div *ngIf="showLoader" class="not-found top placeholder" fxLayout="column" fxLayoutAlign="center center">
	<img class="logo-loader" src="assets/images/icon/loader.gif" height="32px" width="32px">
</div>
<ngx-ui-loader [fgsType]="spinnerType"></ngx-ui-loader>