<div class="newsWrap ">
  <div class="row">
    <h3 class="col-9 pr-0" *ngIf="newsData.length>0">{{ 'WEBSITE.LATESTNEWS' | translate }}</h3>
    
  </div>
  <div class="newsSlider">

    <!-- <ngb-carousel>
      <ng-template ngbSlide *ngFor="let news of newsData | slice:0:3">
        <div class="row">
          <div class="col-12 col-xl-5 col-lg-5 newsSlider">
            <img [src]="getImgUrl(news.news_documents[0]?.doc_path)" alt="Random first slide">
          </div>
          <div class="col-12 col-xl-7 col-lg-7">
            <div class="newsPan">
              <span class="newsDate">{{news.updated_at | toDateObj | date:'dd-MMMM-yyyy'}}</span>
              <div class="newsTxt">
                <h4 *ngIf="language == 'en'">{{news.NewsTitle}}</h4>
                <h4 *ngIf="language == 'es'">{{news.NewsTitleSpanish}}</h4>
                <p *ngIf="language == 'en'" [innerHTML]="news.NewsBody.substring(0, 90)+'...' "></p>
                <p *ngIf="language == 'es'" [innerHTML]="news.NewsBodySpanish.substring(0, 90)+'...'"></p>
                <a href="javascript:void(0)" (click)="newsDetailsLink(news.slug)">{{ 'WEBSITE.READMORE' | translate }}</a>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-carousel> -->

    <owl-carousel [options]="newsOptions" *ngIf="newsData.length>0">
      <div *ngFor="let news of newsData">
        <div class="row">
          <div class="col-12 col-xl-5 col-lg-5 newsSlider">
            <img [src]="getImgUrl(news.news_documents[0]?.doc_path)" alt="Random first slide">
          </div>
          <div class="col-12 col-xl-7 col-lg-7">
            <div class="newsPan">
              <span class="newsDate">{{news.updated_at | toDateObj | date:'dd-MMMM-yyyy'}}</span>
              <div class="newsTxt">
                <h4 *ngIf="language == 'en'">{{news.NewsTitle}}</h4>
                <h4 *ngIf="language == 'es'">{{news.NewsTitleSpanish}}</h4>
                <p *ngIf="language == 'en'" [innerHTML]="news.NewsBody.substring(0, 90)+'...' "></p>
                <p *ngIf="language == 'es'" [innerHTML]="news.NewsBodySpanish.substring(0, 90)+'...'"></p>
                <a href="javascript:void(0)" (click)="newsDetailsLink(news.slug)">{{ 'WEBSITE.READMORE' | translate }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </owl-carousel>
   
  </div>
</div>

