.footer{
    border-top: solid 1px #b4b4b4;
    padding: 50px 0 30px;
    text-align: center;
    background: #800020;

    .socialLinks{
        li{
            list-style-type: none;
            display: inline-block;
            vertical-align: top;
            margin: 5px 10px;
            a{
                color: #fff;
                font-size: 30px;
                transition: all .4s ease;
                -webkit-transition: all .4s ease;
                &:before{
                    color: #fff;
                    transition: all .4s ease;
                    -webkit-transition: all .4s ease;
                }
                &:hover{
                    color: #eaaa2d;
                    text-decoration: none;
                    &:before{
                        color: #eaaa2d;
                    }
                }
            }
        }
    }

    .footerLinks{
        list-style-type: none;
        li{
            display: inline-block;
            vertical-align: top;
            font-size: 12px;
            line-height: 15px;
            padding: 5px 10px 10px;
            color: #fff;
            &.fullWidth{
                width: 100%;
            }
            a{
                font-weight: 600;
                color: #fff;
                
            }

        }
    }

    .footerLogo{
        list-style-type: none;
        li{
            display: inline-block;
            vertical-align: middle;
            margin: 5px 5px;
            width: 100px;
        }
    }
}

