<div class="container-fluid footer row mx-0">
    <!-- <div class="col-12 col-xl col-lg p-0">
        <ul class="socialLinks">
            <li><a href="#" class="icon-facebook"></a></li>
            <li><a href="#" class="icon-twitter"></a></li>
            <li><a href="#" class="icon-instagram"></a></li>
            <li><a href="#" class="icon-youtube"></a></li>
            <li><a href="#" class="icon-googleplus"></a></li>
            <li><a href="#" class="icon-linkedin"></a></li>
        </ul>
    </div> -->
    <div class="col-12 col-xl col-lg p-0">
        <ul class="footerLogo">
            <li><a href="https://senado.pr.gov/"><img src="assets/images/senado.png" alt="Senado" /></a></li>
            <li><img src="assets/images/CECFLLOGO.WEBP" alt="Cecfl" /></li>
            <li><a href="http://www.tucamarapr.org/"><img src="assets/images/camara.png" alt="Camara" /></a></li>
        </ul>
    </div>
    <div class="col-12 col-xl col-lg p-0">
        <ul class="footerLinks">
            <li class="fullWidth">&copy; {{ 'WEBSITE.COPYRIGHT' | translate }}</li>
            <!-- <li><a  href="javascript:void(0)"  (click)="navigate('/pages/privacy-policy')" >{{ 'WEBSITE.PRIVACY' | translate }}</a></li>
            
            <li><a  href="javascript:void(0)"  (click)="navigate('/pages/legal-information')">{{ 'WEBSITE.LEGAL' | translate }}</a></li>
            <li><a href="javascript:void(0)"  (click)="navigate('/pages/quick-links')">{{ 'WEBSITE.QUICKLINK' | translate }}</a></li> -->
        </ul>
    </div>
</div>
