<div *ngIf="varified" fxFill fxLayout="column" fxLayoutAlign="center center" class="loginPage">
    <div class="loginFormOuter m-a" fxLayout="column">

        <!-- forgot form start -->
        <div class="loginForm">
        <!-- Forgot form heading start -->
            <div class="loginBoxLogo">
                <div class="logoWrap">
                    <a href="/">
                    <img src="assets/images/logo.jpg" alt="">
                    </a>
                </div>
            </div>
            <div>
                <h2>{{'CHANGE_PASS.changePassword'|translate}}</h2>
               
                <form class="example-form" [formGroup]="changePasswordform" (ngSubmit)="changePassword(changePasswordform.value)">
                    <mat-dialog-content class="p-y">
                        <div fxLayout="column">
                            <mat-form-field fxFlex color="accent" class="m-b">
                                <input type="password" matInput placeholder="{{ 'CHANGE_PASS.NEW_PASSWORD' | translate }} *"
                                formControlName="password">
                                <mat-error>
                                {{ 'CHANGE_PASS.NEW_PASSWORD' | translate }}
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field fxFlex color="accent" class="m-b">
                                <input type="password" matInput placeholder="{{ 'CHANGE_PASS.CON_PASS' | translate }} *"
                                formControlName="confirmPassword">
                                <mat-error>
                                {{ 'CHANGE_PASS.ERROR_CON_PASS' | translate }}
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </mat-dialog-content>
                    <div class="m-t text-center">
                        <!-- Button for submit the forgot form -->
                        
                        <button type="submit" [disabled]="!changePasswordform.valid" class="btn">{{ 'COMP_FORGOT_PASSWORD.FORGOT_PASSWORD_FORM.BTN_SUBMIT' | translate }}</button>
                        <a mat-button color="warn" class="fullWidth m-t" routerLink="/pre-auth/login">{{
                        'COMP_FORGOT_PASSWORD.FORGOT_PASSWORD_FORM.BTN_BACK' | translate }}</a>
                    </div>
                </form>
                <!-- </form> -->
            </div>
            <!-- Forgot form end -->
        </div>
    </div>
</div>
<ngx-ui-loader [fgsType]="spinnerType"></ngx-ui-loader>
