ul.nav {
  padding: 0;
  margin: 30px 0 0 0;
  background: url(src/assets/images/navbg.png) no-repeat 0 0;
  height: 64px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

ul.nav li {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 600;
  background: url(src/assets/images/divider.png) no-repeat 100% 0;
}

ul.nav li:last-child {
  background-image: none;
}

ul.nav li a {
  color: #fff;
  line-height: 64px;
  padding: 0 36px;
  text-transform: uppercase;
  display: block;
}

ul.nav li a span {
  width: 20px;
  height: 20px;
  padding-right: 6px;
  display: inline-block;
  line-height: 20px;
  text-align: center;
  font-weight: 300;
  margin-right: 6px;
  padding-left: 5px;
}

ul.nav li a:hover span {
  color: #000;
  background-color: #fff;
  border-radius: 50%;
}

//     ul.nav li a:hover{
//         background:url(src/assets/images/hover-bg.png) repeat-x 0 0;
//         -moz-transform: skew(-14deg, 0deg);
// -webkit-transform: skew(-14deg, 0deg);
// -o-transform: skew(-14deg, 0deg);
// -ms-transform: skew(-14deg, 0deg);
// transform: skew(-14deg, 0deg);
// }
