h1 {
    font-size: 30px;
    font-weight: 600;
}

/*header*/
.logo {
    margin-bottom: 40px;
    width: 20%;
    position: absolute;
    top: 10px;
}

.headerdiv{
	// background:url(src/assets/images/header_rept_blueimg.jpg) repeat-x 0 0;
	height: 100%;
	padding-bottom: 40px;
}
.paginationdiv{
    width: 300px;
     margin: 45px auto 0;
 }
@media (min-width: 360px) and (max-width: 768px) {
	.logo {
		width:30%;
		left:14px;
    }
    
    .paginationdiv{
        margin-bottom: 40px;
    }
}
/*header*/ 

@import "src/scss/theme";
/* Structure */
.table-container {
	min-width: 300px;
	position: relative;
	.primary-table{
		overflow: auto;
		max-height: 500px;
		min-height: 300px;
	}
}
.flat-card.mat-card{
	.mat-card-content{
		 .company-name{
			text-transform: capitalize;
		 }
	}

}
