.faqmaindiv{
    padding: 40px 0;
}
.faqmaindiv h2{
    padding-bottom: 25px;
}
.qadiv p{
    font-size: 16px;
    font-weight:bold;
   
}

.qadiv div{
    font-size: 16px;
    padding-bottom: 20px;
}