<app-menu></app-menu>
<app-innear-header></app-innear-header>
<div class="container-fluid px-0 mapWrapper">
  <div class="container py-3" *ngIf="showNoData">
    <h5>{{ 'GLOBAL.NoRecordsFound' | translate}}</h5>
  </div>
  <div class="mapPan" *ngIf="!showNoData" style="padding-bottom: 40%">
    <div id="map" style="height:600px;"></div>
  </div>
</div>
<div class="container defaltSearchPage">
  <div class="row">
    <div class="col-12 col-lg-4 col-md-4 generalDataLeft">
      <h4>{{ 'WEBSITE.GENDATA' | translate}} </h4>
      <div class="customSelect srchcity" style="margin-bottom: 20px;">
        <select (change)="cityChangeEvent($event.target.value)">
          <option value="">{{ 'REGISTRATION.SELECTCITY' | translate}}</option>
          <option *ngFor="let item of Citylisting" [value]="item.id">{{item.city}}</option>
        </select>
      </div>
      <ul>
        <li><span class="fa fa-star"></span>{{ 'WEBSITE.TOTORG' | translate}}: <strong>{{totOrg}}</strong></li>
        <li *ngFor="let data of barData; let i = index"><span class="fa fa-star"></span>{{ ('REGISTRATION.CATEGORY_OPT.' + data.category ) | translate }}:
          <strong>{{data.tot}}</strong></li>
      </ul>
    </div>
    <div class="col-12 col-lg-8 col-md-8 generalDataRight" *ngIf="barChart">
      <div style="display: block;">
        <canvas baseChart [datasets]="barchartObj.barChartData" [labels]="barchartObj.barChartLabels" [options]="barchartObj.barChartOptions" [plugins]="barchartObj.barChartPlugins" [legend]="barchartObj.barChartLegend" [chartType]="barchartObj.barChartType">
        </canvas>
      </div>
    </div>
  </div>
</div>
<app-footer-website></app-footer-website>
