@import "src/scss/theme";

/* Structure */
.table-container {
	min-width: 300px;
	position: relative;
	.primary-table{
		overflow: auto;
		max-height: 500px;
		min-height: 300px;
	}
}
.flat-card.mat-card{
	.mat-card-content{
		 .company-name{
			text-transform: capitalize;
		 }
	}

}



// mat-table mat-header-row.mat-header-row
// {
// 	background-color: #fff;
// }
// .table-container .mat-table .mat-header-cell{
// 	color:#013b85!important;
// 	font-weight: bold;
// }
// .mat-sort-header-button{
// 	font-size: 16px!important;
// }
.mat-toolbar{
	background-color: #fff!important;
}

