/*@import '@angular/material/prebuilt-themes/deeppurple-amber.css';*/

*:focus {
  outline: none;
}
.spacer{
	font-size:0;
	line-height:0;
	clear:both;
}
/*registration number*/
.pagewrapper{
	max-width:1410px;
	width:100%;
	margin:60px auto 0;
	
}
.logo{
	text-align:center;
	margin-bottom:40px;
}
.logo img{display: inline}
.pagewrapper h1{
	font-family: 'Crimson Text', serif;
	font-size:40px;
	line-height:48px;
	color:#1e1e1e;
	font-weight:400;
	text-align:center;
	/* padding-bottom:50px; */
}
.pagewrapper h1 span{
	display:block;
	font-size:16px;
	font-family: 'Montserrat', sans-serif;
}
.bodywrapper{
	max-width:1110px;
	width:100%;
	margin: 60px auto 0;
	
}
.formbody{
	background-color:#f2f2f2;
	font-family: 'Montserrat', sans-serif;
	padding-bottom:50px;
	padding-top: 50px;
}
.formbody .form-group{
	margin-bottom:40px;
	position:relative;
}
.section{
	padding:30px 100px 0;
}

.formbody label{
	display:block;
	font-weight:600;
	font-size:14px;
	padding-bottom:5px;
}
.formbody input[type='text'],
.formbody input[type='email'],
.formbody input[type='number'] {
	width:100%;
	color:#afafaf;
	font-size:18px;
	font-weight:300;
	border-radius:0;
	padding: 15px 0;
	margin:0;
	border:none;
	border-bottom:solid 1px #898989;
	background-color:#f2f2f2;
	text-align:left;
	
}

.datepicker{
	margin-top: 13px;
	width: 300px;
	}
.custom-select{
	width:100px;
	font-size:18px;
	float:left;
	border:none;
	color:#afafaf;
	background-color:#f2f2f2;
	border-bottom:solid 1px #898989;
	
}

.select-style {
    width: 120px;
    overflow: hidden;
    background: #f2f2f2 url("../images/icon-select.png") no-repeat 100% 50%;
	float:left;
	
}

.newselect-style{
	width:100%!important;
}

.select-style select {
	margin-top:0;
	font-size:18px;
	color:#afafaf;
    width: 100%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
	border-bottom:solid 1px #898989;
}

.select-style select:focus {
    outline: none;
}

textarea{
	width:100%;
	color:#afafaf;
	font-size:18px;
	font-weight:300;
	border-radius:0;
	margin:0;
	border:none;
	border-bottom:solid 1px #898989;
	background-color:#f2f2f2;
	text-align:left;
}

.custom-control-input:checked ~ .custom-control-label::before {
	color: #fff;
	border-color:#cf9532!important;
	background-color:#cf9532!important;
}
.radio-botmargin{
	margin-bottom:10px!important;
}
.nopad{
	padding:0px!important;
}
.exam-pad{
	margin-top:72px;
}
input.registerbutt{
	text-align:center;
	background-color:#bf9431;
	font-size:16px;
	width:196px;
	margin:0 auto;
	color:#fff;
	font-weight:600;
	border-radius:0;
	display:block;
	padding:9px 50px;
	margin-top: 50px;
	border: 0;
}
.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

