@font-face {
    font-family: 'cecfl';
    src:  url('./fonts/cecfl.eot?2bl8em');
    src:  url('./fonts/cecfl.eot?2bl8em#iefix') format('embedded-opentype'),
      url('./fonts/cecfl.ttf?2bl8em') format('truetype'),
      url('./fonts/cecfl.woff?2bl8em') format('woff'),
      url('./fonts/cecfl.svg?2bl8em#cecfl') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'cecfl' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-organization:before {
    content: "\e91d";
  }
  .icon-stategic:before {
    content: "\e900";
  }
  .icon-foundation:before {
    content: "\e901";
  }
  .icon-profits:before {
    content: "\e902";
  }
  .icon-arroba-symbol:before {
    content: "\e903";
  }
  .icon-call:before {
    content: "\e904";
  }
  .icon-clock:before {
    content: "\e905";
  }
  .icon-email:before {
    content: "\e906";
  }
  .icon-first-aid-kit:before {
    content: "\e907";
  }
  .icon-football:before {
    content: "\e908";
  }
  .icon-hotel:before {
    content: "\e909";
  }
  .icon-internet:before {
    content: "\e90a";
  }
  .icon-list:before {
    content: "\e90b";
  }
  .icon-network:before {
    content: "\e90c";
  }
  .icon-open-book:before {
    content: "\e90d";
  }
  .icon-paint-palette-and-brush:before {
    content: "\e90e";
  }
  .icon-placeholder:before {
    content: "\e90f";
  }
  .icon-youtube:before {
    content: "\e910";
    color: #fff;
  }
  .icon-facebook:before {
    content: "\e911";
    color: #fff;
  }
  .icon-googleplus:before {
    content: "\e912";
    color: #fff;
  }
  .icon-instagram:before {
    content: "\e913";
    color: #fff;
  }
  .icon-linkedin:before {
    content: "\e914";
    color: #fff;
  }
  .icon-twitter:before {
    content: "\e915";
    color: #fff;
  }
  .icon-service--providers:before {
    content: "\e916";
  }
  .icon-comission:before {
    content: "\e917";
  }
  .icon-contact:before {
    content: "\e918";
    color: #717171;
  }
  .icon-events:before {
    content: "\e919";
  }
  .icon-faq:before {
    content: "\e91a";
  }
  .icon-home:before {
    content: "\e91b";
  }
  .icon-resources:before {
    content: "\e91c";
  }
  