@import "src/scss/theme";
@import "src/scss/utilities";
.wrapper {
	padding-top: $mat-toolbar-height-desktop;
	// @media screen and ($mat-lt-sm){
	// 	padding-top: 56px;
	// }
}

// sidenav
.mat-sidenav {
	width: 220px;
	top: $mat-toolbar-height-desktop;
	background: mat-color($mat-grey, 50);
	// background-color: #1f3469;
	color: mat-color($mat-grey, 900);
	
	.mat-nav-list{
		padding-top: 0;
		.mat-list-icon{
			// color: mat-color($mat-grey, 900);
		}
		.mat-list-item{
			font-size: 14px;
			color: mat-color($mat-grey, 900);
      border-left: 3px solid transparent;
      box-sizing: border-box;
			&:hover{
				background-color: mat-color($default-app-primary, 800, .5);
				// background-color: #2e4e9c;
			}
			&.activeRoute{
				background-color: mat-color($default-app-primary, 800, .3);
        border-left-color: mat-color($default-app-primary);
        .mat-line{
          font-weight: 700;
        }
			}
			&.accordion{
				height: auto;
				border-left: 0;
			/*	/deep/>*/.mat-list-item-content{
					padding: 0;
				}
				&:hover{
					background-color: inherit;
				}
			}
		}
	}
}

// profile
.profile{
	background-color: mat-color($mat-grey, 800);
	.change-password{
			color: #ffffff

	}
	.change-password:focus{
		outline: none;
	}
	.avatar{
		width: 50px;
		height: 50px;
		border-radius: 100%;
		// border: 3px solid mat-color($default-app-primary);
		background-color: mat-color($mat-grey, 300);
		overflow: hidden;
		display: block;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 50%;
	}
	.profileContent{
		width: calc(100% - 50px);
		line-height: 16px;
		h3{
			margin: 0;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			line-height: 20px;
		}
		span{
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			color: mat-color($mat-grey, 900);
			font-size: 13px;
		}
	}
}




// submenu
.sub-menu{
  width: 100%;
	&.mat-expansion-panel{
    background-color: transparent;
    border-radius: 0;
    // color: mat-color($mat-grey, A900);
    &.activeRoute{
      .mat-expansion-panel-header{
        background-color: mat-color($default-app-primary, 800, .5);
        border-left-color: mat-color($default-app-primary);
        font-weight: 700;
      }
    }
		.mat-expansion-panel-header{
			padding: 8px 16px;
			border-left: 3px solid transparent;
      font-size: 14px;
			&:not([aria-disabled='true']):hover, &:not([aria-disabled='true']):focus{
				background-color: mat-color($default-app-primary, 800, .5);
			}

			.mat-expansion-panel-header-title{
				color: mat-color($mat-grey, 900);
				align-items: center;
				.mat-icon{
					padding: 4px;
				}
				span{
					padding-left: $spacer/2;
				}
			}
			.mat-expansion-indicator{
				&:after{
					 color: mat-color($mat-grey, 900);
					margin-top: -8px;
				
				}
			}
		}
  }
}

// span.m-l{
// 	color:#7084b6!important;
// }

.faClass{
	margin-right: 20px;
    font-size: 20px;
}
