h1 {
    font-size: 30px;
    font-weight: 600;
}

/*header*/
.logo {
    margin-bottom: 40px;
    width: 20%;
    position: absolute;
    top: 10px;
    left: 39px;
}

.headerdiv{
	// background:url(src/assets/images/header_rept_blueimg.jpg) repeat-x 0 0;
    height: 100%;
    padding-bottom: 0;
	
}
.paginationdiv{
    // width: 300px;
     margin: 45px auto 0;
 }
@media (min-width: 300px) and (max-width: 768px) {
	.logo {
		width:30%;
		left:14px;
    }
    
    .paginationdiv{
        margin-bottom: 40px;
    }
}
/*header*/  

ul{
    display: block;
    text-align: right;
}
ul li{
    display:inline-block;
    width: 100%;
}

.multibutt ul li a i{
    padding-right: 10px;
}
ul li a{
    background-color: #2c2c2c;
    color: #fff;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 47px;
    display: block;
    font-weight: 500;
    padding: 0 10px;
  border-radius: 4px;
  width: 100%;
  text-align: center;
}
ul li a:hover{
  color: #fff;
  background: linear-gradient(90deg, #ec231c 18%, #800020 76%);
  text-decoration: none;
}

.multibutt{
    border-bottom: solid 1px #e5e5e5;
    padding-bottom: 24px;
}
.entity-srchbox{
    padding:0 0 15px;
    border-bottom: solid 1px #e5e5e5;
}

.entity-srchbox h2{
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    padding-bottom: 25px;
    text-align: center;
    width: 100%;
}


.newselect-style select{
    
    padding: 0 0 0 21px!important;
}

// .entrysrch_table table tr{
//     border-bottom: solid 1px #e0e0e0;
   
// }
// .entrysrch_table table tr th{
//     padding: 20px 0;
//     color: #013b85;
// }
// .entrysrch_table table tr td{
//     padding: 20px 0;
//     vertical-align: top;
// }
// .entrysrch_table table tr td p{
//     font-size: 14px;
//     line-height: 22px;
//     margin-bottom: 0;
// }
// .entrysrch_table table tr td p i{
//     padding-right: 5px;
// }
// table in responsive
table {
    border-collapse: collapse;
     margin: 0;
     padding: 0;
     width: 100%;
     table-layout: fixed;
     
   }
   
   table tr td p i{
    padding-right: 5px;
   }
   table tr td p{
	   word-wrap: break-word;
	   white-space: normal;
   }
   
   table tr {
    border-bottom: 1px solid #ddd;
     padding: .35em;
   }
   table th{
        word-wrap: break-word;
   }
   
   table th,
   table td {
	 text-align: left;
   }
  
   
   table th {
     text-transform: capitalize;
   }
   
   @media screen and (max-width: 800px) {
     table {
       border: 0;
     }
   
     table caption {
       font-size: 1.3em;
     }
     
     table thead {
       border: none;
       clip: rect(0 0 0 0);
       height: 1px;
       margin: -1px;
       overflow: hidden;
       padding: 0;
       position: absolute;
       width: 1px;
     }
     
     table tr {
       border-bottom: 3px solid #ddd;
       display: block;
       margin-bottom: .625em;
     }
     
     table td {
       border-bottom: 1px solid #ddd;
       display: block;
       text-align: right;
     }
     table td p{
         text-align: left;
     }
     
     table td::before {
      content: attr(data-label);
       float: left;
       font-weight: bold;
       text-transform: uppercase;
     }
     
     table td:last-child {
       border-bottom: 0;
     }
   }
 
   // table in responsive
a.view, a.edit{
    width:28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    display: inline-block;
    color: #fff;
    border-radius: 2px;
    margin: 0 1px;
}
a.view{
    background-color: #2c2c2c;
}
a.view:hover{
    background-color: #413f3f;  
}
a.edit{
    background-color: #800020;
}
a.edit:hover{
    background-color: #800020;  
}

.paginationdiv{
    // width: 300px;
     margin: 45px auto 0;
 }
 .norecord{
     padding:20px 0 0 0;
     color: red;
 }
 ul.prev_list{
    text-align: center;
    // display: inline-block;
}

ul.addbtn{
    text-align: center;
    // display: inline-block;
}

  .searchWrap{
    width: auto;
    position: relative;
    input{
        width: 100%;
        font-size: 15px;
        padding-right: 25px;
        padding-left: 5px;
  }
  .select-style{
    background-position: 90% 50%;
  }
    button{
        position: absolute;
        top: 0;
        right: 2px;
        background: none;
        border: 0;
        outline: none;
    display:none;
    i{
      color: #333;
    }
    }
    &.form-group{
        input{
            padding-right: 30px;
            padding-left: 20px;
        }  
        button{
            top: 7px;
            right: 5px;
        }
  }
  &:hover{
    button{
      display: block;
    } 
  }
  // input:hover+button,
  // select:hover+button{
  //   display:block !important;
    // }
}

 @media (min-width: 767px) and (max-width: 991px) {
    ul li a{
        padding: 0 13px;
    }
    
    .entrysrch_table {
        // overflow-x: scroll;
     }
     .entrysrch_table p{
        white-space: pre;
    }
    a.view{
        margin-bottom: 4px;
    }
}

@media (min-width: 300px) and (max-width: 766px) {
 
   
    ul li a{
        padding:0 16px;
        margin-bottom: 3px;
    }

        .entrysrch_table {
        overflow-x: scroll;
        }
        .entrysrch_table p{
            white-space: pre;
        }

        .paginationdiv{
            margin-bottom: 40px;
        }
        a.view{
            margin-bottom: 4px;
        }
    .entity-srchbox h2{
        padding-left: 13px
    }
    .entityselect{
        margin-bottom: 15px;
    }
    ul.prev_list{
        text-align: right;
	}
	
	.formbody{
		&.entity-srchbox{
			padding-top: 10px;
			.form-group{
				margin-bottom: 20px;
				input[type='text']{
					padding: 10px 5px;
				}
			}
			ul{
				li{
					padding: 0;
					a{
						padding: 0 5px;
					}
				}
			}
		}
	}

}

 