<div class="container-fluid pagewrapper">
	<!-- <div class="row multibutt">
    <div class="col-md-10">
        <ul class="prev_list" *ngIf="loggedUserType===0">
            <li><a href="#"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>Previous Result</a></li> 
            <li><a href="javascript:void(0)" (click)="exportAsXLSX()"><i class="fa fa-file-text-o" aria-hidden="true"></i>{{ 'GLOBAL.EXPORT' | translate}}</a></li>

            <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> Next Result</a></li> 
        </ul>
        </div>
        <div class="col-md-2">  
      <ul class="addbtn">
        <li><a [routerLink]="['/post-auth/entity-add']"><i class="fa fa-plus" aria-hidden="true"></i> {{ 'GLOBAL.ADD' | translate }}</a></li>
      </ul>
    </div>
  </div> -->
	<!-- <form class="example-form" [formGroup]="addEntitysearchform"> -->
	<div class="row entity-srchbox formbody">
		<h2>{{ 'ENTITY_SEARCH.TITLE' | translate}}</h2>

		<div class="col-12 col-md-6 col-xl-5">
			<div class="form-group searchWrap">
				<!--  <label> Entity</label> -->
				<input type="text" id="" [(ngModel)]="searchString"
					placeholder="{{ 'ENTITY_SEARCH.PLACEHOLDER' | translate}}">
					<button type="button" (click)="clear('string')" class="crossbutt"><i
						class="material-icons md-16">&#xE14C;</i></button>
			</div>
		</div>
		<div class="col-6 col-md-3 col-xl-2"> <input name="register" type="button" value="Search"
				(click)="newSearch()" class="serchbutt">
		</div>
		<div class="col-6 col-md-3 col-xl-2">
			<ul class="addbtn">
				<li><a [routerLink]="['/post-auth/entity-add']"><i class="fa fa-plus" aria-hidden="true"></i>
						{{ 'GLOBAL.ADD' | translate }}</a></li>
			</ul>
		</div>
		<div class="col-12 col-md-6 col-xl-3 text-right">
			<ul class="prev_list" *ngIf="loggedUserType===0">
				<!-- <li><a href="#"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>Previous Result</a></li> -->
				<li><a href="javascript:void(0)" (click)="exportAsXLSX()"><i class="fa fa-file-text-o"
							aria-hidden="true"></i> {{ 'GLOBAL.EXPORT' | translate}}</a></li>

				<!-- <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> Next Result</a></li> -->
			</ul>
		</div>
	</div>

	<!-- </form> -->
	<div class="row entrysrch_table">
		<div class="col-md-12 p-0" style="overflow-x:auto;">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<thead>
					<tr>
						<th width="7%">{{ 'ENTITY_SEARCH.ID' | translate}}</th>
						<th width="15%">{{ 'ENTITY_SEARCH.ENTITY_NAME' | translate}}</th>
						<th width="12%">{{ 'ENTITY_SEARCH.PHONE' | translate}}</th>
						<th width="23%">{{ 'ENTITY_SEARCH.EMAIL' | translate}}</th>
						<th width="10%">{{ 'ENTITY_SEARCH.CITY' | translate}}</th>
						<th width="10%">{{ 'REGISTRATION.CATEGORY' | translate }}</th>
						<th width="10%">{{ 'ENTITY_SEARCH.STATUS' | translate}}</th>
						<th width="8%">{{ 'ENTITY_SEARCH.ACTION' | translate}}</th>


					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let data of userlist | paginate: {itemsPerPage: itemsPerPage, currentPage: page, totalItems: length}">
						<td>
							<p>{{data.id}}</p>
						</td>
						<td>
							<p>{{data.entity_name}}</p>
						</td>
						<td>
							<p><i class="fa fa-phone" aria-hidden="true"></i>{{data.phone}}</p>
						</td>
						<td>
							<p><i class="fa fa-envelope-o" aria-hidden="true"></i> {{data.email}}</p>
						</td>
						<td>
							<p>{{data.city['city']}}</p>
						</td>
						<td>
							<p>{{ (data.category != null) ? (('REGISTRATION.CATEGORY_OPT.' + data.category ) | translate) : '--' }}
							</p>
						</td>
						<td>
							<p *ngIf="language =='en'">{{data.activeStatus == 1 ? "Approved" : "Not Approved"}}</p>
							<p *ngIf="language =='es'">{{data.activeStatus == 1 ? "Aprobado" : "No aprovado"}}</p>
						</td>
						<td>
							<a href="javascript:void(0)" class="view"
								routerLink="/post-auth/entity-view/{{data.id}}/view"><i class="fa fa-eye"
									aria-hidden="true"></i></a>
							<a href="javascript:void(0)" class="edit"
								routerLink="/post-auth/entity-view/{{data.id}}/edit"><i class="fa fa-pencil"
									aria-hidden="true"></i></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="norecord" align="center" *ngIf="length == 0">{{'ENTITY_SEARCH.NoRecordsFound' | translate}}</div>
		<div *ngIf="length > 0" class="row paginationdiv">
			<div class="col-md-12">
				<pagination-controls (pageChange)="paginationFeed($event)"></pagination-controls>

			</div>
		</div>
	</div>
</div>
<ngx-ui-loader [fgsType]="spinnerType"></ngx-ui-loader>