<div class="videoWrap">
  <h3 *ngIf="video_list.length>0">{{ 'WEBSITE.LATESTVIDEOS' | translate }}</h3>
  <div class="videoSlider">

    <!-- <ngb-carousel>
      <ng-template ngbSlide *ngFor="let video of video_list">
        <div class="picsum-img-wrapper"> 
          <iframe width="100%" height="315" [src]="video" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="carousel-caption videoPan">
          <span class="videoTxt">{{ 'WEBSITE.ABOUTOURWORKSPACE' | translate }}</span>
        </div>
      </ng-template>  
    </ngb-carousel> -->

    <owl-carousel #owlElementVideo [options]="videoOptions" *ngIf="video_list.length>0">
      <div class="item" *ngFor="let video of video_list">
        <iframe width="100%" height="315" [src]="video" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </owl-carousel>
    
  </div>
</div>
