<mat-toolbar color="primary">
  <span class="mat-title m-a-0"> {{ 'USERMASTER.VIEW_USER.TITLE' | translate }}</span>
  <span fxFlex></span>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-dialog-content class="p-y">
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="userInfo.hasOwnProperty('firstName') && userInfo.firstName != '' || userInfo.firstName != null ? userInfo.firstName : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="First Name">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="userInfo.hasOwnProperty('middleName') && userInfo.middleName != '' || userInfo.middleName != null ? userInfo.middleName : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="Middle Name">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="userInfo.hasOwnProperty('surName') && userInfo.surName != '' || userInfo.surName != null ? userInfo.surName : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="Last Name">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="userInfo.hasOwnProperty('state') && userInfo.state != '' || userInfo.state != null ? userInfo.state : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="State">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="userInfo.hasOwnProperty('lga') && userInfo.lga != '' || userInfo.lga != null ? userInfo.lga : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="LGA">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="userInfo.hasOwnProperty('userType') && userInfo.userType != '' || userInfo.userType != null ? userInfo.userType : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="User Type">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="userInfo.hasOwnProperty('designation') && userInfo.designation != '' || userInfo.designation != null ? userInfo.designation : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="Designation">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="userInfo.hasOwnProperty('phoneNumber') && userInfo.phoneNumber != '' || userInfo.phoneNumber != null ? userInfo.phoneNumber : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="Phone Number">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="userInfo.hasOwnProperty('address') && userInfo.address != '' || userInfo.address != null ? userInfo.address : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="Address">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="userInfo.hasOwnProperty('secondPhoneNumber') && userInfo.secondPhoneNumber != '' || userInfo.secondPhoneNumber != null ? userInfo.secondPhoneNumber : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="Alternate Phone Number">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="userInfo.hasOwnProperty('facilityId') && userInfo.facilityId != '' || userInfo.facilityId != null ? userInfo.facilityId?.facilityName : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="Facility Name">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly
        [value]="userInfo.hasOwnProperty('createDate') && userInfo.createDate != '' || userInfo.createDate != null ? userInfo.createDate : ('GLOBAL.NOT_AVAILABLE' | translate)"
        placeholder="Registration Date">
    </mat-form-field>
  </div>

  <div fxLayout="row">
    <mat-form-field fxFlex class="example-full-width">
      <input matInput readonly [value]="ieminumber" placeholder="IMEI Number">
    </mat-form-field>
    <button *ngIf="!imeiview && showbtn" mat-icon-button matTooltip="view" color="primary" (click)="imeiViewClick()">
      <mat-icon>visibility</mat-icon>
    </button>
    <span fxFlex="2" fxHide.xs *ngIf="imeiview"></span>
    <div fxLayout="row" *ngIf="imeiview">
      <form class="example-form" [formGroup]="passFrom" (ngSubmit)="getimei(passFrom.value)">
        <div fxLayout="row">
          <mat-form-field fxFlex class="example-full-width">
            <input matInput placeholder="Password *" type="password" formControlName="password">
            <mat-error>
              Please Enter Valid Password
            </mat-error>
          </mat-form-field>
          <button fxFlex mat-button color="primary">{{ 'GLOBAL.SUBMIT' | translate }}</button>
        </div>
      </form>
    </div>
  </div>
  <div fxLayout="row">
    <label class="mat-subheading-1">Active Status</label>
    <mat-radio-group aria-label="Select an option" disabled [value]="userInfo.activeStatus">
      <mat-radio-button class="m-x" value="1">Active</mat-radio-button>
      <mat-radio-button class="m-x" value="0">Deactive</mat-radio-button>
    </mat-radio-group>
  </div>

  <div fxLayout="column" class="detail-list">
    <!-- <div fxLayout="row" fxLayoutAlign="space-between center" class="item">
      <span>First Name:</span>

      <strong
        *ngIf="userInfo.hasOwnProperty('firstName') && userInfo.firstName != '' || userInfo.firstName != null">{{userInfo.firstName}}</strong>
      <strong
        *ngIf="!userInfo.hasOwnProperty('firstName') || userInfo.firstName == '' || userInfo.firstName == null">{{ 'GLOBAL.NOT_AVAILABLE' | translate }}</strong>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" class="item">
      <span>Middle Name:</span>
      <strong
        *ngIf="userInfo.hasOwnProperty('middleName')  && userInfo.middleName != '' || userInfo.middleName != null">{{userInfo.middleName}}</strong>
      <strong
        *ngIf="!userInfo.hasOwnProperty('middleName') || userInfo.middleName == '' || userInfo.middleName == null">{{ 'GLOBAL.NOT_AVAILABLE' | translate }}</strong>
    </div> -->
    <!-- <div fxLayout="row" fxLayoutAlign="space-between center" class="item">
      <span>Last Name:</span>
      <strong
        *ngIf="userInfo.hasOwnProperty('surName') && userInfo.surName != '' || userInfo.surName != null">{{userInfo.surName}}</strong>
      <strong
        *ngIf="!userInfo.hasOwnProperty('surName') || userInfo.surName == '' || userInfo.surName == null">{{ 'GLOBAL.NOT_AVAILABLE' | translate }}</strong>
    </div> -->
    <!-- <div fxLayout="row" fxLayoutAlign="space-between center" class="item">
      <span>User Type:</span>
      <strong
        *ngIf="userInfo.hasOwnProperty('userType')  && userInfo.userType != '' || userInfo.userType != null">{{userInfo.userType.toUpperCase()}}</strong>
      <strong
        *ngIf="!userInfo.hasOwnProperty('userType')  || userInfo.userType == '' || userInfo.userType == null">{{ 'GLOBAL.NOT_AVAILABLE' | translate }}</strong>
    </div> -->
    <!-- <div fxLayout="row" fxLayoutAlign="space-between center" class="item">
      <span>Designation:</span>
      <strong
        *ngIf="userInfo.hasOwnProperty('designation') && userInfo.designation != '' || userInfo.designation != null">{{userInfo.designation}}</strong>
      <strong
        *ngIf="!userInfo.hasOwnProperty('designation') || userInfo.designation == '' || userInfo.designation == null">{{ 'GLOBAL.NOT_AVAILABLE' | translate }}</strong>
    </div> -->
    <!-- <div fxLayout="row" fxLayoutAlign="space-between center" class="item" *ngIf="userInfo.phoneNumber">
      <span>Phone Number:</span>
      <strong
        *ngIf="userInfo.hasOwnProperty('phoneNumber') && userInfo.phoneNumber != '' || userInfo.phoneNumber != null">{{userInfo.phoneNumber}}</strong>
      <strong
        *ngIf="!userInfo.hasOwnProperty('phoneNumber') || userInfo.phoneNumber == '' || userInfo.phoneNumber == null">{{ 'GLOBAL.NOT_AVAILABLE' | translate }}</strong>
    </div> -->
    <!-- <div fxLayout="row" fxLayoutAlign="space-between center" class="item">
      <span>Alternate Phone Number:</span>
      <strong
        *ngIf="userInfo.hasOwnProperty('secondPhoneNumber') && userInfo.secondPhoneNumber != '' || userInfo.secondPhoneNumber != null">{{userInfo.secondPhoneNumber}}</strong>
      <strong
        *ngIf="!userInfo.hasOwnProperty('secondPhoneNumber') || userInfo.secondPhoneNumber == '' || userInfo.secondPhoneNumber == null">{{ 'GLOBAL.NOT_AVAILABLE' | translate }}</strong>
    </div> -->
    <!-- <div fxLayout="row" fxLayoutAlign="space-between center" class="item">
      <span>Active Status:</span>
      <strong *ngIf="userInfo.activeStatus == '1'">Active
      </strong>
      <strong *ngIf="userInfo.activeStatus != '1'">Deactive
      </strong>
    </div> -->
    <!-- <div fxLayout="row" fxLayoutAlign="space-between center" class="item">
      <span>Facility Name:</span>
      <strong
        *ngIf="userInfo.hasOwnProperty('facilityId') && userInfo.facilityId != '' || userInfo.facilityId != null">{{userInfo.facilityId?.facilityName}}</strong>
      <strong
        *ngIf="!userInfo.hasOwnProperty('facilityId') || userInfo.facilityId == '' || userInfo.facilityId == null">{{ 'GLOBAL.NOT_AVAILABLE' | translate }}</strong>
    </div> -->
    <!-- <div fxLayout="row" fxLayoutAlign="space-between center" class="item">
      <span>IMEI Number:</span>
      <button *ngIf="!imeiview && showbtn" mat-icon-button matTooltip="view" color="accent" (click)="imeiViewClick()">
        <mat-icon>visibility</mat-icon>
      </button>
      <strong>{{ieminumber}}</strong>

    </div> -->
    <div fxLayout="row" fxLayoutAlign="space-between center">

    </div>
  </div>
</mat-dialog-content>
<mat-progress-bar *ngIf="showLoader" mode="indeterminate" color="accent" class="loader left "></mat-progress-bar>
<mat-dialog-actions fxLayoutAlign="end start">
  <button mat-button mat-dialog-close color="warn">{{ 'GLOBAL.CLOSE' | translate }}</button>
</mat-dialog-actions>
