<div class="container pagewrapper">
  <div class="row">
    <div class="col-md-12  headerdiv">
      <!-- <div class="logo"><a href="/" title="CECFL"><img src="assets/images/logo.png" alt="" /></a></div> -->
      <div class="outer_heading">
        <div class="heading" *ngIf="router.url == '/post-auth/video-list'">
          <h1>{{ 'VIDEO_LIST.HTITLE' | translate}} <span></span></h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container formbody">
  <!-- <div class="row multibutt" *ngIf="createtatus">
    <div class="col-md-12">
      <ul>
        <li><a [routerLink]="['/post-auth/video-add']"><i class="fa fa-plus" aria-hidden="true"></i> {{ 'GLOBAL.ADD' | translate }}</a></li>
      </ul>
    </div>
  </div> -->
  <div class="row entity-srchbox formbody">
    <div class="col-5 col-md-8 pl-0">
    </div>
    <div class="col-3 col-md-2 pl-0"> 
    </div>
    <div class="col-4 col-md-2 pr-0">
      <ul>
        <li><a [routerLink]="['/post-auth/video-add']"><i class="fa fa-plus" aria-hidden="true"></i> {{ 'GLOBAL.ADD' | translate }}</a></li>
      </ul>
    </div>
  </div>
  <div class="row entrysrch_table">
    <div class="col-md-12 p-0 restable">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" >
          <thead>
        <tr>
          <th width="25%">{{ 'VIDEO_LIST.TITLE' | translate}}</th>         
          <th width="15%">{{ 'VIDEO_LIST.PUBLISH' | translate}}</th>
          <th width="10%">{{ 'VIDEO_LIST.ACTION' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of videoliting | paginate: {itemsPerPage: itemsPerPage, currentPage: p, totalItems: length}">
          <td>
            <div *ngIf="language == 'en'">
              <span [innerHTML]="data.descriptions"></span></div>
            <div *ngIf="language == 'es'">
              <span [innerHTML]="data.descriptionsSpanish"></span>
            </div>
            <!-- <iframe width="100%" height="100" width="115" [src]="data.videoCode" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
          </td>
          <td>
            <p> {{data.status == 1 ? ('VIDEO_LIST.PUBLISHED' | translate) : ('VIDEO_LIST.NOTPUBLISHED' | translate)}} </p>
          </td>
          <td><a href="javascript:void(0)" class="edit" routerLink="/post-auth/video-edit/{{data.id}}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            <a  href="javascript:void(0)" class="view" (click)="videodelete(data.id)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
          </td>
        </tr>
      </tbody>
      </table>
    </div>
  </div>
  <div align="center" *ngIf="length == 0">{{'VIDEO_LIST.NoRecordsFound' | translate}}</div>
  <div *ngIf="length > 0" class="row paginationdiv">
    <div class="col-md-12">
      <pagination-controls (pageChange)="paginationFeed($event)"></pagination-controls>
    </div>
  </div>
</div>

<ngx-ui-loader [fgsType]="spinnerType"></ngx-ui-loader>
