<mat-toolbar color="primary">
  <span class="mat-title m-a-0">{{ 'PROPOSAL.ASSIGN_TO' | translate }}</span>
  <span fxFlex></span>
  <button mat-icon-button mat-dialog-close (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-dialog-content>
  <!-- Tabs -->
  <section id="tabs">
    <div class="container">
      <div class="row">
        <div class="col-md-12 ">
          <form class="example-form" [formGroup]="proposalFormAction" (ngSubmit)="actionSubmit()">
            <div class="col-md-12">
              <div class="form-group">
                <label>{{ 'PROPOSAL.ASSIGN_TO' | translate }}</label>
                <div class="select-style newselect-style">
                  <select formControlName="assigned_user" class="city">
                    <option value="">{{ 'GLOBAL.SELECT' | translate }}</option>
                    <optgroup *ngFor="let role of adminUserlisting" label="{{role.roleName}}">
                      <option *ngFor="let user of role.users" [value]="user.id">{{user.name}}
                      </option>
                    </optgroup>
                  </select>
                  <small *ngIf="(f1.assigned_user.errors && f1.assigned_user.touched) || (f1submitted && f1.assigned_user.errors)" class="text-danger">{{ 'PROPOSAL.CITY_ERR' | translate }}</small>
                </div>
              </div>
            <input name="submit" type="submit" value="{{ 'GLOBAL.SUBMIT'  | translate }}" class="submitbutt">
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- ./Tabs -->
</mat-dialog-content>