<mat-toolbar color="primary">
  <span class="mat-title m-a-0">{{ 'ROLETYPE.EDIT_ROLE.TITLE' | translate }}</span>
  <span fxFlex></span>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<form class="example-form" [formGroup]="editRoleform" (ngSubmit)="editRole(editRoleform.value)">
  <mat-dialog-content class="p-y">
    <!-- roleName start -->

    <div fxLayout.gt-xs="row" fxLayout.xs="column">
      <mat-form-field fxFlex color="accent" class="m-b">
        <input matInput placeholder="{{ 'ROLETYPE.ADD_ROLE.ROLE_NAME' | translate }} " formControlName="roleName" readonly>
        <mat-error>
          {{ 'ROLETYPE.ADD_ROLE.ERROR_ROLE_NAME' | translate }}
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout.gt-xs="row" fxLayout.xs="column">
      <mat-form-field fxFlex color="accent" class="m-b">
        <input matInput placeholder="{{ 'ROLETYPE.ADD_ROLE.ROLE_DESC' | translate }} " formControlName="roleDescription">
        <mat-error>
          {{ 'ROLETYPE.ADD_ROLE.ERROR_ROLE_DESC' | translate }}
        </mat-error>
      </mat-form-field>
    </div>

    <div formArrayName="facility">
      <strong class="d-block mat-body-2">{{ 'ROLETYPE.MANAGEMENT_NAME' | translate }}</strong>

      <!-- [hidden]="item.controls.name.value == 'role' && 
      ((loggedUserType == 'system-admin') || 
      (loggedUserType != 'system-admin' &&  thisrolekey== !'system-admin'))
      " -->

      <mat-card [hidden]="(item.controls.name.value == 'role') && 
      ((loggedUserType == 'system-admin' &&  thisrolekey == 'system-admin') || 
      (loggedUserType !== 'system-admin'))
      " class="border m-t"  [formGroupName]="i" *ngFor="let item of facility.controls; let i=index">
        <div fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutAlign="center">
          <label fxFlex="20" class="d-block mat-body-2 text-primary">
          {{ 'ROLETYPE.' + (item.controls.name.value) | translate | titlecase}}</label>
          <span fxFlex="5" fxHide.xs></span>
          <mat-radio-group fxFlex="30" formControlName="status" (change)="radioChangestatus($event.value ,item)">
            <!-- <label class="d-block mat-body-2">status:</label> -->
            <mat-radio-button value="1">{{ 'ROLETYPE.ENABLE' | translate }}</mat-radio-button>
            <mat-radio-button value="0" class="m-l">{{ 'ROLETYPE.DISABLE' | translate }}</mat-radio-button>
          </mat-radio-group>
          <span fxFlex="2" fxHide.xs></span>
          <div fxFlex formArrayName="permission" fxLayout="row" fxFlex="40">
            <div fxLayout.gt-xs="row" fxLayout.xs="column" class="m-r" [formGroupName]="j"
              *ngFor="let permission of editRoleform.get('facility')['controls'][i]['controls'].permission.controls; let j=index">
              <!-- <label class="d-block mat-body-2">{{ permission.controls.permissionName.value}}</label> -->
              <span fxFlex="2" fxHide.xs></span>

              <mat-checkbox formControlName="status" labelPosition="after">
                {{ 'ROLETYPE.' + (permission.controls.permissionName.value) | translate | titlecase}}
                <!-- <mat-icon *ngIf="permission.controls.permissionName.value == 'edit'" matTooltip="edit">edit</mat-icon>
                <mat-icon *ngIf="permission.controls.permissionName.value == 'view'" matTooltip="view">visibility
                </mat-icon>
                <mat-icon *ngIf="permission.controls.permissionName.value == 'create'" matTooltip="Add">add</mat-icon>
                <mat-icon *ngIf="permission.controls.permissionName.value == 'delete'" matTooltip="Delete">delete
                </mat-icon> -->
              </mat-checkbox>

            </div>

          </div>
          <span fxFlex="3" fxHide.xs></span>
        </div>
      </mat-card>


    </div>



  </mat-dialog-content>
  <mat-dialog-actions fxLayoutAlign="end start">
    <button mat-button mat-dialog-close color="warn">{{ 'GLOBAL.CLOSE' | translate }}</button>
    <button mat-raised-button color="accent">{{ 'GLOBAL.SUBMIT' | translate }}</button>
  </mat-dialog-actions>
</form>
<mat-progress-bar *ngIf="showLoader" mode="indeterminate" color="accent" class="loader left bottom"></mat-progress-bar>
