<div class="container-fluid  scrollSection resourcesBg" id="commission">
<!--	<div *ngFor="let data of commissionData" class="commissionRow">-->
<!--		<div class="titleWrap">-->
<!--			<h2 *ngIf="language == 'en'">{{data.title_en}}</h2>-->
<!--			<h2 *ngIf="language == 'es'">{{data.title_es}}</h2>-->
<!--		</div>-->
<!--		<div *ngIf="language == 'en'" [innerHTML]="data.description_en"></div>-->
<!--		<div *ngIf="language == 'es'" [innerHTML]="data.description_es"></div>-->
<!--		<div class="btnContainer">-->
<!--			<a href="javascript:void(0);" (click)="navigate('/our-commission')" class="btn"><span-->
<!--					class="icon-comission"></span>{{ 'WEBSITE.ABOUTUS' | translate}}</a>-->
<!--		</div>-->
<!--	</div>-->


	<div class="commissionRow">

		<div class="titleWrap">
			<h2>{{ 'WEBSITE.OURCOMMISSION' | translate}}</h2>
			<br>
			<br>
			<p class="text-width">{{ 'WEBSITE.OURCOMMISSION-DESC' | translate}}</p>
			<br>
		</div>

		<div class="row">
			<div class="col-sm" style="padding-right:20px; border-right: 3px solid #ccc;">
				<h3>{{ 'WEBSITE.MISSION' | translate}}</h3>
				 <p class="text-width">{{ 'WEBSITE.MISSION-DESC' | translate}}</p>
			</div>

			<div class="col-sm">
				<h3>{{ 'WEBSITE.VISSION' | translate}}</h3>
				<p class="text-width">{{ 'WEBSITE.VISSION-DESC' | translate}}</p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm">
				<img class="centered" src="../../../../assets/images/icon/bank-128.png"/>
				<h3>{{ 'WEBSITE.ENTITY' | translate}}</h3>
<!--				<p class="text-width">Organizar la información del mundo para que todos puedan acceder a ella y usarla.</p>-->
				<a class="btn btn-primary" href="javascript:void(0)" (click)="navigate('/our-commission')">{{ 'WEBSITE.FAQKNOWMORE' | translate}}</a>
			</div>

			<div class="col-sm">
				<img class="centered" src="../../../../assets/images/icon/conference-128.png"/>
				<h3>{{ 'WEBSITE.GENERALPUBLIC' | translate}}</h3>
<!--				<p class="text-width">Proporcionar acceso a la información del mundo en un solo clic</p>-->
				<a class="btn btn-primary" href="javascript:void(0)" (click)="navigate('/general-public')">{{ 'WEBSITE.FAQKNOWMORE' | translate}}</a>
			</div>
		</div>
	</div>


</div>