.resourcesBg{
    // background: url(../../../../assets/images/commission-bg.jpg) 0 0 no-repeat;
	//background: url(../../../../assets/images/header-banner.jpg) 50% 50%/cover no-repeat;
	background: url(../../../../assets/images/mbr-11.jpg) 50% 50%/cover no-repeat;
	min-height: 100vh;
}


.half-black{
	filter: brightness(50%);
}

h3{
    margin-bottom: 45px;
}

.h2{
	font-size: 1vw;
	font-color: white;
}

.text-width {
	text-align: left;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	font-size: 1.5vw;
}

.centered{
	max-height: 10vh;
	margin-left: auto;
	margin-right: auto;
}


// Start 768px to 300px
@media screen and (max-width:767px) and (min-width:300px) {

	.text-width{
		width: 100%;
		font-size: 15px;
	}


}