<mat-toolbar color="primary">
    <span class="mat-title m-a-0">
        CECFL {{ 'PROPOSAL.NOTES' | translate }}
    </span>
    <span fxflex="">
    </span>
    <button mat-dialog-close="" mat-icon-button="">
        <mat-icon>
            close
        </mat-icon>
    </button>
</mat-toolbar>
<mat-dialog-content>
    <!-- Tabs -->
    <section id="tabs">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ">
                    <nav>
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active"  aria-controls="nav-profile" data-toggle="tab" href="#nav-profile" id="nav-profile-tab" role="tab">
                                {{ 'GLOBAL.LIST'  | translate }}
                            </a>
                            <a class="nav-item nav-link"  aria-controls="nav-home" data-toggle="tab" href="#nav-home" id="nav-home-tab" role="tab">
                                {{ 'GLOBAL.ADD'  | translate }}
                            </a>
                        </div>
                    </nav>
                    <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                        
                        <div class="tab-pane fade show active" aria-labelledby="nav-profile-tab" id="nav-profile" role="tabpanel">
                            <table border="0" cellpadding="0" cellspacing="0" class="uploadtable" width="100%">
                                <tr style="border-top:none;">
                                    <th style="width: 12%;">
                                        <p>
                                            <span>
                                                {{ 'GLOBAL.DATE'  | translate }}
                                            </span>
                                        </p>
                                    </th>
                                    <th style="width: 18%;">
                                        <p>
                                            <span>
                                                {{ 'GLOBAL.USER'  | translate }}
                                            </span>
                                        </p>
                                    </th>
                                    <th>
                                        <p>
                                            <span>
                                                {{ 'GLOBAL.DESC'  | translate }}
                                            </span>
                                        </p>
                                    </th>
                                    <th>
                                        <p>
                                            <span>
                                                {{ 'GLOBAL.DOWNLOAD'  | translate }}
                                            </span>
                                        </p>
                                    </th>
                                    <th style="width: 7%;" *ngIf="loggedUserRole==='system-admin' || loggedUserRole==='sub-admin'">
                                        <p class="cross">
                                            <span>
                                                {{ 'GLOBAL.ACTION'  | translate }}
                                            </span>
                                        </p>
                                    </th>
                                </tr>
                                <tr *ngFor="let data of noteslisting">
                                    <td>
                                        <p>
                                            {{data.created_at | date: 'MM/dd/yyyy'}}
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            {{ data.log_user.user_type == 0 ?  ( data.log_user.admin_first_name + ' ' +data.log_user.admin_last_name ) : data.log_user.entity_name }}
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            {{data.note}}
                                        </p>
                                    </td>
                                    <td *ngIf="data.note_file_path">
                                        <a href="{{fileBaseUrl}}{{data.note_file_path}}">
                                            <i aria-hidden="true" class="fa fa-download">
                                            </i>
                                        </a>
                                    </td>
                                    <td *ngIf="!data.note_file_path">
                                        --
                                    </td>
                                    <td style="padding-top: 0px;" *ngIf="loggedUserRole==='system-admin' || loggedUserRole==='sub-admin'">
                                        <a (click)="notesdelete(data.id)" href="javascript:void(0)">
                                            <i aria-hidden="true" class="fa fa-trash-o">
                                            </i>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="tab-pane fade" aria-labelledby="nav-home-tab" id="nav-home" role="tabpanel">
                            <form (ngSubmit)="addNotes(addNotesform.value)" [formGroup]="addNotesform" class="example-form">
                                <textarea cols="" formControlName="NotesBody" rows=""></textarea>
                                <small *ngIf="(f1.NotesBody.errors && f1.NotesBody.touched) || (f1submitted && f1.NotesBody.errors)" class="text-danger">
                                    {{ 'PROPOSAL.REQUIRED' | translate }}
                                </small>
                                <div class="uploadwrap">
                                    <div class="upload-btn-wrapper">
                                        <button class="btn browserupload">
                                            {{ 'PROPOSAL.BROWSEUPLOADDOCUMENT' | translate }}
                                        </button>
                                        <input (change)="fileChangeEvent($event)" class="form-control" multiple="" name="department_of_finance" type="file"/>
                                    </div>
                                    <!-- <input name="" type="submit" value="Upload" class="addnewbutt" /> -->
                                    <div *ngFor="let eachfile of urls" class="wrap-temp">
                                        <p class="upfiletxt">
                                            {{eachfile}}
                                        </p>
                                        <a (click)="removefile(eachfile)" href="javascript:">
                                            X
                                        </a>
                                    </div>
                                </div>
                                <input class="submitbutt" name="submit" type="submit" value="{{ 'GLOBAL.SUBMIT'  | translate }}" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ./Tabs -->
</mat-dialog-content>
