<div class="container pagewrapper">
  <div class="row">
    <div class="col-md-12  headerdiv">
      <div class="outer_heading">
        <div class="heading" *ngIf="router.url == '/post-auth/video-add'">
          <h1>{{ 'VIDEO.TITLE' | translate}} <span></span></h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="formbody bodywrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div *ngIf="successMsg">
          <div class="alert alert-success"><strong>{{ msg }}</strong></div>
        </div>
        <div *ngIf="errorMsg">
          <div class="alert alert-danger"><strong>{{ msg }}</strong></div>
        </div>
      </div>
    </div>
  </div>
  <form class="example-form" [formGroup]="addVideoform" (ngSubmit)="addVideo(addVideoform.value)">
    <div class="container">
      <!-- accordian -->
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class=" btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                {{ 'VIDEO.ENGLISH' | translate }}
              </button>
            </h2>
          </div>
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>{{ 'VIDEO.TITLE' | translate }}</label>
                    <input type="hidden" name="UpdatedBy" value="1">
                    <input type="text" class="form-control" formControlName="videoCode" id="" placeholder="{{ 'VIDEO.VIDEO_TITLE_LVL' | translate }}">
                    <small *ngIf="(f1.videoCode.errors && f1.videoCode.touched) || (f1submitted && f1.videoCode.errors)" class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>{{ 'VIDEO.VIDEO_DESC' | translate }}</label>
                    <!-- <ck-editor name="editor1" [(ngModel)]="editorValue"  formControlName="descriptions" skin="moono-lisa" language="en" [fullPage]="true"></ck-editor> np -->
                    <ck-editor name="editor1" placeholder="Describe..." formControlName="descriptions" skin="moono-lisa" language="en" [fullPage]="true"></ck-editor>
                    <small *ngIf="(f1.descriptions.errors && f1.descriptions.touched) || (f1submitted && f1.descriptions.errors)" class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                  </div>
                  <button class=" btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">{{ 'VIDEO.VIDEO_GO_TO' | translate }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class=" btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                {{ 'VIDEO.SPANISH' | translate }}
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">              
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>{{ 'VIDEO.VIDEO_DESC' | translate }}</label>
                    <!-- <ck-editor name="editor1" [(ngModel)]="editorValue"  formControlName="descriptions" skin="moono-lisa" language="en" [fullPage]="true"></ck-editor> np -->
                    <ck-editor name="editor2" placeholder="Describe..." formControlName="descriptionsSpanish" skin="moono-lisa" language="en" [fullPage]="true"></ck-editor>
                    <small *ngIf="(f1.descriptionsSpanish.errors && f1.descriptionsSpanish.touched) || (f1submitted && f1.descriptionsSpanish.errors)" class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- accordian -->
      <div class="row accord_below">
        <div class="col-md-12">
          <div class="form-group prradio">
            <label>{{ 'VIDEO.VIDEO_PUBLISH' | translate }}</label>
            <div class="custom-control custom-radio custom-control-inline statediv">
              <input type="radio" formControlName="status" class="custom-control-input" id="Yes" value="1">
              <label class="custom-control-label" for="Yes">{{ 'GLOBAL.YES' | translate }}</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline statediv">
              <input type="radio" class="custom-control-input" id="No" formControlName="status" value="0">
              <label class="custom-control-label" for="No">{{ 'GLOBAL.NO' | translate }}</label>
            </div>
            <br>
            <small *ngIf="(f1.status.errors && f1.status.touched) || (f1submitted && f1.status.errors)" class="text-danger">{{ 'PROPOSAL.REQUIRED' | translate }}</small>
          </div>
        </div>
      </div>     
      
      <div class="row">
        <div class="col-md-12">
          <input name="register" type="submit" value="{{ 'GLOBAL.SUBMIT' | translate }}" class="registerbutt videopub" (click)="onActivate($event)">
        </div>
      </div>
    </div>
  </form>
</div>
