<mat-toolbar color="primary">
    <span class="mat-title m-a-0">
        {{ 'PROPOSAL.MOREINFO' | translate }}
    </span>
    <span fxflex="">
    </span>
    <button mat-dialog-close="" mat-icon-button="">
        <mat-icon>
            close
        </mat-icon>
    </button>
</mat-toolbar>
<mat-dialog-content>
    <!-- Tabs -->
    <section id="tabs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav>
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            <a *ngIf="showData.status == 'notView' || showData.status == 'view'" aria-controls="nav-profile" aria-selected="true" class="nav-item nav-link active" data-toggle="tab" href="#nav-profile" id="nav-profile-tab" role="tab">
                                {{ 'GLOBAL.LIST'  | translate }}
                            </a>
                            <a *ngIf="showData.status == 'notView' && loggedUserRole!=='companies'" aria-controls="nav-home" aria-selected="false" class="nav-item nav-link" data-toggle="tab" href="#nav-home" id="nav-home-tab" role="tab">
                                {{ 'GLOBAL.ADD'  | translate }}
                            </a>
                        </div>
                    </nav>
                    <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">

                        <div *ngIf="showData.status == 'notView' || showData.status == 'view'" aria-labelledby="nav-profile-tab" class="tab-pane fade show active" id="nav-profile" role="tabpanel">
                            <table border="0" cellpadding="0" cellspacing="0" class="uploadtable" width="100%">
                                <tr style="border-top:none;">
                                    <th style="width: 12%;">
                                        <p>
                                            <span>
                                                {{ 'GLOBAL.DATE'  | translate }}
                                            </span>
                                        </p>
                                    </th>
                                    <th style="width: 18%;">
                                        <p>
                                            <span>
                                                {{ 'GLOBAL.USER'  | translate }}
                                            </span>
                                        </p>
                                    </th>
                                    <th>
                                        <p>
                                            <span>
                                                {{ 'GLOBAL.DESC'  | translate }}
                                            </span>
                                        </p>
                                    </th>
                                    <th style="width: 7%;" *ngIf="loggedUserRole!=='companies'">
                                        <p class="cross">
                                            {{ 'GLOBAL.ACTION'  | translate }}
                                        </p>
                                    </th>
                                </tr>
                                <tr *ngFor="let data of moreinfolisting">
                                    <td>
                                        <p>
                                            {{data.created_at | date: 'MM/dd/yyyy'}}
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            {{ data.log_user.user_type == 0 ?  ( data.log_user.admin_first_name + ' ' + data.log_user.admin_last_name ) : data.log_user.entity_name }}
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            {{data.info_note}}
                                        </p>
                                    </td>
                                    <td *ngIf="loggedUserRole!=='companies'" style="padding-top: 0px;">
                                        <a (click)="moreinfodelete(data.id)" href="javascript:void(0)">
                                            <i aria-hidden="true" class="fa fa-trash-o">
                                            </i>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div *ngIf="showData.status == 'notView'" aria-labelledby="nav-home-tab" class="tab-pane fade" id="nav-home" role="tabpanel">
                            <form (ngSubmit)="addMoreinfo(addMoreinfoform.value)" [formGroup]="addMoreinfoform" class="example-form">
                                <textarea cols="" formControlName="MoreInfoBody" rows=""></textarea>
                                <small *ngIf="(f1.MoreInfoBody.errors && f1.MoreInfoBody.touched) || (f1submitted && f1.MoreInfoBody.errors)" class="text-danger">
                                    {{ 'PROPOSAL.REQUIRED' | translate }}
                                </small>
                                <input class="submitbutt" name="submit" type="submit" value="{{ 'GLOBAL.SUBMIT'  | translate }}" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</mat-dialog-content>
