/* Tabs*/
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #000;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#tabs{
	background: #fff;
    color: #000;
}
#tabs h6.section-title{
    color: #000;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #000;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid !important;
    font-size: 20px;
    font-weight: bold;
}
#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #000;
    font-size: 20px;
}

 input.submitbutt{
    
    background: rgb(40,131,201);
    background: linear-gradient(90deg, rgba(40,131,201,1) 18%, rgba(31,72,172,1) 76%);
     color: #fff;
    display: block;
    font-size: 13px;
    height: 47px;
    line-height: 47px;
    padding: 0 20px;
    border-radius:4px;
    text-transform: uppercase;
    font-weight: 600;
    border:none;
    font-family: 'Poppins', sans-serif;
    -webkit-box-shadow: -1px 2px 7px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 7px -4px rgba(0,0,0,0.75);
    box-shadow: -1px 2px 7px -4px rgba(0,0,0,0.75);
    margin-top:20px;
   
}
.uploadtable{
    border-top: none;
    border-bottom: solid 1px #000;
}
.uploadtable p span{
    font-weight: bold;
}
.uploadtable td, .uploadtable th{
    font-size: 14px;
} 

.uploadtable tr td{
    padding: 15px 0 0;
    word-break: break-word;
}

.uploadtable i.fa-trash-o{
    font-size: 16px;
    padding-top: 0px;
}

 input[type='text'], input[type='email'], input[type='number']{
    width:100%;
    height:100%;
    color:#282828;
    font-size:16px;
    font-weight:300;
    border-radius:0;
    padding: 15px  0 15px 21px;
    margin:0;
    border:none;
    border:solid 1px #b4c8d2;
    border-radius: 6px;
    background-color: #fff;
    text-align:left;
    -webkit-box-shadow: -1px 2px 7px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 7px -4px rgba(0,0,0,0.75);
    box-shadow: -1px 2px 7px -4px rgba(0,0,0,0.75);
}
.form-group label{
    font-size: 16px;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-bottom: 15px;
  }

  .uploadwrap{
      margin-top: 15px;
  }
  
  .btn {
    background: url(src/assets/images/upload.png) no-repeat 5px 6px;
     height: 30px;
    display: block;
    font-size: 14px;
    // width: 235px;
    line-height: 30px;
    color: #000;
    padding-left:47px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    }

  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  .addnewbutt{
    display: inline-block;
    background: url('src/assets/images/addnew_bg.jpg') no-repeat 0 0;
    width:110px;
    height: 47px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    vertical-align: top;
    border-radius:3px;
    border: none;
    margin-left: 0;
    font-weight: 500;
    font-size: 16px;
    margin-top: 2px;
}

.uploadtable i.fa-download{
        font-size: 18px;
}
.uploadtable td{
    padding:0 10px;;
    word-break: break-word;
}

.wrap-temp{
	border:solid 1px #b4c8d2;
	border-radius: 4px;
	padding: 20px 20px 0 20px;
    line-height: 20px;
	color: #5a75c1;
	background-color: #fff;
}
p.upfiletxt{
	display: inline-block;
	
}
.wrap-temp a{
	color: #fff;
    background-color: #a3000d;
    width: 20px;
    height: 20px;
    border-radius: 50%;
	display: inline-block;
	float:right;
    text-align: center;
}

@media (min-width: 360px) and (max-width: 768px) {
   .browserupload{
       text-transform: capitalize;
       padding-left: 39px;
   } 
   .addnewbutt{
       width:auto;
       height: 36px;
       padding:0 10px;
   }
  
}