<mat-toolbar color="primary">
    <span class="mat-title m-a-0">
        CECFL {{ 'REPORT.Document' | translate }}
    </span>
    <span fxflex="">
    </span>
    <button mat-dialog-close="" mat-icon-button="">
        <mat-icon>
            close
        </mat-icon>
    </button>
</mat-toolbar>
<mat-dialog-content>
    <!-- Tabs -->
    <section id="tabs">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ">
                    <nav>
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" aria-controls="nav-profile" data-toggle="tab" href="#nav-profile" id="nav-profile-tab" role="tab">
                                {{ 'GLOBAL.LIST'  | translate }}
                            </a>
                            <a class="nav-item nav-link" aria-controls="nav-home" data-toggle="tab" href="#nav-home" id="nav-home-tab" role="tab">
                                {{ 'GLOBAL.ADD'  | translate }}
                            </a>
                        </div>
                    </nav>
                    <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                        <div class="tab-pane fade show active" aria-labelledby="nav-profile-tab" id="nav-profile" role="tabpanel">
                            <table border="0" cellpadding="0" cellspacing="0" class="uploadtable" width="100%">
                                <tr style="border-top:none;">
                                    <th style="width: 12%;">
                                        <p>
                                            <span>
                                                {{ 'REPORT.Classification' | translate }}
                                            </span>
                                        </p>
                                    </th>
                                    <th style="width: 18%;">
                                        <p>
                                            <span>
                                                {{ 'GLOBAL.USER'  | translate }}
                                            </span>
                                        </p>
                                    </th>
                                    <th>
                                        <p align="center">
                                            <span>
                                                {{ 'REPORT.Document' | translate }}
                                            </span>
                                        </p>
                                    </th>
                                    <th style="width: 7%;">
                                        <p class="cross">
                                            {{ 'GLOBAL.DOWNLOAD' | translate }}
                                        </p>
                                    </th>
                                    <th style="width: 7%;" *ngIf="loggedUserRole==='system-admin' || loggedUserRole==='sub-admin'">
                                        <p class="cross">
                                            {{ 'PROPOSAL.ACTION' | translate }}
                                        </p>
                                    </th>
                                </tr>
                                <tr *ngFor="let data of attachListing">
                                    <td>
                                        <p>
                                            {{data.desc}}
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            {{ data.log_user.user_type == 0 ?  ( data.log_user.admin_first_name + ' ' +data.log_user.admin_last_name ) : data.log_user.entity_name }}
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            {{data.file_name}}
                                        </p>
                                    </td>
                                    <td style="padding-top: 0px;">
                                        <a href="{{fileBaseUrl}}{{data.file_path}}">
                                            <i aria-hidden="true" class="fa fa-download">
                                            </i>
                                        </a>
                                    </td>
                                    <td *ngIf="loggedUserRole==='system-admin' || loggedUserRole==='sub-admin'">
                                        <p class="cross">
                                            <a (click)="delFile(data)" href="javascript:">
                                                x
                                            </a>
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="tab-pane fade" aria-labelledby="nav-home-tab" id="nav-home" role="tabpanel">
                            <div class="row">
                                <form (ngSubmit)="addAttach(attachForm.value)" [formGroup]="attachForm" class="example-form">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>
                                                {{ 'REPORT.Classification' | translate }}
                                            </label>
                                            <input class="form-control" formControlName="desc" id="" placeholder="{{ 'REPORT.Classification' | translate }}" type="text">
                                            <small *ngIf="formSubmit && desc.errors || (desc.errors && (desc.dirty || desc.touched))" class="text-danger">
                                                {{ 'PROPOSAL.REQUIRED' | translate }}
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="uploadwrap">
                                            <div class="upload-btn-wrapper">
                                                <button class="btn browserupload">
                                                    {{ 'PROPOSAL.BROWSEUPLOADDOCUMENT' | translate }}
                                                </button>
                                                <input (change)="fileChangeEvent($event)" class="form-control" multiple="" name="department_of_finance" type="file"/>
                                            </div>
                                            <input class="addnewbutt" name="" type="submit" value="{{ 'GLOBAL.UPLOAD' | translate }}" />
                                            <div *ngFor="let eachfile of urls" class="wrap-temp">
                                                <p class="upfiletxt">
                                                    {{eachfile}}
                                                </p>
                                                <a (click)="removefile(eachfile)" href="javascript:">
                                                    X
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ./Tabs -->
</mat-dialog-content>
