<app-menu></app-menu>
<app-innear-header (citySrchListner)="citySrchFunc($event)"></app-innear-header>

<!-- <div class="pageHeaderPan">
    <div class="container row">
        <div class="col-12 col-lg-11 col-md-11 px-0 filterLeft">
            <label>City</label>
            <div class="customSelect citySelect">
                <select>
                    <option>Location</option>
                </select>
            </div>
            <div class="customSelect">
                <select>
                    <option>Location</option>
                </select>
            </div>
        </div>
        <div class="col-12 col-lg-1 col-md-1 px-0 text-right filterRight">
            <a href="#" class="icon-list"></a>
        </div>
    </div>
</div> -->

<div class="container-fluid px-0 mapWrapper">
    <div class="centerDiv" *ngIf="showNoData">
        <h5>{{ 'GLOBAL.NoRecordsFound' | translate}}</h5>
    </div>
    <div class="mapPan" *ngIf="!showNoData">
            
            <div  id="map" style="height:600px;">
        <!-- <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60553.38972842992!2d-66.10442352928278!3d18.457058186065126!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c036ec2cd8a7b61%3A0xf36e664693f59a12!2sSan%20Juan%2C%2000902%2C%20Puerto%20Rico!5e0!3m2!1sen!2sin!4v1578030418826!5m2!1sen!2sin"
            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe> -->
    </div>
</div>
<ngx-ui-loader [fgsType]="spinnerType"></ngx-ui-loader>
<app-footer-website></app-footer-website>
