<div class="container pagewrapper">
        <div class="row">
            <div class="col-md-12  headerdiv">
                <div class="outer_heading">
                    <div class="heading">
                    <h1>{{'Member.Memberlist'|translate}} <span></span></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container formbody">
            <div class="row entity-srchbox formbody">
            <div class="col-md-9"></div>
             <div class="col-md-1"></div>
                  <div class="col-md-2 multibutt">
                          <ul>
                          <li><a [routerLink]="['/post-auth/add-entity-member']"><i class="fa fa-plus" aria-hidden="true"></i> {{'Project.Add'|translate}}</a></li>
                         </ul>
                  </div>
            </div>

            <div class="row entrysrch_table">
                    <div class="col-md-12 p-0 restable" style="overflow-x:auto;">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <thead>
                                    <tr >
                                      
                                        <th>{{'Member.Membername'|translate}}</th>
                                        <th>{{'Member.Designation'|translate}}</th>
                                        <th>{{'Member.Telephone'|translate}}</th>
                                        <th>{{ 'ADDMEMBER.EMAIL' | translate }}</th>
                                        <th>{{'Member.Address'|translate}}</th>
                                        <th>{{'Member.City'|translate}}</th>
                                        <th>{{'Member.State'|translate}}</th>
                                        <th>{{'Member.Zipcode'|translate}}</th>
                                        <th>{{'Member.Action'|translate}}</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let list of entityData">
                                        
                                        <td><p>{{list.member_name}}</p></td>
                                        <td><p>{{list.designation}}</p></td>
                                        <td><p>{{list.telephone}}</p></td>
                                        <td><p>{{list.email}}</p></td>
                                        <td><p>{{list.address}}</p></td>
                                        <td><p>{{list.cityinfo.city}}</p></td>
                                        <td><p>{{list.state}}</p></td>
                                        <td><p>{{list.zip}}</p></td>
                                        <td>
                                            <a href="javascript:void(0)" class="edit" routerLink="/post-auth/member-edit/{{list.id}}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                            <a href="javascript:void(0)" class="view" (click)="deleteMember(list.id)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                  </tbody>
                                </table>
                    </div>
            </div>

            <div align="center" *ngIf="length == 0">{{'NEWS_LIST.NoRecordsFound' | translate}}</div>
      <div *ngIf="length > 0" class="row paginationdiv">
        <div class="col-md-12">
          <!-- <pagination-controls (pageChange)="paginationFeed($event)"></pagination-controls> -->
        </div>
      </div>
    </div>
    <!-- <ngx-ui-loader [fgsType]="spinnerType"></ngx-ui-loader> -->