.resourcesBg{
    &.providerBg{
	background: url(../../../../assets/images/service-bg.jpg) 100% 50%/cover no-repeat;
	min-height: 100vh;

    div{
		margin-left:auto;
		margin-right:auto;
	}
  
    .titleWrap{
        h2{
            color: #393939;
        }
        &:after{
            // border-bottom: solid 1px#393939;
            left: 0;
            width: 100%;
            bottom: 14px;
        }

        
    }

    .btnContainer{
        a.btn{
            background: #e9aa2d;
            border: 0;
            &:hover{
                background: #d09217;  
            }
        }
    }

    h3{
        color: #393939; 
       padding-bottom: 40px;
        text-transform: capitalize;
        text-align: center;
    }
    }

}



// Start 768px to 300px
@media screen and (max-width:768px) and (min-width:300px) {


    .resourcesBg{
        &.providerBg{
        .titleWrap{
            &:after{
                bottom: 0;
            }
        }
    }
    }

    
}
// End 768px to 300px