<!-- content -->
<div *ngIf="data.status == 'reject'"> 
  <mat-dialog-content>
    <h3 class="text-center" mat-dialog-title>{{('PROPOSAL.DELETECONF_REJECT' | translate)}}</h3>
  </mat-dialog-content>
  <mat-dialog-actions fxLayoutAlign="center start">
    <button mat-raised-button mat-dialog-close color="primary">{{ 'GLOBAL.NO' | translate }}</button>
    <button (click)="rejectproposal()" mat-raised-button color="accent">{{ 'GLOBAL.YES' | translate }}</button>
  </mat-dialog-actions>
  <mat-progress-bar *ngIf="showLoader" mode="indeterminate" color="accent" class="loader left bottom"></mat-progress-bar>
</div>

<!-- end reject -->

<!-- Delete News-->
<!-- content -->
<div  *ngIf="data.status == 'delete'">
  <mat-dialog-content >
    <h3 class="text-center" mat-dialog-title>{{('NEWS_LIST.DELETECONFIRM' | translate)}}</h3>
  </mat-dialog-content>
  <mat-dialog-actions fxLayoutAlign="center start">
    <button mat-raised-button mat-dialog-close color="primary">{{ 'GLOBAL.NO' | translate }}</button>
    <button (click)="deleteNews()" mat-raised-button color="accent">{{ 'GLOBAL.YES' | translate }}</button>
  </mat-dialog-actions>
  <mat-progress-bar  mode="indeterminate" color="accent" class="loader left bottom"></mat-progress-bar>
</div>

<!-- end delete news-->

<!-- Delete Video -->
<!-- content -->
<div  *ngIf="data.status == 'video-delete'">
  <mat-dialog-content >
    <h3 class="text-center" mat-dialog-title>{{('VIDEO_LIST.DELETECONFIRM' | translate)}}</h3>
  </mat-dialog-content>
  <mat-dialog-actions fxLayoutAlign="center start">
    <button mat-raised-button mat-dialog-close color="primary">{{ 'GLOBAL.NO' | translate }}</button>
    <button (click)="deleteVideo()" mat-raised-button color="accent">{{ 'GLOBAL.YES' | translate }}</button>
  </mat-dialog-actions>
  <mat-progress-bar  mode="indeterminate" color="accent" class="loader left bottom"></mat-progress-bar>
</div>

<!-- end delete video-->


<!-- Delete Member-->
<!-- content -->
<div  *ngIf="data.status == 'member-delete'">
  <mat-dialog-content >
    <h3 class="text-center" mat-dialog-title>{{('Member.Deleteconf' | translate)}}</h3>
  </mat-dialog-content>
  <mat-dialog-actions fxLayoutAlign="center start">
    <button mat-raised-button mat-dialog-close color="primary">{{ 'GLOBAL.NO' | translate }}</button>
    <button (click)="deleteMember()" mat-raised-button color="accent">{{ 'GLOBAL.YES' | translate }}</button>
  </mat-dialog-actions>
  <mat-progress-bar  mode="indeterminate" color="accent" class="loader left bottom"></mat-progress-bar>
</div>

<!-- end delete member-->

