h1 {
    font-size: 30px;
    font-weight: 600;
}
/*header*/
.logo {
    margin-bottom: 40px;
    width: 20%;
    position: absolute;
    top: 10px;
    left: 39px;
}


.headerdiv{
	// background:url(src/assets/images/header_rept_blueimg.jpg) repeat-x 0 0;
	height: 100%;
	padding-bottom: 0;
}
.paginationdiv{
    padding-bottom: 50px;
}


/*header*/  
.formbody{
    padding-top: 0px;
}
ul{
    display: block;
    text-align: center;
}
ul li{
    display:inline-block;
    padding-right: 3px;
    width: 100%;
}
ul li a{
    background-color: #2c2c2c;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 47px;
    display: block;
    font-weight: 500;
    padding: 0 10px;
	border-radius: 4px;
	text-align: center;
}
.multibutt ul li a i{
    padding-right: 10px;
}
ul li a:hover{
  background: linear-gradient(90deg, #ec231c 18%, #800020 76%);
	text-decoration: none;
}

.multibutt{
    border-bottom: solid 1px #e5e5e5;
    padding-bottom: 24px;
}
.entity-srchbox{
    padding:18px 0 15px;
    border-bottom: solid 1px #e5e5e5;
}

.entity-srchbox h2{
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    padding-bottom: 25px;
    width: 100%;
}

.newselect-style select{
    padding-left: 22px;
}

// .entrysrch_table table tr{
//     border-bottom: solid 1px #e0e0e0;
   
// }
// .entrysrch_table table tr th{
//     padding: 20px 0;
//     color: #013b85;
//     font-size: 16px;
// }
// .entrysrch_table table tr td{
//     padding: 20px 0;
//     vertical-align: top;
// }
// .entrysrch_table table tr td p{
//     font-size: 14px;
//     line-height: 22px;
//     margin-bottom: 0;
// }
// .entrysrch_table table tr td p i{
//     padding-right: 5px;
// }

// table in responsive
table {
   border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  table tr td p i{
    padding-right: 5px;
   }
   table tr td p{
       word-wrap: break-word;
   }
  
  table tr {
   border-bottom: 1px solid #ddd;
  }
  
  
  table th,
  table td {
    text-align: left;
  }
  
  table th {
    text-transform: capitalize;
  }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      text-align: right;
    }
    table td p{
        text-align: left;
    }
    
    table td::before {
     content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: capitalize;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }

  // table in responsive

a.view, a.edit{
    width:28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    display: inline-block;
    color: #fff;
    border-radius: 2px;
    margin: 0 1px;
}
a.view{
    background-color: #2c2c2c;
}
a.view:hover{
    background-color: #413f3f;  
}
a.edit{
    background-color: #800020;
}
a.edit:hover{
    background-color: #800020;  
}

.paginationdiv{
    // width: 300px;
     margin: 45px auto 0;
     text-align: center;
 }

 ul{
    display: block;
    text-align: right;
}

.multibutt ul li a i{
    padding-right: 10px;
}
ul li a:hover{
    background: rgb(40,131,201);
    background: linear-gradient(90deg, rgba(40,131,201,1) 18%, rgba(31,72,172,1) 76%); 
    background: linear-gradient(90deg, #ec231c 18%, #800020 76%);
}

.multibutt{
    border-bottom: solid 1px #e5e5e5;
    padding-bottom: 24px;
} 


 @media (min-width: 767px) and (max-width: 991px) {
    ul li a{
        padding: 0 13px;
    }

    
    .entrysrch_table {
        overflow-x: scroll;
     }
     .entrysrch_table p{
        padding: 0 15px 0 0;
    }
    a.view{
        margin-bottom: 4px;
    }
}

@media (min-width: 300px) and (max-width: 766px) {

	.logo {
		width:30%;
		left:14px;
    }
    .headerdiv{
        padding-bottom: 0px!important;
    }
   
    ul li a{
        padding:0 16px;
        margin-bottom: 3px;
    }

        .entrysrch_table {
        overflow-x: scroll;
        }
        .entrysrch_table p{
            padding: 0 15px 0 0px;
        }

        .paginationdiv{
            margin-bottom: 40px;
        }
        a.view{
            margin-bottom: 4px;
        }
    .entity-srchbox h2{
        padding-left: 13px
    }
    .entityselect{
        margin-bottom: 15px;
    }
    a.edit{
        margin-bottom: 5px;
	}
	
	.formbody{
		&.entity-srchbox{
			padding-top: 10px;
			.form-group{
				margin-bottom: 20px;
				input[type='text']{
					padding: 10px 5px;
				}
			}
			ul{
				li{
					padding: 0;
					a{
						padding: 0 5px;
					}
				}
			}
		}
	}

}

