<mat-toolbar color="primary">
  <span class="mat-title m-a-0">{{ 'REPORT.EDITBUDGET' | translate }}</span>
  <span fxFlex></span>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<form class="example-form" [formGroup]="editReportform" (ngSubmit)="editReport(editReportform.value)">
  <mat-dialog-content class="p-y">
    
    <div fxLayout.gt-xs="row" fxLayout.xs="column">
      <mat-form-field>
        <input matInput [matDatepicker]="myDatepicker" placeholder="MM/DD/YYYY" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="myDatepicker" readonly>
        </mat-datepicker-toggle>
        <mat-datepicker #myDatepicker></mat-datepicker>
      </mat-form-field>
      <span fxFlex="5" fxHide.xs></span>
      <mat-form-field fxFlex color="accent" class="m-b">
        <input matInput placeholder=" {{'REPORT.Check' | translate}} *" formControlName="no_check">
        <mat-error>
          {{'PROPOSAL.REQUIRED' | translate}}
        </mat-error>
      </mat-form-field>
     
    </div>
    <div fxLayout.gt-xs="row" fxLayout.xs="column">
     <mat-form-field fxFlex color="accent" class="m-b">
        <input matInput placeholder="{{'REPORT.Infavorof' | translate}}" formControlName="infavourof">
        <mat-error>
          {{'PROPOSAL.REQUIRED' | translate}}
        </mat-error>
      </mat-form-field>
      <span fxFlex="5" fxHide.xs></span>
      <mat-form-field fxFlex color="accent" class="m-b">
        <input matInput placeholder="{{'REPORT.Amount' | translate}}" formControlName="expense_amount">
        <mat-error>
          {{'PROPOSAL.REQUIRED' | translate}}
        </mat-error>
      </mat-form-field>
      
    </div>
  </mat-dialog-content>
  <mat-dialog-actions fxLayoutAlign="end start">
    <button mat-button mat-dialog-close color="warn">{{ 'GLOBAL.CLOSE' | translate }}</button>
    <button mat-raised-button color="accent">{{ 'GLOBAL.SUBMIT' | translate }}</button>
  </mat-dialog-actions>
</form>
<mat-progress-bar *ngIf="showLoader" mode="indeterminate" color="accent" class="loader left bottom"></mat-progress-bar>
