
<div class="container">
  <form [formGroup]="demoForm">
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class=" btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Administrative
            </button>
          </h5>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12 col-md-5 col-xl-8">
                <div class="uploadwrap budgetuploadwrap">
                  <div class="upload-btn-wrapper">
                    <button class="btn browserupload">browse & upload Documents</button>
                    <!-- <input name="budget_requirement_file" type="file" (change)="fileChangeEvent($event)" /> -->
                  </div>
                  <input name="" type="submit" value="Upload" class="addnewbutt" />
                </div>
              </div>
              <div class="col-sm-12 col-md-7 col-xl-4">
                <div class="download_butt">
                  <a href="#">
                    <img src="assets/images/download.png">
                    <span>{{ 'PROPOSAL.BUDGET_SUBMIT_DOWNLOAD' | translate }}</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="row entrysrch_table">
              <div class="col-12">
                <p class="desc">The budget narrative clearly explains each item of expenditure requested.It must break down the budget presented
                  in detail by employee/ salary, units/ materials, equipment to be purchased, activities, etc., including
                  the cost to be covered and the time in which it will be developed. You must break down the budget by item.
                  Administrative/Operational Expenses cannot exceed 40% of the total Budget. The salary for the position
                  of Director, Administrator or person in charge of the daily operations of the NPO shall not exceed fifty
                  50% of the expenses adm.</p>
                <p class="tabtotal">Total
                  <span>7,800</span>
                </p>
                <table>
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Description of the Expenditure Item</th>
                        <th scope="col">Estimated Expense</th>
                        <th scope="col">Tight Budget</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr formArrayName="demoArray" *ngFor="let arrayItem of arrayItems; let i=index">
                            <td data-label="ID">{{i + 1}}</td>
                            <td data-label="Description of the Expenditure Item">
                              <input [id]="i" type="text" value="" />
                            </td>
                            <td data-label="Estimated Expense">
                              <input type="text" value="" />
                            </td>
                            <td data-label="Tight Budget">
                              <input type="text" value="" />
                            </td>
                            <td data-label="Action">
                              <a class="edit" href="javascript:void(0)">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                              </a>
                              <a class="view" href="javascript:void(0)" (click)="removeItem(i)">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                              </a>
                            </td>
                          </tr>
                    </tbody>
                  </table>
                <ul class="addbutt">
                  <li>
                    <!-- <a href="javascript:void(0)" (click)="addItem('admin')">
                      <i class="fa fa-plus" aria-hidden="true"></i> {{ 'GLOBAL.ADD' | translate }}</a> -->
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class=" btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Direct
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12 col-md-5 col-xl-8">
                <div class="uploadwrap budgetuploadwrap">
                  <div class="upload-btn-wrapper">
                    <button class="btn browserupload">browse & upload Documents</button>
                    <!-- <input name="budget_requirement_file" type="file" (change)="fileChangeEvent($event)" /> -->
                  </div>
                  <input name="" type="submit" value="Upload" class="addnewbutt" />
                </div>
              </div>
              <div class="col-sm-12 col-md-7 col-xl-4">
                <div class="download_butt">
                  <a href="#">
                    <img src="assets/images/download.png">
                    <span>{{ 'PROPOSAL.BUDGET_SUBMIT_DOWNLOAD' | translate }}</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="row entrysrch_table">
              <div class="col-12">
                <p class="desc">The budget narrative clearly explains each item of expenditure requested.It must break down the budget presented
                  in detail by employee/ salary, units/ materials, equipment to be purchased, activities, etc., including
                  the cost to be covered and the time in which it will be developed. You must break down the budget by item.Remember
                  that the proposed Direct Expenses must add a minimum of 60% of the total Budget.</p>
                <p class="tabtotal">Total
                  <span>7,800</span>
                </p>
                <table>
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Description of the Expenditure Item</th>
                        <th scope="col">Estimated Expense</th>
                        <th scope="col">Tight Budget</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr formArrayName="demoArray" *ngFor="let arrayItem of arrayItems2; let i=index">
                            <td data-label="ID">{{i + 1}}</td>
                            <td data-label="Description of the Expenditure Item">
                              <input [id]="i" type="text" value="" />
                            </td>
                            <td data-label="Estimated Expense">
                              <input type="text" value="" />
                            </td>
                            <td data-label="Tight Budget">
                              <input type="text" value="" />
                            </td>
                            <td data-label="Action">
                              <a class="edit" href="javascript:void(0)">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                              </a>
                              <a class="view" href="javascript:void(0)" (click)="removeItem(i)">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                              </a>
                            </td>
                          </tr>
                    </tbody>
                  </table>
                <ul class="addbutt">
                  <li>
                    <!-- <a href="javascript:void(0)" (click)="addItem('direct')">
                      <i class="fa fa-plus" aria-hidden="true"></i> {{ 'GLOBAL.ADD' | translate }}</a> -->
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>