
a.view, a.edit{
    width:28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    display: inline-block;
    color: #fff;
    border-radius: 2px;
    margin: 0 1px;
}
a.view{
    background-color: #2c2c2c;
}
a.view:hover{
    background-color: #413f3f;  
}
a.edit{
    background-color: #1f4aae;
}
a.edit:hover{
    background-color: #2259da;  
}

input[type=text]{
    width: 100%;
    border: solid 1px #b4c8d2;
    padding-left: 10px;
    border-radius: 6px;
    height: 34px;
    line-height: 34px;
}
ul.addbutt {
    float: right;
    margin-top: 20px;
}
ul.addbutt li a{
    background-color: #2c2c2c;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 44px;
    display: block;
    font-weight: 500;
    padding: 0 23px;
    border-radius: 4px;
}
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .btn {
     background: url(src/assets/images/upload.png) no-repeat 4px 2px;
     height: 25px;
    display: block;
    font-size: 14px;
    // width: 235px;
    line-height: 25px;
    color: #000;
    padding-left:49px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    }
  .browserupload{
    //  background: url(src/assets/images/uploadbg.png) no-repeat 0 0;
    background: url(src/assets/images/upload.png) no-repeat 4px 2px;
    width: 100%;
    padding-left: 63px;
    border-top-right-radius: 6px;
    
  }
  
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  .addnewbutt{
    display: inline-block;
    background: url('src/assets/images/addnew_bg.jpg') no-repeat 0 0;
    width:110px;
    height: 47px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    vertical-align: top;
    border-radius:3px;
    border: none;
    margin-left: 20px;
    font-weight: 500;
    font-size: 16px;
    margin-top: 2px;
}

.budgetform p{
    padding-bottom: 45px;
}
.budget_download{
    margin-bottom: 0px;
}
.budgetuploadwrap{
    width:100% ;
}

.download_butt{
    margin-bottom: 22px;
    position: relative;
  
}
.download_butt a{
font-family: 'Poppins', sans-serif;
  height: 25px;
  display: block;
  font-size: 16px;
  line-height: 21px;
  color: #000;
  padding-left: 0;
  text-transform: uppercase;
  font-weight: 500;
 
}
.download_butt a span{
    padding-left:30px;
    display: inline-block;
}
.download_butt a  img{
  position: absolute;
  left: -15px;
  top: 7px;
}

p.tabtotal{
    text-align: right;
    font-size: 16px;
    font-weight: bold;
   
}
p.tabtotal span{
    color: #013b85;
}

.desc{
    padding-top: 25px;
}
.card-header .btn-link{
    border:none;
}


// table in responsive
table {
    // border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
    // background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
    padding: .35em;
  }
  table th{
       color: #013b85;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
  }
  
  table th {
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
     content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }

    .budgetuploadwrap{
        width: 100%;
        margin-bottom: 30px;
    }
    .download_butt span{
        padding-left: 39px!important;
    }
    .download_butt img{
        left:0!important;
        top:0!important;
    }
    .browserupload{
        padding-left: 40px;
    }
  }

  // table in responsive