<app-menu-home></app-menu-home>
<app-home-header></app-home-header>
<app-commission></app-commission>

<div class="newsPanel scrollSection" id="latest">

	<div class="container inside_newswrap">
		<div class="row ">
			<div class="col-lg-7 col-xl-7 col-md-12 col-12 newsLeftPan">
				<app-news></app-news>
			</div>
			<div class="col-lg-5 col-xl-5 col-md-12 col-12 newsRightPan">
				<app-video></app-video>
			</div>
		</div>
	</div>
</div>

<app-providers></app-providers>
<app-faq></app-faq>
<app-contact></app-contact>
<app-footer-website></app-footer-website>