<div class="container-fluid pagewrapper">
	<div class="row">
		<div class="col-md-12  headerdiv">
			<div class="outer_heading">
				<div class="heading">
					<h1>{{ 'DASHBOARD.TITLE' | translate}} <span></span></h1>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- heading start -->
<mat-toolbar fxLayout="row" class="page-heading">

	<span fxFlex class="m-a-0 mat-subheading-1 dashboard_heading">{{ 'DASHBOARD.WELCOME' | translate}} </span>
	<div class="searchWrap" style="display: none;">
		<input (dateTimeChange)="onDateChange($event)" [owlDateTimeTrigger]="dt"
			placeholder="{{ 'DASHBOARD.DateRange' | translate}}" [selectMode]="'range'" [owlDateTime]="dt"
			[(ngModel)]="dateTimeRange" [readonly]>
		<!-- <button  type="button" (click)="clearValue($event)" class="crossbutt"><i class="material-icons md-16">&#xE14C;</i></button> -->
		<owl-date-time [pickerType]="'calendar'" #dt></owl-date-time>
	</div>
</mat-toolbar>

<!-- heading end -->
<section class="p-a-md p-t-0">
	<!-- slider section -->

	<div class="topSlideSec">
		<owl-carousel
			[options]="{ margin:8,responsiveClass:true,responsive:{ '600':{items:4},'1024':{items:6}, '1200':{ items:6}}, dots: false, nav: true}">
			<mat-card *ngFor="let item of owlItems; let i = index"
				class="mat-caro-item item text-center p-y-md arrow-down" (click)="onClickowlItems(i,item)"
				[class.active]="selectedIndex === i">
				<div class="thumbnail-image m-x-auto m-b thumb-size">
					<img src="{{imgUrl}}{{item.Title}}.png">
				</div>

				<p *ngIf="language == 'en'" [ngClass]="'font-weight-600 text-white'">{{item.Name}} </p>
				<p *ngIf="language == 'es'" [ngClass]="'font-weight-600 text-white'">{{item.NameEs}} </p>
				<mat-card-title class="pointer">(&nbsp;{{item.Count}}&nbsp;)


				</mat-card-title>
			</mat-card>

		</owl-carousel>
	</div>
	<!-- slider section end -->

	<!-- chart section -->
	<div class="barChart m-y-md" *ngIf="barChart">
		<div fxLayout="row">

			<header fxFlex>
				<h2 class="heading">
					<span *ngIf="language == 'en'" class="text-accent"> {{title}} </span>
					<span *ngIf="language == 'es'" class="text-accent"> {{titleEs}} </span>
				</h2>
			</header>
		</div>

		<div class="canvasWrap1">
			<div class="canvasWrap2">
				<canvas baseChart height="60" [datasets]="barchartObj.barChartData"
					[labels]="barchartObj.barChartLabels" [options]="barchartObj.barChartOptions"
					[plugins]="barchartObj.barChartPlugins" [legend]="barchartObj.barChartLegend"
					[chartType]="barchartObj.barChartType">
				</canvas>
			</div>
		</div>
	</div>
	<!-- chart section end -->

</section>
<ngx-ui-loader [fgsType]="spinnerType"></ngx-ui-loader>