@import "../../../../scss/theme";

// variable
$spacer: 16px;

.counter-section{
	background-color: mat-color($mat-grey, 200);
}
.dashboard-top{
	background-color: mat-color($mat-grey, 200);
}

.mat-toolbar{
	height: auto;
	&.mat-toolbar-single-row{
		min-height: 64px;
	}
}

.topSlideSec{
		.mat-card{
			padding-left: 5px;
			padding-right: 5px;
		}
		p.text-white{
			min-height: 45px;
			margin-bottom: 5px;
		}
}

::ng-deep.counter{
	.flat-card{
		&.mat-card{
			width: 100%;
			margin: 0;
		}
	}
}


.flat-card{
	.icon-wrap{
		// background-color: mat-contrast($default-app-primary, 800);
		background-color: mat-color($default-app-primary, default-contrast, .2);
	}
}

.feedback{
	// background: mat-color($mat-grey, 200);
	border-radius: 0 0 4px 4px !important;
	.img{
		width: 50px;
		height: 50px;
		display: block;
		border-radius: 100%;
		overflow: hidden;
		background: mat-color($default-app-primary);
		margin: 0 auto;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.quote{
		font-size: $mat-base-font-size*3.5;
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 48px;
		height: 48px;
		bottom: -25px;
	}
	&-action{
		::ng-deep.owl-carousel{
			.owl-stage{
				display: flex !important;
			}
		}
		.item{
			// background-color: mat-color($mat-grey, 200);
			border-radius: 4px;
			height: 100%;
			box-sizing: border-box;
			padding: $spacer * 0.25;
			.review{
				margin-bottom: $spacer * 0.5 !important;
				word-break: break-all;
			}
			.review-box{
				border-top-left-radius: 4px;
				border-bottom-left-radius: 4px;
				@media screen and ($mat-xs){
					border-bottom-left-radius: 0;
					border-top-right-radius: 4px;
				}
				::ng-deep.rating{
					.star-icon{
						font-size: 1.5em;
					}
				}
			}
			.action-box{
				border-top-right-radius: 4px;
				border-bottom-right-radius: 4px;
				border-left-width: 0 !important;
				@media screen and ($mat-xs){
					border-top-right-radius: 0;
					border-bottom-left-radius: 4px;
					border-left-width: 1px !important;
					border-top-width: 0 !important;
				}
			}
			@media screen and ($mat-xs){
				flex-direction: column !important;
				> div{
					width: 100% !important;
					flex: 100% !important;
					max-width: 100% !important;
				}
			}
		}
	}
}
// .my-chart{
// 	height: 200px;
// }

.event{
	.mat-icon{
		font-size: 200px;
		width: 200px;
		height: 200px;
		opacity: .30;
	}
}
canvas {
	max-width: 100%;
	max-height:  100%;
}

.section-toolbar{
	min-height: inherit;
	&.mat-toolbar.mat-toolbar-single-row{
		min-height: 56px;
		height: 56px;
	}
	.mat-form-field{
		max-height: 58px;
	}
}
// slider
owl-carousel{
  .thumbnail-image{
    width: 70px;
    height: 70px;
    background-color: #eeeeee;
    background-repeat: no-repeat;
    margin-top: 0;
   // background-size: 80px;
    border-radius: 100%;
    background-position: center center;
  }
  .mat-card-subtitle{
    font-size: 1.3em;
    margin-bottom: 5px;
  }
  .item{
    margin: 4px 0;
  }
}
.topSlideSec{
	text-align: center;
	margin-top: 20px;
}
mat-card{
  border-radius: 6px;
  width: 20%;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px !important;
  &.active{
	  background-color:#3fa9f5 ;
	  &:after{
		top: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(63, 169, 245, 0);
		border-top-color: #3fa9f5;
		border-width: 20px;
		margin-left: -20px;
	  }
  }
}


// dashbord map section
.mapSection{
  background: mat-color($mat-grey, 200);
  border-right: 1px solid mat-color($mat-grey, 200);
  .heading{
    background: mat-color($mat-grey, 50);
    margin: 0;
    padding: $spacer $spacer*2;
    display: inline-block;
    border-radius: 6px 0 0 0;
  }
}
.legendDisplay{
  div.list{
    padding: 6px;
  }
}
.mapDtls{
  background: #fff;
  padding: $spacer $spacer*2;
  border-radius: 0 0 0px 6px;
  h4.grey{
    color:mat-color($mat-grey, 00);
  }
}
.pointer {
    cursor: pointer;
}
.xxxx{
  height: 500px;
  width: 100%;
}

.mat-caro-item{
	background-color: #800020;
	color: #fff;

}

mat-card.active {
    background-color: #b71c1c !important;
}

.text-white{
	color: #fff;
}
.mapSection header{
	background-color: white;

	.heading{
		background-color: #fff;
	}
}
.map-pie{
	background-color: #f5f5f5!important;
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12)!important;
}
.mapSection{
	margin-right: 32px;
}
.p-x{
	background-color: white;
	place-content: inherit!important;
}
.staticMap{
	background-color: #e9e9e9;
}

.ng-star-inserted .m-a-0{
	text-align: center!important;
}
.thumb-size{
	background-color:inherit!important;
	background-size: inherit!important;
	border-radius: inherit!important;
}


h1 {
    font-size: 30px;
    font-weight: 600;
}

/*header*/
.logo {
    margin-bottom: 40px;
    width: 20%;
    position: absolute;
    top: 10px;
    left: 39px;
}

.headerdiv{
	// background:url(src/assets/images/header_rept_blueimg.jpg) repeat-x 0 0;
	height: 100%;
	padding-bottom: 40px;
}
.paginationdiv{
    width: 300px;
     margin: 45px auto 0;
 }


 .searchWrap{
	 width: 250px;
	 position: relative;
	 input{
		 width: 100%;
		 font-size: 15px;
		 padding: 0 25px 0 5px;
	 }
	 button{
		 position: absolute;
		 top: 0;
		 right: 3px;
		 background: none;
		 border: 0;
		 outline: none;
	 }
 }





@media (min-width: 300px) and (max-width: 768px) {
	.logo {
		width:30%;
		left:14px;
    }
    
    .paginationdiv{
        margin-bottom: 40px;
	}
	.mat-card{
		width: 45%;
	}
	mat-card.active{
		margin-bottom: 20px!important;
	}
	input.ng-pristine{
		width: 89%;
	}

	.canvasWrap1{
		width: 100%;
		overflow-x: auto;
		overflow-y: hidden;
	}
	.canvasWrap2{
		min-width: 500px;
	}

	.searchWrap{
		input{
			font-size: 13px;
			padding: 0 5px 0 5px;
		}
		button{
			position: absolute;
			top: 0;
			right: 3px;
			background: none;
			border: 0;
			outline: none;
		}
	}

}
/*header*/ 

@media (min-width: 300px) and (max-width: 450px) {

	.mat-card{
		width: 100%;
		padding-top: 15px !important;
		padding-bottom: 15px !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
		.thumbnail-image{
			margin-bottom: 10px !important;
		}
		p.text-white{
			min-height: 10px !important;
		}
		&.active{
			margin-bottom: 4px !important;
			&:after{
				display: none;
			}
		}
	}

}


