/* Tabs*/
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #000;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#tabs{
	background: #fff;
    color: #000;
}
#tabs h6.section-title{
    color: #000;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #000;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid !important;
    font-size: 20px;
    font-weight: bold;
}
#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #000;
    font-size: 20px;
}
.proptxt{
    display:inline-block;
}
.form-group{
    display:inline-block;
}

 input.submitbutt{
    
    background: rgb(40,131,201);
    background: linear-gradient(90deg, rgba(40,131,201,1) 18%, rgba(31,72,172,1) 76%);
     color: #fff;
    display: block;
    font-size: 13px;
    height: 47px;
    line-height: 47px;
    padding: 0 20px;
    border-radius:4px;
    text-transform: uppercase;
    font-weight: 600;
    border:none;
    font-family: 'Poppins', sans-serif;
    -webkit-box-shadow: -1px 2px 7px -4px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 2px 7px -4px rgba(0,0,0,0.75);
box-shadow: -1px 2px 7px -4px rgba(0,0,0,0.75);
margin-top:20px;
   
}

.proptxt{
    font-size: 16px;
    display: inline-block;
    padding-right: 20px;
}

.form-group{
    display: inline-block;
}
.form-group label{
    padding-right: 15px;
}
input[type=radio]{
    vertical-align: middle;
}

.uploadtable{
    border-top: none;
    border-bottom: solid 1px #000;
}
.uploadtable p span{
    font-weight: bold;
}
.uploadtable td, .uploadtable th{
    font-size: 14px;
} 

.uploadtable tr td{
    padding: 15px 0 0;
}

.uploadtable i.fa-trash-o{
    font-size: 16px;
    padding-top: 0px;
}

.toppadapprove{
    padding-top: 20px;
}