// @import 'assets/css/website_font.scss';
  
.floatingMenu{
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    z-index: 999;
    text-align: center;
    
    ul{
        list-style-type: none;
        li{
            background-color: #121212;
            transition: all .4s ease;
            -webkit-transition: all .4s ease;
            position: relative;
            overflow: hidden;
            a{
                display: inline-block;
                padding:12px 15px;
                font-size: 16px;
                color: #717171;
                width: 48px;
                height: 41px;
                transition: all .4s ease;
                -webkit-transition: all .4s ease;
                cursor: pointer;
                &.icon-contact{
                    font-size: 11px;
                    &:hover{
                        color: #fff;
                        &:before{
                            color: #fff;
                        }
                    }
                }
                &:hover, 
                &.activeScroll{
                    text-decoration: none;
                    color: #fff;
                    background-color: #800020;
                    &:before{
                        color: #fff;
                    }
                    &.icon-home{
                        border-radius: 0 7px 7px 0;
                    }
                    &.icon-contact{
                        border-radius: 0 7px 7px 0;
                    }
                }
            }
            &:hover{
                overflow: visible;
            }

            .menuTips{
                //display: none;
                position: absolute;
                top: 0;
                right: 48px;
                width: 100px;
                background-color: #800020;
                color: #fff;
                height: 41px;
                line-height: 41px;
                border-radius: 7px 0 0 7px;
                font-size: 12px;
                opacity: 0;
                transition: opacity .25s ease-in-out;
                -moz-transition: opacity .25s ease-in-out;
                -webkit-transition: opacity .25s ease-in-out;
            }
            &:first-child{
                border-radius: 7px;
                &:hover{
                    border-radius: 0 7px 7px 0;
                }
            }
            &:last-child{
                border-radius:7px;
                &:hover{
                    border-radius: 0 7px 7px 0;
                }
            }
            &:hover{
                background-color: #800020;
                .menuTips{
                    opacity: 1;
                }
                a{
                    color: #fff !important;
                    &:before{
                        color: #fff !important;
                    }
                }
            }
        }
    }
}

