<div class="floatingMenu">
	<ul>
		<li>
			<a (click)="navigateHome()" class="icon-home"></a>
			<div class="menuTips">{{ 'GLOBAL.HOME' | translate }}</div>
		</li>
		<li *ngIf="pageurl ==  'search-details'">
			<a (click)="navigate('/search')" class="icon-service--providers"></a>
			<div class="menuTips">{{ 'GLOBAL.SERVICES' | translate }}</div>
		</li>
		<!-- <li>
			<a (click)="navigateHome('commission')" class="icon-comission"></a>
			<div class="menuTips">{{ 'GLOBAL.COMMISSION' | translate }}</div>
		</li>
		<li>
			<a (click)="navigateHome('latest')" class="icon-events"></a>
			<div class="menuTips">{{ 'GLOBAL.NEWS' | translate }}</div>
		</li>
		<li>
			<a (click)="navigateHome('service')"class="icon-service--providers"></a>
			<div class="menuTips">{{ 'GLOBAL.SERVICES' | translate }}</div>
		</li>
		<li>
			<a (click)="navigateHome('faq')" class="icon-faq"></a>
			<div class="menuTips">{{ 'GLOBAL.FAQ' | translate }}</div>
		</li>
		<li>
			<a (click)="navigateHome('contact')" class="icon-contact" title="Contact"></a>
			<div class="menuTips">{{ 'GLOBAL.CONTACT' | translate }}</div>
		</li> -->
	</ul>
</div>