/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import "scss/theme";
@import "scss/mixin";
@import "scss/utilities";
@import "~ng-pick-datetime/assets/style/picker.min.css";

html {
  min-height: 100%;
  height: 100%;
}
.bg-light, .mat-sidenav-content{
  background-color: #fff!important;
}
body {
  height: 100%;
  padding: 0;
  margin: 0; // background-color: mat-color($default-app-accent);
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  //background-color: mat-color($default-app-primary, 600);
  color: #000;
  
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

img {
  display: block;
  outline: 0;
  max-width: 100%;
}

li{
  list-style-type: none;
}

iframe {
  display: block;
}

a {
  &.normalLink {
    text-decoration: none;
    cursor: pointer;
  }
}
.mat-sort-header-arrow{
  color: #fff;
}
.flex-spacer {
  flex: 1 1 auto;
}

// white box
.white-box {
  background: mat-color($default-app-primary, default-contrast);
  border-radius: 4px;
  overflow: hidden;
}

.table-toolbar {
  mat-form-field {
    font-size: 14px;
  }
}

.mat-toolbar {
  height: 56px;
  .mat-form-field-infix {
    font-size: 0.8rem;
  }
}

// loader
.loader {
  &.mat-progress-bar {
    position: absolute;
    z-index: 3;
    &.left {
      left: 0;
    }
    &.bottom {
      bottom: 0;
    }
    &.right {
      right: 0;
    }
    &.top {
      top: 0;
    }
  }
}

// status
.status {
  &-active {
    color: mat-color($mat-green, 600);
  }
  &-deactive {
    color: mat-color($mat-gray, 400);
  }
  &-grey {
    background: mat-color($mat-gray, 500) !important;
  }
}

// not found
.not-found {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  &.top {
    top: $mat-toolbar-height-desktop * 3;
  }
  .mat-icon {
    font-size: 60px;
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
  }
}

// list
.mat-nav-list,
.mat-list {
  .mat-list-item {
    font-size: $mat-list-font-size !important;
  }
}

// thumbnail list
.mat-list {
  .mat-list-item {
    .mat-list-avatar {
      background-position: 50% 50%;
      background-size: cover;
      background-repeat: no-repeat;
      .raised-hand {
        color: mat-color($mat-green, 500);
        font-size: 1rem;
        background: mat-contrast($default-app-primary, 500);
        border-radius: 100%;
        width: 16px;
        height: 16px;
        margin-right: -5px;
      }
    }
  }
}



// filter
.filter {
  &.mat-toolbar,
  &.mat-toolbar-row,
  &.mat-toolbar-single-row {
    min-height: $mat-toolbar-height-desktop;
    height: auto;
    flex-wrap: wrap;
    padding: $spacer/2 $spacer * 2;
    font-size: 14px !important;
    background-color: mat-color($mat-grey, 200) !important;
  }
  // mat-select{
  //  width: auto;
  // }
}

// page heading
.page-heading {
  &.mat-toolbar {
    // min-height: $mat-toolbar-height-desktop * 2 - 16px;
    height: auto;
    background-image: url(assets/images/placeholder.png) !important;
    background-position: 50% 50% !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    padding-left: $spacer * 2;
    padding-right: $spacer * 2;
    padding-top: $spacer / 2;
    padding-bottom: $spacer / 2;
    @media only screen and ($mat-tab-l) {
      // height: $mat-toolbar-height-desktop * 2;
      padding-left: $spacer;
      padding-right: $spacer;
    }

    .date {
      color: mat-color($mat-gray, 500);
      font-size: $mat-base-font-size;
      font-weight: 300;
    }
    .heading {
      text-overflow: ellipsis;
      overflow: hidden;
      @media only screen and ($mat-xs) {
        width: 100%;
      }
    }

    // custom form field
    .mat-form-field,
    .mat-form-field.mat-focused {
      .mat-select-arrow,
      .mat-select-disabled .mat-select-value,
      .mat-select-value,
      .mat-form-field-label,
      .mat-select-trigger {
        color: mat-color($mat-grey, A900) !important;
      }
     .mat-input-underline,
      .mat-form-field-ripple {
        background-color: mat-color($mat-grey, A200);
      }
    }
    .mat-form-field {
      .mat-form-field-wrapper {
        padding-top: 0.25rem;
        padding-bottom: 1.25em;
        .mat-select-trigger {
          height: 1.175em;
        }
      }
      .mat-icon {
        font-size: 102%;
        color: mat-color($default-app-primary, default-contrast);
      }
      .clear {
        cursor: pointer;
      }
      @media only screen and ($mat-xs) {
        max-height: 65px;
        width: 100%;
      }
    }
  }
}

// toolbar
.section-toolbar {
  // custom form field
  .mat-form-field,
  .mat-form-field.mat-focused {
    .mat-select-arrow,
    .mat-select-disabled .mat-select-value,
    .mat-select-value,
    .mat-form-field-label,
    .mat-select-trigger {
      color: mat-color($default-app-primary, default-contrast) !important;
    }
    .mat-input-underline,
    .mat-form-field-ripple {
      background-color: mat-color($default-app-primary, default-contrast);
    }
  }
  .mat-form-field {
    .mat-form-field-wrapper {
      padding-top: 0.25rem;
      padding-bottom: 1.25em;
      .mat-select-trigger {
        height: 1.175em;
      }
    }
    .mat-icon {
      font-size: 102%;
      color: mat-color($default-app-primary, default-contrast);
    }
    .clear {
      cursor: pointer;
    }
    @media only screen and ($mat-xs) {
      max-height: 65px;
      width: 100%;
    }
  }
  .mat-form-field-underline {
    height: 2px;
  }

  .mat-toolbar-row,
  .mat-toolbar-single-row {
    height: 56px;
  }
}

.card-wrap {
  margin: -1%;
  @media only screen and ($mat-lt-sm) {
    margin: 0;
  }
}

.card-custom-footer {
  $cardCustomMargin: -$spacer;
  margin: $spacer $cardCustomMargin $cardCustomMargin !important;
}

// flat card
.flat-card {
  overflow: hidden;
  &.mat-card {
    cursor: pointer;
    color: mat-color($mat-grey, A100) !important;
    width: 23%;
    margin: 1%;
    padding: 16px 16px 24px;
    @media only screen and ($mat-lt-lg) {
      width: 31.33%;
    }
    @media only screen and ($mat-lt-md) {
      width: 48%;
    }
    @media only screen and ($mat-lt-sm) {
      width: 100%;
      margin: 0 0 16px 0;
    }
    &.flat-img-card {
      padding: 120px 0 0 0;
    }
    .img-holder {
      height: 120px;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: mat-color($mat-grey, 50);
      background-image: url(assets/images/placeholder.png);
    }
    // with image
    .img-card {
      z-index: 1;
      .mat-card-content {
        margin-bottom: 0;
      }
      .mat-card-actions {
        margin-bottom: -16px;
      }
    }
    // with bg image
    .img {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      // opacity: .20;
      z-index: 0;
    }
    // content
    .mat-card-content {
      z-index: 1;
      margin-bottom: 0;
      .company-name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      p {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      .location {
        .material-icons {
          font-size: 16px;
          margin-right: 5px;
        }
      }
    }
    .mat-card-actions {
      margin-left: -24px;
      margin-right: -24px;
      padding: 0 16px;
      margin-top: 8px;
      // &:last-child{
      //  margin-bottom: -24px;
      // }
    }
  }
}

// menu-card
.menu-card {
  &.mat-card {
    padding: 0;
    width: 48%;
    margin: 1%;
    .thumbnail-holder {
      width: 100px;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }
    .menu-card-right {
      padding: $spacer/2;
      width: calc(100% - 100px);
    }
    .price {
      color: mat-color($default-app-primary);
      font-weight: 700;
      margin-left: $spacer/2;
    }
    .name {
      flex: 1;
    }
    .qty {
      line-height: 40px;
    }
  }
}

// count-field
.count-field {
  display: flex;
  flex-direction: row;
  max-width: 100px;
  button {
    width: 24px;
    height: 24px;
    border: 0;
    background-color: mat-color($default-app-accent);
    color: mat-color($default-app-accent, default-contrast);
    padding: 0;
    &.remove {
      border-radius: 2px 0 0 2px;
    }
    &.add {
      border-radius: 0 2px 2px 0;
    }
    .material-icons {
      font-size: 14px;
      line-height: 24px;
    }
    &:focus {
      outline: 0;
    }
  }
  input[type="text"] {
    width: calc(100% - 48px);
    border: 1px solid mat-color($mat-grey, 400);
    text-align: center;
    &:focus {
      outline: 0;
      border-color: mat-color($default-app-accent);
    }
  }
}

// dialog
.mat-dialog-title{
  color: #000;
}
.mat-dialog-container {
  position: relative;
  overflow: hidden;
  border-radius: 5px !important;
  color: #000;
  .mat-toolbar {
    margin: -24px -24px 0 !important;
    padding: 0 24px;
    width: calc(100% + 48px);
    .mat-input-container {
      color: mat-contrast($default-app-primary, 800);
      .mat-form-field-wrapper {
        padding-top: 10px;
      }
    }
  }
  .mat-dialog-content {
    &.m-minus-t {
      margin-top: -24px;
    }
    &.m-minus-b {
      margin-bottom: -24px;
    }
    position: relative;
    @media only screen and ($mat-lt-sm) {
      max-height: 45vh;
    }
  }
  .mat-dialog-actions {
    margin: 0 -24px -24px;
    padding-left: 24px;
    padding-right: 24px;
    border-top: 1px solid mat-color($mat-grey, 200);
  }
}

// download QR
.downloadQR {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: mat-color($mat-grey, A100, 0.8);
  transition: all ease-in-out 3s;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  .mat-icon-button {
    height: 70px;
    width: 70px;
    .mat-icon {
      width: 54px;
      height: 54px;
      font-size: 54px;
      line-height: 54px;
      // color:  mat-color($default-app-primary, default-contrast);
    }
  }
}

// QR code
.qr-wrap {
  background-color: mat-color($default-app-primary, 400);
  color: mat-color($default-app-primary, default-contrast);
  .qr-cont {
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    padding: 20px;
    border: 1px solid mat-color($default-app-primary, 900);
    background: mat-color($mat-grey, A100, 0.1);
    position: relative;
    box-shadow: 0 0 50px 0 mat-color($mat-grey, 900, 0.1);
    margin: 0 auto;
    @media screen and ($mat-lt-sm) {
      width: 100px;
      height: 100px;
      padding: 10px;
      margin: 16px auto !important;
      box-shadow: 0 0 16px 0 mat-color($mat-grey, 900, 0.1);
    }
  }
  .corner {
    width: 13px;
    height: 13px;
    background: mat-color($default-app-primary, 900);
    display: block;
    position: absolute;

    &.top-left {
      top: -6px;
      left: -6px;
    }
    &.top-right {
      top: -6px;
      right: -6px;
    }
    &.bottom-left {
      bottom: -6px;
      left: -6px;
    }
    &.bottom-right {
      bottom: -6px;
      right: -6px;
    }
  }
  .qr-box {
    border: 20px solid mat-color($mat-grey, A100);
    background: mat-color($mat-grey, A100);
    box-shadow: 0 0 50px 0 mat-color($mat-grey, 900, 0.1);
    height: 100%;
    @media screen and ($mat-lt-sm) {
      border: 10px solid mat-color($mat-grey, A100);
    }
  }
}

// upload
.uploadArea {
  background-color: mat-color($mat-grey, 200);
  border: 2px dashed mat-color($mat-grey, 400);
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  .upload-thumbnail {
    height: 80px;
    width: 80px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-color: mat-color($mat-grey, A100);
    background-image: url(assets/images/placeholder.png);
    position: relative;
    overflow: hidden;
    img {
      /* height: 100%; */
      /* max-width: inherit; */
      width: auto;
      max-width: 100%;
      max-height: initial;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .mat-error {
    position: absolute;
    font-size: 75%;
    left: 95px;
    bottom: 5px;
  }
}

// datatable
.table-container {
	display: flex;
	flex-direction: column;
	min-width: 300px;
	overflow: hidden;
	position: relative;

	.mat-table {
		overflow-x: auto;
		.mat-header-cell,
		.mat-cell {
			padding-right: $spacer;
			font-size: 13px;
			font-size: calc(1px + 0.9vw);
			line-height: 15px;
			line-height: calc(3px + 0.9vw);
			color: mat-color($mat-grey, 900);
			&:last-child {
				padding-right: 0;
			}
			&.actionCell{
				min-width: 90px;
				display: inline-block !important;
			}
		}
		.mat-header-cell {
			font-weight: 600;
			color: mat-color($mat-grey, 50) !important;
			padding-top: 8px;
			padding-bottom: 8px;
			// &.mat-column-name{
			//  color: mat-color($mat-grey, 700);
			// }
		}

		// table row
		.mat-row {
			border: 0;
			padding: 10px 0;
			&:hover {
			background-color: #ebedff !important;
			}
		}

		// column
		.mat-column-image {
			max-width: 50px;
		}
		.mat-column-name {
			font-weight: 600;
			color: mat-contrast($default-app-accent, 50);
		}
		.mat-column-select {
			max-width: 30px;
			overflow: inherit;
		}
		.mat-column-actions {
			max-width: 130px;
			text-align: right;
			white-space: nowrap;
			flex: auto;
		}

		// .mat-column-full_name{
		//  max-width: 150px;
		// }
		.mat-column-phone {
			max-width: 80px;
		}
		// .mat-column-email{
		//  max-width: 120px;
		// }
	}

	// pagination
	// .mat-paginator {
	// 	border-top: 1px solid mat-color($mat-grey, 300);
	// }

	table{
		tr{
			border-bottom: solid 1px #e0e0e0;
		}
		th, td{
			font-size: 13px;
			font-size: calc(1px + 0.8vw);
			line-height: 15px;
			padding: 20px 5px;
			color: #013b85;
			vertical-align: top;
		}
		td p{
		    font-size: 13px;
		    line-height: 15px;
		    margin-bottom: 0;
		}
		td p i{
		    padding-right: 5px;
		}
	}
}

.entrysrch_table{
	table{
		tr{
			border-bottom: solid 1px #e0e0e0;
		}
		th, td{
			font-size: 13px;
			font-size: calc(1px + 0.8vw);
			line-height: 15px;
			line-height: calc(3px + 0.8vw);
			padding: 20px 5px;
			color: #800020;
			vertical-align: top;
		}
		td p{
			font-size: 13px;
			font-size: calc(1px + 0.8vw);
			line-height: 15px;
			line-height: calc(3px + 0.8vw);
		    margin-bottom: 0;
		}
		td p i{
		    padding-right: 5px;
		}
	}	
}

.loginFormOuter{
  h2{
    color: #fff;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    padding-bottom: 20px;
    @media screen and ($mat-xs) {
      font-size: 22px;
      line-height: 25px;
    }
  }
}

// login form style
.loginForm {
  width: 420px;
  max-width: 100%;
  background-color: mat-color($mat-grey, A100);
  color: mat-color($mat-grey, 900);
  padding:75px 30px 30px;
  box-shadow: 0 0 10px mat-color($mat-grey, 900);
  border-radius: 4px;
  position: relative;
  box-sizing: border-box;
  margin-top: 60px;
  
  h2{
    color: #0d2038;
  }
  .btn{
    padding: 0;
    line-height: 48px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    border-radius: 0;
    margin-top: 0;
    background-color: #e9aa2d !important;
    padding: 0 60px;
    text-align: center;
    border-radius: 50px;
    margin: 20px auto 20px;
    &:hover{
        background-color: #0c688c;
    }
  }
  .registerTxt{
    font-size: 16px;
    line-height: 20px;
    color: #6d7784;
    a{
      text-transform: uppercase;
      color: #002e69;
    }
    @media screen and ($mat-xs) {
      font-size: 13px;
      line-height: 18px;
    }
  }
  .mat-checkbox-label{
    color: #496890;
  }

  .loginBoxLogo{
    width: 130px;
    height: 130px;
    //border: solid 3px #0d2038;
    border: solid 3px #fff;
    padding: 7px 10px 10px;
    border-radius:50%;
    margin: 0 auto;
    position: absolute;
    top: -65px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #121f32;
    .logoWrap{
      width: 85px;
      height: 85px;
      margin: 10px auto 0;
      overflow: hidden;
    }
  }


  @media screen and ($mat-xs) {
    width: 300px;
  }
  // form {
  //   mat-error {
  //     margin-left: 32px;
  //   }
  // }

  // login form  heading
  .loginFormHeading {
    position: relative;
    text-align: center;
    &:after,
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      border-bottom: 1px solid mat-color($mat-grey, 500, 0.5);
      width: calc(50% - 50px);
    }
    &:after {
      left: 0;
    }
    &:before {
      right: 0;
    }
    button {
      cursor: inherit;
    }
  }
  h2 {
    text-align: center;
    margin-top: 10px;
  }

  // login form progress bar style
  mat-progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 0 0 4px 4px;
  }
}

// login form input style
mat-form-field {
  .mat-input-prefix {
    margin-right: 10px;
    position: relative;
    bottom: -3px;
    .mat-icon {
      color: mat-color($mat-grey, 600);
    }
  }
  .mat-form-field-infix{
    .forgotLink{
      position: absolute;
      top: 6px;
      right: 0;
      color: #5d7ca3;
      font-size: 12px;
    }
    input[type="password"]{
     padding-right: 100px;
    }
  }
  .mat-input-infix {
    input {
      line-height: 1;
    }
  }
}

// add-row
.add-row {
  &:nth-child(odd) {
    background-color: mat-color($default-app-accent, 50);
  }
  &:nth-child(even) {
    background-color: mat-color($default-app-accent, 50, 0.6);
  }
}

// date picker
.mat-datepicker-toggle-default-icon {
  width: 1.2rem !important;
}

// mat-menu-panel
.mat-menu-panel {
  .mat-menu-content {
    padding: 0;
    .mat-menu-item {
      line-height: 36px;
      height: 36px;
      font-size: 14px;
    }
  }
}

// mat-form-field-type-mat-select
.mat-form-field-type-mat-select {
  .mat-form-field-wrapper {
    padding-bottom: 1.4em;
    .mat-select-trigger {
      height: 1.175em;
    }
  }
}
.rupee {
  &:before {
    content: "\20B9";
    margin-right: 5px;
  }
}

w-clock .w-clock-wrapper .w-clock .w-clock-container mat-toolbar.w-pointer {
  margin: 0 auto !important;
}

mat-sidenav-content {
  @extend .bg-light;
  app-error-404 {
    .wrapper {
      color: mat-color($default-app-warn);
    }
  }
}
.sub-menu{
  .mat-expansion-panel-body{
    padding: 0;
    .mat-list-base{
      padding-top: 1px;
      .mat-list-item-content{
        padding-left: 35px;
      }
      .mat-list-item{
        height: 45px;
        background: mat-color($mat-grey, 300);
      }
    }
  }
}


.comment-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    border-bottom: 1px solid mat-color($mat-grey, 500, 0.4);
    padding-bottom: $spacer;
    margin-bottom: $spacer;
    &:last-child {
      border-bottom: 0;
      margin-bottom: 0;
      padding-bottom: 0;
    }
    .title {
      color: mat-color($default-app-accent, 500);
    }
    .time {
      color: mat-color($mat-grey, 500);
    }
  }
}

// .owl-carousel
.owl-carousel {
  .owl-stage-outer{
    overflow: auto;
    overflow-x: hidden;
    padding-bottom: 26px;
    //margin: 0 30px;
  }
  .owl-nav{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: -1;
    button{
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      &:hover{
        outline: none;
      }
      &.owl-next{
        right: 0;
      }
    }
    span{
      font-size: 35px;
      color: mat-color($default-app-accent, 700);
    }
  }
  .owl-dots {
    text-align: center;
    margin-top: 8px;
    button.owl-dot {
      background: #D6D6D6;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      outline: none;
      margin: 0 4px;
      &.active {
        background: #ebbe2a;
      }
    }
  }
  .arrow-down{
    position: relative;
    border: 1px solid mat-color($default-app-primary);
    &:after{
      width: 35px;
      height: 27px;
      //background: URL('assets/images/active-slide.png') 0 0 no-repeat;
      content: '';
      position: absolute;
      bottom: -27px;
      left: 0;
      right: 0;
      margin: auto;
      background-size: 35px;
    }
  }
}

// cancel order textarea field
.cancel-field {
  textarea {
    min-height: 70px;
    border-bottom: 1px solid mat-color($mat-grey, 200);
    & + .mat-error {
      margin-top: $spacer * 0.25;
    }
  }
}

mat-table mat-header-row.mat-header-row{
  background: mat-color($default-app-primary, 600);
}
.mat-menu-panel.headerMenu {
  min-width: 150px;
}
.mat-sidenav .mat-nav-list{
  padding-top:55px!important;
}



@media (min-width: 769px) and (max-width: 1024px) {

	.entrysrch_table{
		table{
			th, td{
				font-size: 13px;
			}
			td p{
				font-size: 13px;
			}
		}	
	}

}



@media (min-width: 300px) and (max-width: 768px) {
  .container{
    width: 95%;
  }
  .headerdiv{
    padding-bottom: 40px!important;
  }


	
	.table-container {


		.tableScroll{
			overflow-x: auto !important;
			overflow-y: hidden !important;
			.mat-table {
				width: 900px !important;
				.mat-header-cell,
				.mat-cell {
					font-size: 11px;
				}
			}

			table{
				th, td{
					font-size: 11px;
					padding: 10px 5px;
				}
				td p{
					font-size: 11px;
				}
			}
		}

	}

		.entrysrch_table{
			table{
				th, td{
					font-size: 11px;
					padding: 10px 5px;
				}
				td p{
					font-size: 11px;
				}
			}	
		}

.mat-sidenav .mat-nav-list{
  padding-top:10px!important;
}

}

@media (min-width: 2400px) {
  .container {
        max-width: 1920px;
  }
}

@media (min-width: 1200px){
  .container {
      max-width: 1180px;
  }
}

i.material-icons{
  position: relative;
  top: 5px;
}

a.headerMenu{
  padding: 0 4px!important;
}
.mat-menu-item .mat-icon{
  margin:0 4px!important;
  color: rgb(255, 255, 255)!important;
}

.header a.active{
  color:#f0aa17!important;
  font-weight: bold;
}
.header .logo{
  // width: 80px;
  // height: 80px;
}


.mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content{
  padding:0 0 !important;
}
.mat-caro-item{
  cursor: pointer;
}

.dashboard_heading{
  white-space: pre-wrap!important;
  padding-right: 15px;
}

.eco-fab-speed-dial-container{
  top:-83px;
}

i.faClass{
  width: 20px;
  display:inline-block!important;
}
i.fa-tasks, i.fa-list-alt, i.fa-history{
  margin-right: 16px!important;
}
.mat-button.mat-warn{
  background-color:#0d2038;
  color: #fff;
}
// .mat-accent{
//   background-color:#339807;
// }
// .mat-raised-button.mat-primary{
//   background-color:#b71c1c;
// }

