<div class="container-fluid pagewrapper">
	<div class="row">
		<div class="col-md-12  headerdiv">
			<div class="outer_heading">
				<div class="heading">
					<h1>{{ 'AUDIT_TRAIL.TITLE' | translate}} <span></span></h1>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid formbody">
	<!-- <div class="row 

	IJ(99999999999mk">
        <div class="col-md-12">
            <ul>
                <li>
                    <a [routerLink]="['/post-auth/news-add']"><i class="fa fa-plus" aria-hidden="true"></i> {{'AUDIT_TRAIL.Add'|translate}}</a>
                </li>
            </ul>
        </div>
    </div> -->
	<div class="row entity-srchbox formbody">
		<div class="col-md-5">
			<div class="form-group">
				<div class="select-style newselect-style">
					<select class="city" (change)="onChangeUser($event.target.value)">
						<option value="">{{ 'AUDIT_TRAIL.SELECT' | translate }}</option>
						<optgroup *ngFor="let role of adminUserlisting" label="{{role.roleName}}">
							<option *ngFor="let user of role.users" [value]="user.id">{{user.name}} </option>
						</optgroup>
					</select>
				</div>
			</div>
		</div>
		<div class="col-md-5">
			<div class="form-group searchWrap">
				<input type="text" (dateTimeChange)="onDateChange($event)" [owlDateTimeTrigger]="dt"
					placeholder="{{ 'DASHBOARD.DateRange' | translate}}" [selectMode]="'range'" [owlDateTime]="dt"
					[(ngModel)]="dateTimeRange">
				<button type="button" (click)="clearValue($event)" class="crossbutt"><i
						class="material-icons md-16">&#xE14C;</i></button>
				<owl-date-time [pickerType]="'calendar'" #dt></owl-date-time>
			</div>
		</div>
		<!-- <div class="col-md-2">
          <input name="register" type="button" value="{{ 'PROPOSAL_LIST.Search' | translate}}" (click)="projectSearch()" class="serchbutt">
        </div> -->
	</div>
	<div *ngIf="length > 1" class="row entrysrch_table">
		<div class="col-md-12 p-0 restable">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<th width="15%">{{'AUDIT_TRAIL.Page'|translate}}</th>
					<th width="20%">{{'AUDIT_TRAIL.Activity'|translate}}</th>
					<th width="20%">{{'AUDIT_TRAIL.ActionOn'|translate}}</th>
					<th width="15%">{{'AUDIT_TRAIL.Username'|translate}}</th>
					<th width="15%">{{'AUDIT_TRAIL.IPAddress'|translate}}</th>
					<th width="15%">{{'AUDIT_TRAIL.ActivityDate'|translate}}</th>
				</tr>
				<tr
					*ngFor="let data of loglisting | paginate: {itemsPerPage: itemsPerPage, currentPage: p, totalItems: length}">
					<td>
						<p>{{ (data.action_page) | translate}}</p>
					</td>
					<td>
						<p>{{ (data.action_desc) | translate}}</p>
					</td>
					<td>
						<p>{{ data.action_on ? data.action_on : '--'}}</p>
					</td>
					<td>
						<p *ngIf="data.entity_name == null"> {{ data.admin_first_name }} {{ data.admin_last_name }} </p>
						<p *ngIf="data.admin_last_name == null"> {{ data.entity_name }} </p>
					</td>
					<td>
						<p> {{ data.ip_address == "UNKNOWN" ? ('GLOBAL.UNKNOWN' | translate) : data.ip_address }} </p>
					</td>
					<td>
						<p> {{ data.created_at|date:"MM/dd/yyyy" }} </p>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div align="center" *ngIf="length == 0">{{'NEWS_LIST.NoRecordsFound' | translate}}</div>
	<div *ngIf="length > 0" class="row paginationdiv">
		<div class="col-md-12">
			<pagination-controls (pageChange)="paginationFeed($event)"></pagination-controls>
		</div>
	</div>
</div>
<ngx-ui-loader [fgsType]="spinnerType"></ngx-ui-loader>