$spacer: 16px;
$spacer-y: $spacer;
$spacer-x: $spacer;

// margin 0
.m-a-0 { margin:        0 !important; }
.m-t-0 { margin-top:    0 !important; }
.m-r-0 { margin-right:  0 !important; }
.m-b-0 { margin-bottom: 0 !important; }
.m-l-0 { margin-left:   0 !important; }
.m-x-0 { margin-right:  0 !important; margin-left:   0 !important; }
.m-y-0 { margin-top:    0 !important; margin-bottom: 0 !important; }

// margin
.m-a { margin:        $spacer !important; }
.m-t { margin-top:    $spacer-y !important; }
.m-r { margin-right:  $spacer-x !important; }
.m-b { margin-bottom: $spacer-y !important; }
.m-l { margin-left:   $spacer-x !important; }
.m-x { margin-right:  $spacer-x !important; margin-left: $spacer-x !important; }
.m-y { margin-top:    $spacer-y !important; margin-bottom: $spacer-y !important; }
.m-x-auto { margin-right: auto !important; margin-left: auto !important; }

// margin md
.m-a-md { margin:        ($spacer * 2) !important; }
.m-t-md { margin-top:    ($spacer-y * 2) !important; }
.m-r-md { margin-right:  ($spacer-y * 2) !important; }
.m-b-md { margin-bottom: ($spacer-y * 2) !important; }
.m-l-md { margin-left:   ($spacer-y * 2) !important; }
.m-x-md { margin-right:  ($spacer-x * 2) !important; margin-left:   ($spacer-x * 2) !important; }
.m-y-md { margin-top:    ($spacer-y * 2) !important; margin-bottom: ($spacer-y * 2) !important; }

// margin lg
.m-a-lg { margin:        ($spacer * 3) !important; }
.m-t-lg { margin-top:    ($spacer-y * 3) !important; }
.m-r-lg { margin-right:  ($spacer-y * 3) !important; }
.m-b-lg { margin-bottom: ($spacer-y * 3) !important; }
.m-l-lg { margin-left:   ($spacer-y * 3) !important; }
.m-x-lg { margin-right:  ($spacer-x * 3) !important; margin-left:   ($spacer-x * 3) !important; }
.m-y-lg { margin-top:    ($spacer-y * 3) !important; margin-bottom: ($spacer-y * 3) !important; }

// padding
.p-a { padding:        $spacer !important; }
.p-t { padding-top:    $spacer-y !important; }
.p-r { padding-right:  $spacer-x !important; }
.p-b { padding-bottom: $spacer-y !important; }
.p-l { padding-left:   $spacer-x !important; }
.p-x { padding-right:  $spacer-x !important; padding-left:   $spacer-x !important; }
.p-y { padding-top:    $spacer-y !important; padding-bottom: $spacer-y !important; }

// padding sm
.p-a-sm { padding:        ($spacer * 1.5) !important; }
.p-x-sm { padding-right:  ($spacer-x * 1.5) !important; padding-left:   ($spacer-x * 1.5) !important; }
.p-y-sn { padding-top:    ($spacer-y * 1.5) !important; padding-bottom: ($spacer-y * 1.5) !important; }

// padding md
.p-a-md { padding:        ($spacer * 2) !important; }
.p-t-md { padding-top:    ($spacer-y * 2) !important; }
.p-r-md { padding-right:  ($spacer-y * 2) !important; }
.p-b-md { padding-bottom: ($spacer-y * 2) !important; }
.p-l-md { padding-left:   ($spacer-y * 2) !important; }
.p-x-md { padding-right:  ($spacer-x * 2) !important; padding-left:   ($spacer-x * 2) !important; }
.p-y-md { padding-top:    ($spacer-y * 2) !important; padding-bottom: ($spacer-y * 2) !important; }

// padding lg
.p-a-lg { padding:        ($spacer * 3) !important; }
.p-t-lg { padding-top:    ($spacer-y * 3) !important; }
.p-r-lg { padding-right:  ($spacer-y * 3) !important; }
.p-b-lg { padding-bottom: ($spacer-y * 3) !important; }
.p-l-lg { padding-left:   ($spacer-y * 3) !important; }
.p-x-lg { padding-right:  ($spacer-x * 3) !important; padding-left:   ($spacer-x * 3) !important; }
.p-y-lg { padding-top:    ($spacer-y * 3) !important; padding-bottom: ($spacer-y * 3) !important; }

// Padding 0
.p-a-0 { padding:        0 !important; }
.p-t-0 { padding-top:    0 !important; }
.p-r-0 { padding-right:  0 !important; }
.p-b-0 { padding-bottom: 0 !important; }
.p-l-0 { padding-left:   0 !important; }
.p-x-0 { padding-left:   0 !important; padding-right: 0 !important; }
.p-y-0 { padding-top:    0 !important; padding-bottom: 0 !important; }


// display
.d-block{ display: block !important;}

// transform
.text{
	&-lowercase { text-transform: lowercase !important;}
	&-uppercase { text-transform: uppercase !important;}
	&-capitalize { text-transform: capitalize !important;}
}

.text-decoration{
	&-none{ text-decoration: none !important;}
}

// text align
.text{
	&-left{ text-align: left;}
	&-right{ text-align: right;}
	&-center{ text-align: center;}
}

// font-weight
.font-weight{
	&-100{ font-weight: 100 !important;}
	&-200{ font-weight: 200 !important;}
	&-300{ font-weight: 300 !important;}
	&-400{ font-weight: 400 !important;}
	&-500{ font-weight: 500 !important;}
	&-600{ font-weight: 600 !important;}
	&-700{ font-weight: 700 !important;}
	&-800{ font-weight: 800 !important;}
	&-900{ font-weight: 900 !important;}
}

// position
.position{
	&-relative{ position: relative;}
	&-absolute{ position: absolute;}
	&-fixed{ position: fixed;}
}

// dialog
.dialog{
	&-xs{width: 320px;}
	&-sm{width: 640px;}
	&-md{ width: 768px;}
	&-lg{ width: 100%;}
}

.btn-start {
	font-size: 20px !important;
	line-height: 46px !important;
}

// btn
.mat-fab,
eco-fab-speed-dial{
	&.btn-sticky{
		position: fixed;
		right: 25px;
		bottom: 10px;
		z-index: 3;
	}
}

// bg
.bg{
	&-light{ background: mat-color($mat-grey, 100) !important;}
	&-dark{ background: mat-color($mat-grey, 900) !important;}
}

// section
section{
	&.p-a-md{
		@media only screen and (max-width: 1024px) {
			padding: $spacer !important;
		}
	}
}


.fullWidth {
	width: 100%;
}

.fxLayoutWrap{
	flex-wrap: wrap;
}

// placeholder
.placeholder{
	background: url(src/assets/images/placeholder.png) no-repeat 50% 50%;
	background-size: 30% auto;
}

.item-image{
	width: 34px;
	height: 34px;
	border-radius: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	// border: 1px solid mat-color($mat-grey, 300);
}
// text-ellipsis
.text-ellipsis{
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.border-radius-0{
	border-radius: 0;
}

// text-color
.text{
	&-accent{ color: mat-color($default-app-accent); }
	&-primary{ color: mat-color($default-app-primary); }
	&-dark{ color: mat-color($mat-grey, 700) !important; }
	&-medium{ color: mat-color($mat-grey, 500) !important; }
	&-black{ color: #000 !important; }
}

// icon
.mat-icon{
	&.icon{
		&-lg{ font-size: $mat-base-font-size*3.5; width: $spacer*3; height: $spacer*3;}
	}
}

// shadow
.shadow{
	box-shadow: 0px $spacer/8 $spacer/2 0 rgba(0, 0, 0, .10) !important;
}

// rounded
.rounded{
	border-radius: $spacer/4 !important;
	&-top{ border-top-left-radius:  $spacer/4 !important; }
	&-right{ border-top-right-radius:  $spacer/4 !important; }
	&-bottom{ border-bottom-right-radius:  $spacer/4 !important; }
	&-left{ border-bottom-left-radius:  $spacer/4 !important; }
}

// overflow
.overflow{
	&-hidden{ overflow: hidden; }
}

// border
.border{
	border: 1px solid mat-color($mat-blue-grey, 100) !important;
	&-top{ border-top: 1px solid mat-color($mat-blue-grey, 100) !important; }
	&-right{ border-right: 1px solid mat-color($mat-blue-grey, 100) !important; }
	&-bottom{ border-bottom: 1px solid mat-color($mat-blue-grey, 100) !important; }
	&-left{ border-left: 1px solid mat-color($mat-blue-grey, 100) !important; }
	&-x{ border-left: 1px solid mat-color($mat-blue-grey, 100) !important; border-right: 1px solid mat-color($mat-blue-grey, 100) !important; }
	&-y{ border-top: 1px solid mat-color($mat-blue-grey, 100) !important; border-bottom: 1px solid mat-color($mat-blue-grey, 100) !important; }

	// theme
	&-primary{ border-color: mat-color($default-app-primary, 500) !important; }
	&-accent{ border-color: mat-color($default-app-accent, 500) !important; }
	&-warn{ border-color: mat-color($default-app-warn, 500) !important; }
	&-light{ border-color: mat-color($mat-blue-grey, 50) !important; }
	&-medium{ border-color: mat-color($mat-grey, 500, .5) !important; }
	&-dark{ border-color: mat-color($mat-blue-grey, 900) !important; }
	&-success{ border-color: mat-color($mat-green, 600) !important; }
	&-warning{ border-color: mat-color($mat-green, 600) !important; }
	&-white{ border-color: rgba(255, 255, 255, .20) !important; }
}


