h1 {
    font-size: 30px;
    font-weight: 600;
}
.formbody{
    padding-top: 20px;
}
.select-style select{
    color: #94908b;
}
.statediv{
    margin-top:18px;
    margin-left: 11PX;
}
.prradio{
    text-align: center;
}
input.registerbutt{
    padding: 10px;
}