/*header*/
.logo {
    margin-bottom: 40px;
    width: 20%;
    position: absolute;
    top: 10px;
    left: 39px;
}
.pagewrapper h1{
    font-size: 30px;
    font-weight: 600;
}

.entrysrch_table th{
    padding:10px 10px;
}

 
.headerdiv{
	// background:url(src/assets/images/header_rept_blueimg.jpg) repeat-x 0 0;
	height: 100%;
	padding-bottom: 0;
}

.paginationdiv{
    padding-bottom: 50px;
}
.highlightRow{
  background-color: rgb(219, 188, 191);
}
.mat-table {
    font-family: 'Montserrat', sans-serif;
}


mat-table mat-header-row.mat-header-row{
  //background: #e0cdcd;
}

.mat-sort-header-arrow{
    margin: 0 0 0 6px;
    color: red;
}
 // datatable
.table-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  overflow: hidden;
  position: relative;
  .mat-table {
    overflow-x: auto;
    .mat-header-cell,
    .mat-cell {
      padding-right: 16px;
      word-break: break-word;
      //color: #212121 !important;
      &:last-child {
        padding-right: 0;
      }
    }
    .mat-header-cell {
      font-weight: 600;
      //color: #013b85 !important;
      // &.mat-column-name{
      //  color: mat-color($mat-grey, 700);
      // }
    }
    // table row

    // column
    .mat-column-image {
      max-width: 50px;
    }
    .mat-column-name {
      font-weight: 600;
      color: mat-contrast(#fafafa, 50);
    }
    .mat-column-select {
      max-width: 30px;
      overflow: inherit;
    }
    .mat-column-actions {
      max-width: 130px;
      text-align: right;
      white-space: nowrap;
      flex: auto;
    }

    // .mat-column-full_name{
    //  max-width: 150px;
    // }
    .mat-column-phone {
      max-width: 80px;
    }
    // .mat-column-email{
    //  max-width: 120px;
    // }
  }
  // pagination
//   .mat-paginator {
//     border-top: 1px solid mat-color(#fafafa, 300);
//   }
}



@media (min-width: 360px) and (max-width: 768px) {
	.logo {
		width:30%;
		left:14px;
	}
}
/*header*/  

ul{
    display: block;
    text-align: center;
}
ul li{
    display:inline-block;
    padding-right: 3px;
    width: 100%;
}
ul li a{
    background-color: #2c2c2c;
    color: #fff;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 47px;
    display: block;
    font-weight: 500;
    padding: 0 10px;
	border-radius: 4px;
	text-align: center;
}
.multibutt ul li a i{
    padding-right: 10px;
}
ul li a:hover{
  background: linear-gradient(90deg, #ec231c 18%, #800020 76%);
	text-decoration: none;
}

.multibutt{
    border-bottom: solid 1px #e5e5e5;
    padding-bottom: 24px;
}
.entity-srchbox{
    padding:38px 0 15px;
    border-bottom: solid 1px #e5e5e5;
}

.entity-srchbox h2{
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    padding-bottom: 25px;
    width: 100%;
}

.newselect-style select{
    padding-left: 22px;
    padding-right: 22px;
}

// table in responsive
table {
    border-collapse: collapse;
     margin: 0;
     padding: 0;
     width: 100%;
    //  table-layout: fixed;
     
   }
   
   table tr td p i{
    padding-right: 5px;
   }
   table tr td p{
       word-wrap: break-word;
   }
   
   table tr {
    border-bottom: 1px solid #ddd;
     padding: .35em;
   }
   table th{
        color: #013b85;
        word-wrap: break-word;
        
   }
   
   table th,
   table td {
	text-align: left;
   }
  
   
   table th {
     text-transform: capitalize;
   }
   
   @media screen and (max-width: 800px) {
     table {
       border: 0;
       
     }
   
   
     table caption {
       font-size: 1.3em;
     }
     
     table thead {
       border: none;
       clip: rect(0 0 0 0);
       height: 1px;
       margin: -1px;
       overflow: hidden;
       padding: 0;
       position: absolute;
       width: 1px;
     }
     
     table tr {
       border-bottom: 3px solid #ddd;
       display: block;
       margin-bottom: .625em;
     }
     
     table td {
       border-bottom: 1px solid #ddd;
       display: block;
       text-align: right;
     }
     table td p{
         text-align: left;
     }
     
     table td::before {
      content: attr(data-label);
       float: left;
       font-weight: bold;
       text-transform: capitalize;
     }
     
     table td:last-child {
       border-bottom: 0;
     }
     
   }
 
   // table in responsive
a.view, a.edit, a.qlt-report{
    width:24px;
	height: 24px;
	font-size: 12px;
    line-height: 24px;
    text-align: center;
	display: inline-block;
	vertical-align: top;
    color: #fff;
    border-radius: 2px;
    margin: 7px 1px 0;
}
a.view{
    background-color: #800020;
}
a.view:hover{
    background-color: #b3002d;  
}
a.edit{
    background-color: #800020;
}
a.edit:hover{
    background-color: #b3002d;  
}
a.qlt-report{
    background-color: #1fb8b3;
}
a.qlt-report:hover{
    background-color: #25d4ce;
}

.paginationdiv{
    width: 400px;
    margin: 45px auto 0;
 }

 th, td {
    text-align: left;
  }

  .searchWrap{
    width: auto;
    position: relative;
    input{
        width: 100%;
        font-size: 15px;
        padding-right: 25px;
        padding-left: 5px;
	}
	.select-style{
		background-position: 90% 50%;
	}
    button{
        position: absolute;
        top: 0;
        right: 2px;
        background: none;
        border: 0;
        outline: none;
		display:none;
		i{
			color: #333;
		}
    }
    &.form-group{
        input{
            padding-right: 30px;
            padding-left: 20px;
        }  
        button{
            top: 7px;
            right: 5px;
        }
	}
	&:hover{
		button{
			display: block;
		}	
	}
	// input:hover+button,
	// select:hover+button{
	//   display:block !important;
    // }
}

 @media (min-width: 767px) and (max-width: 991px) {
    ul li a{
        padding: 0 13px;
    }

    
    .entrysrch_table {
        overflow-x: scroll;
     }
     .entrysrch_table p{
        padding: 0 15px;
    }
    a.view, a.edit{
        margin-bottom: 4px;
    }
    ul.prev_list li a{
        // line-height: 26px;
    }
}

@media (min-width: 300px) and (max-width: 766px) {
   
    ul li a{
        padding:0 16px;
        margin-bottom: 3px;
    }

        .entrysrch_table {
        overflow-x: scroll;
        }
        .entrysrch_table p{
            padding: 0 15px;
        }

        .paginationdiv{
            margin-bottom: 40px;
        }
        a.view{
            margin-bottom: 4px;
        }
    .entity-srchbox h2{
        padding-left: 13px
    }
    .entityselect{
        margin-bottom: 15px;
    }
    a.edit{
        margin-bottom: 5px;
    }
    ul.prev_list{
        line-height: 47px;
	}
	

	.formbody{
		&.entity-srchbox{
			padding-top: 10px;
			.form-group{
				margin-bottom: 20px;
				input[type='text']{
					padding: 10px 5px;
				}
			}
			ul{
				li{
					padding: 0;
					a{
						padding: 0 5px;
					}
				}
			}
		}
	}
}

