<!-- heading start -->
<div class="container pagewrapper">
	<div class="row">
		<div class="col-md-12  headerdiv">
			<div class="outer_heading">
				<div class="heading" *ngIf="router.url == '/post-auth/proposal-list'">
					<h1> {{ 'PROPOSAL_LIST.TITLE' | translate}}<span></span></h1>
				</div>
			</div>
		</div>
	</div>
	<div class="row entity-srchbox formbody" (keydown)="keyDownFunction($event)">
		<div class="col-12 col-md-12 col-xl-12" *ngIf="loggedUserRole==='analysts' || loggedUserRole==='analyst-2'">
			<div class="form-group">
				<label class="opentxt">&nbsp;</label>
				<div class="custom-control custom-checkbox">
						<input #selfAssign
						    id="selfAssign" 
						    type="checkbox" 
						    [checked]="saveAssign" 
						    (change)="onChangeAssign(selfAssign.checked)" class="custom-control-input">
					<label class="custom-control-label" for="selfAssign">{{ 'GLOBAL.MYASSIGNEDPROPOSAL' | translate}}</label>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-7 col-xl-6">
			<div class="form-group searchWrap">
				<input type="text" id="" [(ngModel)]="searchString"
					placeholder="{{ 'PROPOSAL_LIST.Enterthesearchfield' | translate}}">
				<button type="button" (click)="clear('string')" class="crossbutt"><i
						class="material-icons md-16">&#xE14C;</i></button>
			</div>
		</div>
		<div class="col-7 col-md-4 col-xl-3" style="margin-right: 0;" *ngIf="loggedUserType===0">
			<ul class="prev_list">
				<li><a href="javascript:void(0)" (click)="exportAsXLSX()"> <i class="fa fa-file-excel-o"
							aria-hidden="true"></i> {{ 'GLOBAL.EXPORT' | translate}}</a></li>
			</ul>
		</div>
		<div class="col-md-4">
			<div class="form-group searchWrap">
				<div class="select-style newselect-style">
					<select class="city" (change)="onSelectProject($event.target.value)" [(ngModel)]="searchProject">
						<option value="">{{ 'GLOBAL.SELECT' | translate }}</option>
						<option *ngFor="let item of Projectlisting" [value]="item.id">
							{{ language==='en' ? item.projectNameEn : item.projectNameEs}}</option>
					</select>
					<button type="button" (click)="clear('project')" class="crossbutt"><i
							class="material-icons md-16">&#xE14C;</i></button>
				</div>
			</div>
		</div>
		<div class="col-md-4"
			*ngIf="loggedUserRole==='system-admin' || loggedUserRole==='sub-admin' || evaluationstatus">
			<div class="form-group searchWrap">
				<div class="select-style newselect-style">
					<select class="city" (change)="onChangeStatus($event.target.value)" [(ngModel)]="searchStatus">
						<option value="">{{ 'GLOBAL.SELECT' | translate }}</option>
						<option *ngFor="let item of Statuslisting" [value]="item.key">
							{{ ('KEY.' + item.value ) | translate }}</option>
					</select>
					<button type="button" (click)="clear('status')" class="crossbutt"><i
							class="material-icons md-16">&#xE14C;</i></button>
				</div>
			</div>
		</div>
		<div class="col-md-4"
			*ngIf="loggedUserRole==='system-admin' || loggedUserRole==='sub-admin' || evaluationstatus">
			<div class="form-group searchWrap">
				<input type="text" (dateTimeChange)="onDateChange($event)" [owlDateTimeTrigger]="dt"
					placeholder="{{ 'DASHBOARD.DateRange' | translate}}" [selectMode]="'range'" [owlDateTime]="dt"
					[(ngModel)]="dateTimeRange">
				<button type="button" (click)="clear('range')" class="crossbutt"><i
						class="material-icons md-16">&#xE14C;</i></button>
				<owl-date-time [pickerType]="'calendar'" #dt></owl-date-time>
			</div>
		</div>
		<div class="col-5 col-md-2 col-xl-2">
			<input name="register" type="button" value="{{ 'PROPOSAL_LIST.Search' | translate}}"
				(click)="proposalSearch()" class="serchbutt">
		</div>
		
	</div>
	<div class="row entity-srchbox formbody">
	</div>
</div>
<!-- heading end -->
<!-- Table start -->
<section class="p-a-md3">
	<div class="table-container shadow white-box">
		<div class="tableScroll">
			<mat-table [hidden]="proposallisting.length > 0" [dataSource]="dataSource" matSort
				
				>
				<ng-container >
					<ng-container matColumnDef="proposal_unique_id">
						<mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'PROPOSAL_LIST.APP_ID' | translate}}
						</mat-header-cell>
						<mat-cell *matCellDef="let row">
							<div *ngIf="row.proposal_unique_id != '' || row.proposal_unique_id != null">
								{{row.proposal_unique_id}}
							</div>
							<div *ngIf="row.proposal_unique_id == '' || row.proposal_unique_id == null">
								{{ 'GLOBAL.NOT_AVAILABLE' | translate }}</div>
						</mat-cell>
					</ng-container>
					<ng-container matColumnDef="entity_name">
						<mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'PROPOSAL_LIST.ENTITY_NAME' | translate}}
						</mat-header-cell>
						<mat-cell *matCellDef="let row">
							<div *ngIf="row.entity_name != '' || row.entity_name != null">{{row.entity_name}}
							</div>
							<div *ngIf="row.entity_name == '' || row.entity_name == null">
								{{ 'GLOBAL.NOT_AVAILABLE' | translate }}</div>
						</mat-cell>
					</ng-container>
					<ng-container matColumnDef="city">
						<mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'PROPOSAL_LIST.City' | translate}}
						</mat-header-cell>
						<mat-cell *matCellDef="let row">
							<div *ngIf="row.city != '' || row.city != null">{{row.city}}
							</div>
							<div *ngIf="row.city == '' || row.city == null">
								{{ 'GLOBAL.NOT_AVAILABLE' | translate }}</div>
						</mat-cell>
					</ng-container>
					<ng-container matColumnDef="projectNameEn" *ngIf="language =='en'">
						<mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'PROPOSAL_LIST.ProjectName' | translate}}
						</mat-header-cell>
						<mat-cell *matCellDef="let row">
							<div *ngIf="row.projectNameEn != '' || row.projectNameEn != null">{{row.projectNameEn}}
							</div>
							<div *ngIf="row.projectNameEn == '' || row.projectNameEn == null">
								{{ 'GLOBAL.NOT_AVAILABLE' | translate }}</div>
						</mat-cell>
					</ng-container>
					<ng-container matColumnDef="projectNameEs" *ngIf="language =='es'">
						<mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'PROPOSAL_LIST.ProjectName' | translate}}
						</mat-header-cell>
						<mat-cell *matCellDef="let row">
							<div *ngIf="row.projectNameEs != '' || row.projectNameEs != null">{{row.projectNameEs}}
							</div>
							<div *ngIf="row.projectNameEs == '' || row.projectNameEs == null">
								{{ 'GLOBAL.NOT_AVAILABLE' | translate }}</div>
						</mat-cell>
					</ng-container>
					<!-- <ng-container matColumnDef="assignUser" *ngIf="loggedUserRole==='system-admin' || loggedUserRole =='sub-admin' || loggedUserRole =='analysts' || loggedUserRole =='analyst-2'"> -->
					<ng-container matColumnDef="assignUser">
						<mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'PROPOSAL_LIST.assignUser' | translate}}
						</mat-header-cell>
						<mat-cell *matCellDef="let row">
							<div *ngIf="row.assignUser">{{row.assignUser.admin_first_name}}
								{{row.assignUser.admin_last_name}}
							</div>
							<div *ngIf="!row.assignUser">--</div>
						</mat-cell>
					</ng-container>
					<ng-container matColumnDef="approved_grant">
						<mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'PROPOSAL_LIST.FINAL_GRANT' | translate}}
						</mat-header-cell>
						<mat-cell *matCellDef="let row">
							<div *ngIf="row.approved_grant">${{ row.approved_grant }}
							</div>
							<div *ngIf="!row.approved_grant">--</div>
						</mat-cell>
					</ng-container>
					<ng-container matColumnDef="app_status_txt" *ngIf="language =='en'">
						<mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'PROPOSAL_LIST.APP_STATUS' | translate}}
						</mat-header-cell>
						<mat-cell *matCellDef="let row">
							<div>{{row.app_status_txt}}</div>
						</mat-cell>
					</ng-container>
					<ng-container matColumnDef="app_status_txt_es" *ngIf="language =='es'">
						<mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'PROPOSAL_LIST.APP_STATUS' | translate}}
						</mat-header-cell>
						<mat-cell *matCellDef="let row">
							<div>{{row.app_status_txt_es}}</div>
						</mat-cell>
					</ng-container>
					<ng-container matColumnDef="date">
						<mat-header-cell *matHeaderCellDef mat-sort-header>
							{{ 'PROPOSAL_LIST.APP_SUBMITTED_ON' | translate}}
						</mat-header-cell>
						<mat-cell *matCellDef="let row">
							<div *ngIf="row.date != '' || row.date != null">{{row.date | date: 'MM/dd/yyyy'}}
							</div>
							<div *ngIf="row.date == '' || row.date == null">
								{{ 'GLOBAL.NOT_AVAILABLE' | translate }}</div>
						</mat-cell>
					</ng-container>
					<ng-container matColumnDef="updated_at">
						<mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'PROPOSAL_LIST.LAST_UPDATED_ON' | translate}}
						</mat-header-cell>
						<mat-cell *matCellDef="let row">
							<div *ngIf="row.updated_at != '' || row.updated_at != null">
								{{row.updated_at | date: 'MM/dd/yyyy'}}
							</div>
							<div *ngIf="row.updated_at == '' || row.updated_at == null">
								{{ 'GLOBAL.NOT_AVAILABLE' | translate }}</div>
						</mat-cell>
					</ng-container>
					<ng-container matColumnDef="view">
						<mat-header-cell *matHeaderCellDef>{{ 'PROPOSAL_LIST.ACTION' | translate}}</mat-header-cell>
						<mat-cell class="actionCell" *matCellDef="let row">
	
							<a title="{{ 'ROLETYPE.proposal-edit' | translate}}" href="javascript:void(0)" class="edit" (click)="goToLink(row.id, row.project_id)"
								*ngIf="loggedUserType===1 && (row.application_status == 0 || row.application_status == 3)">
								<i class="fa fa-pencil" aria-hidden="true"></i>
							</a>
	
							<a title="{{ 'ROLETYPE.proposal-edit' | translate}}" href="javascript:void(0)" class="edit" (click)="goToLink(row.id ,row.project_id )"
								*ngIf="loggedUserType===1 && row.notifyUser == 1 && (row.application_status == 1 || row.application_status == 2) && row.requested_grant > row.approved_grant && row.approved_grant != 0 && row.approved_grant != null">
								<i class="fa fa-pencil" aria-hidden="true"></i>
							</a>
	
							<a title="{{ 'PROPOSAL.REQUEST_REPROGRAM' | translate}}" href="javascript:void(0)" class="view" (click)="goToLink(row.id ,row.project_id )"
								*ngIf="loggedUserType===1 && row.application_status==5 && row.reprogramCount<5">
								<i class="fa fa-retweet" aria-hidden="true"></i>
							</a>
	
							<!-- <a href="javascript:void(0)" class="edit" (click)="goToLink(row.id)" *ngIf="loggedUserType===0 && loggedUserRole!=='inspectors'  && loggedUserRole!=='analysts'">
				  <i class="fa fa-pencil" aria-hidden="true">+++</i>
				</a> -->
	
							<!-- <a href="javascript:void(0)" class="edit" (click)="goToLink(row.id)" *ngIf="loggedUserRole==='system-admin' || loggedUserRole==='sub-admin'">
				  <i class="fa fa-pencil" aria-hidden="true"></i>
				</a> -->
	
							<!-- for Admin and Sub Admin -->
							<a title="{{ 'ROLETYPE.proposal-edit' | translate}}" href="javascript:void(0)" class="edit" (click)="goToLink(row.id, row.project_id)"
								*ngIf="editstatus && loggedUserType===0 && (loggedUserRole==='system-admin' || loggedUserRole==='sub-admin')">
								<i class="fa fa-pencil" aria-hidden="true"></i>
							</a>
	
							<!-- for Anaylist and Analyst 2 and for Admin and Sub Admin -->
							<!-- check status user profile update or not -->
							<!-- *ngIf="(editstatus && loggedUserType===0 && (loggedUserRole==='system-admin' || loggedUserRole==='sub-admin'))||((loggedUserRole=='analysts' || loggedUserRole=='analyst-2') && row.application_status==5 && row.reprogramStatus ==0) " -->
							<!--<a title="{{ 'ROLETYPE.new-update' | translate}}" href="javascript:void(0)" class="edit" 	
								*ngIf="row.edit_read===1 && loggedUserRole!='companies'"
								>
								<i class="fa fas fa-bell fa-spin fa-1x" aria-hidden="true" style="color:rgb(189, 221, 9)"></i>
								
							</a>-->
	
							<!-- for Anaylist and Analyst 2 -->
							<!-- {{editstatus}}++{{row.assignUser.id}}=={{loggedUser.id}} -->
							<a title="{{ 'PROPOSAL.REQUEST_REPROGRAM' | translate}}" href="javascript:void(0)" class="view" (click)="goToLink(row.id ,row.project_id )"
								*ngIf="(loggedUserRole=='analysts' || loggedUserRole=='analyst-2') && row.application_status==5 && row.reprogramStatus ==0">
								<i class="fa fa-retweet" aria-hidden="true"></i>
							</a>
	
							<a title="{{ 'ROLETYPE.proposal-edit' | translate}}" href="javascript:void(0)" class="edit" (click)="goToLink(row.id, row.project_id)"
								*ngIf="editstatus && row.assignUser && (row.assignUser.id == loggedUser.id) && (loggedUserRole==='analysts' || loggedUserRole==='analyst-2') && row.reprogramStatus ==1">
								<i class="fa fa-pencil" aria-hidden="true"></i>
							</a>
	
							<a title="{{ 'ROLETYPE.proposal-view' | translate}}" href="javascript:void(0)" class="view" (click)="goToView(row.id, row.project_id)" *ngIf="viewstatus">
								<i class="fa fa-eye" aria-hidden="true"></i>
							</a>
	
	
							<!-- reports  -->
							<a title="{{ 'QUATERLY_REPORT.TITLE1' | translate}}" href="javascript:void(0)" class="qlt-report" (click)="goToReport(row.id,1)"
								*ngIf="row.application_status == 5 && loggedUserRole!=='inspectors'">
								<i class="fa fa-address-card" aria-hidden="true" ></i>
							</a>
							<a title="{{ 'QUATERLY_REPORT.TITLE2' | translate}}" href="javascript:void(0)" class="qlt-report" (click)="goToReport(row.id,2)"
								*ngIf="row.application_status == 5 && loggedUserRole!=='inspectors'">
								<i class="fa fa-address-card" aria-hidden="true"></i>
							</a>
							<a title="{{ 'QUATERLY_REPORT.TITLE3' | translate}}" href="javascript:void(0)" class="qlt-report" (click)="goToReport(row.id,3)"
								*ngIf="row.application_status == 5 && loggedUserRole!=='inspectors'">
								<i class="fa fa-address-card" aria-hidden="true"></i>
							</a>
	
							<a title="{{ 'REFUND.TITLE' | translate}}" href="javascript:void(0)" class="view" (click)="goToRefund(row.id ,row.project_id )"
								*ngIf="row.application_status == 5 && loggedUserRole!=='inspectors'">
								<i class="fa fa-undo" aria-hidden="true"></i>
							</a>
	
							<a href="javascript:void(0)" class="edit" title="{{ 'PROPOSAL.ASSIGN_USER' | translate }}" (click)="openProposalDialog(row)" *ngIf="assignstatus  && loggedUserType===0 ">
								<i class="fa fa-bars" aria-hidden="true"></i>
							</a>
	
						</mat-cell>
					</ng-container>
				</ng-container>
			
				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns;"
				
				[class.highlightRow] ="row.edit_read===1 && loggedUserRole!='companies'"
				></mat-row>
			</mat-table>
		</div>
		<div>
			<mat-paginator [length]="totalItem" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="getNext($event)" [showFirstLastButtons]="true">
		</mat-paginator>
		</div>
	</div>
</section>
<ngx-ui-loader [fgsType]="spinnerType"></ngx-ui-loader>