<app-menu></app-menu>
<app-innear-header (citySrchListner)="citySrchFunc($event)"></app-innear-header>

<div class="pagesubHeaderPan">
	<div class="container-fluid filterTxt px-0">
		<div class="col-12">
			<p>{{totalItem}} {{ 'WEBSITE.MATCHFOUND' | translate}}:
				<!-- <strong *ngIf="category"> {{ ('REGISTRATION.CATEGORY_OPT.' + category ) | translate }}</strong>  -->
			</p>
		</div>
	</div>
</div>

<!-- <div class="container searchList search-results"
      infinite-scroll
      [infiniteScrollDistance]="scrollDistance"
      [infiniteScrollUpDistance]="scrollUpDistance"
      [infiniteScrollThrottle]="throttle"
      (scrolled)="onScrollDown()"
      (scrolledUp)="onUp()"> -->
<div class="container-fluid searchList">
	<div class="row row-eq-height">

		<div class="col-12 col-sm-6 col-md-4 col-xl-3 my-3" *ngFor="let item of searchList">
			<div class="schoolBox">
				<div class="logo">
					<img
						[src]="item.logo_name != null ? imageUrl+item.logo_name : 'assets/images/default-proponent-300x225.jpg'">
				</div>
				<div class="schoolName">
					<h4><a href="javascript:void(0);" (click)="gotoDetails(item)">{{item.entity_name}}</a></h4>
					<div class="location">
						<span class="icon-placeholder icon"></span>
						<p class="text">{{item.physicaladdr1}}</p>
					</div>
				</div>
				<p *ngIf="language == 'en'">{{item.projectNameEn}}</p>
				<p *ngIf="language == 'es'">{{item.projectNameEs}}</p>

				<div class="filterPan">
					<span>{{item.city}}</span>
					<span>{{item.community}}</span>
					<span *ngFor="let data of jsonDecode(item.population)">{{data.value}}</span>
					<span *ngIf="item.categories == 0">{{ 'PROPOSAL.MALE' | translate }}</span>
					<span *ngIf="item.categories == 1">{{ 'PROPOSAL.FEMALE' | translate }}</span>
					<span *ngIf="item.categories == 2">{{ 'PROPOSAL.BOTH' | translate }}</span>
				</div>
				<div class="contactPan row">
					<div class="col-6 divider">
						<a href="{{'mailto:'+item.email}}"><span
								class="icon-arroba-symbol"></span>{{ 'WEBSITE.EMAILUS' | translate }}</a>
					</div>
					<div class="col-6"><a href="{{'tel:'+item.phone}}"><span
								class="icon-call"></span>{{ 'WEBSITE.CALLUS' | translate }}</a></div>
				</div>
			</div>
		</div>
		<mat-paginator [length]="totalItem" #paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="getNext($event)" [showFirstLastButtons]="true">
		</mat-paginator>
		<!-- <div class="centerDiv" *ngIf="!totalItem">
            <h5>{{ 'GLOBAL.NoRecordsFound' | translate }}</h5>
        </div> -->
	</div>
</div>

<ngx-ui-loader [fgsType]="spinnerType"></ngx-ui-loader>
<app-footer-website></app-footer-website>