
.contactLeft{
    h3{
        margin-bottom: 45px;
    }
}
.contactWrap{
    min-height: 100%;
    min-height: 100vh;
    border-top: solid 1px #cecece;
    padding: 2% 5% 0 5%;
     //padding: calc(5px + 5vw) calc(5px + 5vw) 0 calc(10px + 10vw);
    
}
.contactLeft{
    // padding: 7% 5% 0 5%;
    // padding: calc(5px + 5vw) calc(5px + 5vw) 0 calc(10px + 10vw);
    

    input[type="text"], 
    textarea{
        padding: 8px 0 8px 5px;
        border: 0;
        border-bottom: solid 1px #bebebe;
        width: 100%;
        font-size: 17px;
        line-height: 20px;
        color: #363636;
        font-weight: 300;
        border-radius: 0;
        margin-bottom: 20px;
    }
    .btn{
        background: #fcbc35;
        color: #363636;
        border-radius: 50px;
        padding: 0 60px;
        line-height: 62px;
        font-size: 18px;
        font-weight: 600;
        margin-top: 40px;
        float: right;
       
    }
    .form-control:focus {
        border-color: #000;
        box-shadow: none;
    }
    .inside_left{
        background: #800020;
        padding:30px;
       
        overflow: hidden;
    }
    .text-danger {
        color: #ffffff!important;
    }
}

.contactRight{
    // background-color: #f1f1f1;
    min-height: 100%;
    min-height: 100vh;
    

    .contactTxt{
        padding: 4% 5% 0 4%;
        padding: calc(5px + 3vw) calc(10px + 7vw) 0 calc(5px + 5vw);

        h5{
            font-size: 17px;
            line-height: 20px;
            font-weight: 700;
            text-transform: uppercase;
            color: #4e4e4e;
            font-family: 'Poppins', sans-serif;
        }
        p{
            font-size: 15px;
            line-height: 22px;
            color: #4e4e4e;
            strong{
                font-weight: 600;
            }
            a{
                color: #4e4e4e; 
            }
        }
        .contactNum{
            border-top: solid 1px #ddd;
            border-bottom: solid 1px #ddd;
            padding: 20px 0 5px;
            margin-bottom: 20px;
            p{
				font-weight: 600;
				span{
					display: block;
					padding:0 0 5px 30px;
					&.iconPhone{
						background:url(src/assets/images/icon-phone.png) no-repeat 0 0;
					}
					&.iconFax{
						background:url(src/assets/images/icon-fax.png) no-repeat 0 0;
					}
				}
            }
		}
		.iconMail{
			padding:0 0 0 30px;
			background:url(src/assets/images/icon-mail.png) no-repeat 0 50%;
		}
    }

}


// Start 768px to 300px
@media screen and (max-width:768px) and (min-width:300px) {

    .contactWrap{
        min-height: auto;
    }
    .contactRight{
		min-height: auto;
		.contactTxt{
			.contactNum{
				p{
					font-size: 13px;
				}
			}
		}
    }
    .contactLeft{
        padding-left: 15px;
        padding-right: 15px;
        overflow: hidden;
        h3{
            margin-bottom: 25px;
        }
        .btnWrap{
            text-align: center;
            .btn{
                margin-top: 20px;
                padding: 0 30px;
                line-height: 50px;
                font-size: 14px;
            }
        }
        input[type="text"], 
        textarea{
            font-size: 14px;
            line-height: 20px;
        }
    }
    
}
// End 768px to 300px