<mat-toolbar color="primary">
    <span class="mat-title m-a-0">{{ 'CHANGE_PASS.TXT_CAPTION' | translate }}</span>
    <span fxFlex></span>
    <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</mat-toolbar>
<form class="example-form" [formGroup]="changePasswordform" (ngSubmit)="changePassword(changePasswordform.value)">
    <mat-dialog-content class="p-y">
        <div fxLayout="column">
            <mat-form-field fxFlex color="accent" class="m-b">
                <input type="password" matInput placeholder="{{ 'CHANGE_PASS.CURRENT_PASSWORD' | translate }}"
                formControlName="oldPassword">
                <mat-error>
                {{ 'CHANGE_PASS.CURRENT_PASSWORD' | translate }}
                </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex color="accent" class="m-b">
                <input type="password" matInput placeholder="{{ 'CHANGE_PASS.NEW_PASSWORD' | translate }}"
                formControlName="password">
                <mat-error *ngIf="changePasswordform.controls['password'].errors && changePasswordform.controls['password'].errors.required">
                  {{ 'CHANGE_PASS.ERROR_PASS' | translate }}
                </mat-error>
                <mat-error *ngIf="changePasswordform.controls['password'].errors && changePasswordform.controls['password'].errors.minlength">
                  {{ 'CHANGE_PASS.ERROR_PASSWORD_MINLENGTH' | translate }}
                </mat-error>
                <mat-error *ngIf="changePasswordform.controls['password'].errors && changePasswordform.controls['password'].errors.pattern">
                    {{ 'CHANGE_PASS.BLANKSPACE' | translate }}
                </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex color="accent" class="m-b">
                <input type="password" matInput placeholder="{{ 'CHANGE_PASS.CON_PASS' | translate }}"
                formControlName="confirmPassword">
                <mat-error *ngIf="changePasswordform.controls['confirmPassword'].errors && changePasswordform.controls['confirmPassword'].errors.required">
                  {{ 'CHANGE_PASS.ERROR_CON_PASS' | translate }}
                </mat-error>
                <mat-error *ngIf="changePasswordform.controls['confirmPassword'].errors && changePasswordform.controls['confirmPassword'].errors.mustMatch">
                  {{ 'CHANGE_PASS.ERROR_CONF_PASSWORD_NOT_MATCH' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions fxLayoutAlign="end start">
        <button mat-button mat-dialog-close color="warn">{{ 'GLOBAL.CLOSE' | translate }}</button>
        <button mat-raised-button color="accent" [disabled]="!changePasswordform.valid">{{ 'GLOBAL.SUBMIT' | translate }}</button>
    </mat-dialog-actions>
</form>